@import "../_partials/globals";

.icon-picker-container {
	display: none;
	width: 230px;
	z-index: 500;
	font-size: 10px;
	position: absolute;
	background: transparent;

	.ui-tabs .ui-tabs-panel {
		padding: 0;
	}

	.ui-widget-content {
		border: 0;
	}

	.tab-content {
		height: 400px;
	}

	.icons-bottom-tabs {
		border: 1px solid $border-color;

		.ui-tabs-nav {
			clear: left;
			padding: 0 0.2em 0.2em 0.2em;

			li {
				top: auto;
				bottom: 0;
				margin: 0 0.2em 1px 0;
				border-top: 0;
			}

			.ui-tabs-active {
				margin-top: -1px;
				padding-top: 1px;
			}
		}
	}

	.icon-filter {
		margin: 2px auto;
		width: 150px;

		.search {
			border-radius: 4px;
			width: 150px;
		}
	}

	.preview-container {
		float: left;
		text-align: center;
		font-size: 100%;
		margin: 10px 10px 0 10px;
		padding: 3px;
		border: 1px solid #ccc;
		transform-style: preserve-3d;

		i {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	.preview {
		overflow: hidden;
		width: 55px;
		height: 50px;
	}

	.actions-container {
		margin: 10px;

		.action-btn {
			display: block;
			margin: 10px 0;
			text-align: center;
			padding: 10px;
			background-color: #6c60ba;
			color: #fff;
			font-weight: bold;
			overflow: hidden;
			text-decoration: none;
			border-radius: 4px;

			&:hover {
				background-color: #9e2a81;
			}
		}
	}

	.icons-container {
		border: 1px solid #ccc;
		text-align: center;
		position: relative;
		width: auto;
	}

	.icons {
		position: relative;
		height: 150px;
		overflow: hidden;
		overflow-y: auto;

		p {
			clear: left;
			font-weight: bold;
			margin: 20px 4px;
			font-size: 14px;
			color: #c3f;
		}

		a {
			width: 28px;
			height: 32px;
			line-height: 32px;
			font-size: 14px;
			float: left;
			display: block;

			&:hover {
				background-color: #fbf4f4;
				color: blue;

				:before {
					font-size: 28px;
					vertical-align: -5px;
					color: blue;
				}
			}
		}

		.icon-selected {
			color: #ffffff;
			background-color: #21b384;
		}
	}

	.cats-container {
		position: relative;
		clear: both;

		a {
			padding: 4px;
			margin: 2px 0;
			font-weight: bold;
			font-size: 10px;
			background-color: #ccc;
			border-radius: 4px;
			position: relative;
			display: inline-block;
			width: auto;
		}
	}

	fieldset {
		border: 0;
		margin: 8px;

		dt {
			width: 30%;
		}

		dd {
			margin-left: 31%;
		}
	}

	ul {
		margin: 0;
		padding: 0;

		li {
			display: inline;

			.icons-color-container {
				position: relative;
				display: inline-block;
				border: 1px solid #ccc;
				cursor: pointer;
				padding: 1px;
			}

			.selected {
				border: 2px solid #333;
			}

			.icons-color-container .color {
				display: block;
				font-size: 12px;
				width: 13px;
			}

			input {
				display: none;
			}
		}
	}

	.icons-drop {
		border: 1px solid #ccc;
		border-bottom: 0;
		margin-bottom: -5px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		z-index: 5000;
	}

	.bg-blue {
		background-color: $icon-color-blue;
	}

	.bg-gray {
		background-color: $icon-color-grey;
	}

	.bg-green {
		background-color: $icon-color-green;
	}

	.bg-orange {
		background-color: $icon-color-orange;
	}

	.bg-purple {
		background-color: $icon-color-purple;
	}

	.bg-red {
		background-color: $icon-color-red;
	}
}
