{% if loops.tree|length %}
<nav class="forumbg sm-menu">
	<label for="sm-tm" class="sm-toggle-menu">{{ lang('SM_NAVIGATION') }} <span class="drop-icon">&#9660;</span></label>
	<input type="checkbox" class="sm-tm" id="sm-tm">
	<ul class="main-menu sm-clearfix">
	{% for tree in loops.tree %}
		{% if tree.THIS_DEPTH > tree.PREV_DEPTH %}
			<label title="{{ lang('SM_TOGGLE_DROPDOWN') }}" class="drop-icon" for="{{ 'sm' ~ loop.index }}">&#9660;</label>
			<input type="checkbox" id="{{ 'sm' ~ loop.index }}">
			<ul class="sub-menu">
		{% else %}
		{% for close in tree.close %}
			</ul>
		</li>
		{% endfor %}
		{% endif %}
		<li{% if tree.IS_CURRENT or tree.IS_PARENT %} class="forabg active"{% endif %}>
			<a href="{{ tree.FULL_URL|default('#') }}"{% if tree.ITEM_TARGET %} target="_blank" rel="noopener" rel="noreferrer"{% endif %}>
				<i class="{{ tree.ITEM_ICON }}fa-fw" aria-hidden="true"></i>
				{{ tree.ITEM_TITLE }}{% if tree.NUM_KIDS %}<span class="drop-icon">{{ tree.THIS_DEPTH ? '&#9654;' : '&#9660;' }}</span>{% endif %}
			</a>
		{% if tree.NUM_KIDS == 0 %}
		</li>
		{% endif %}
	{% endfor %}
	    {% for close_tree in loops.close_tree %}
	    	</ul>
	    </li>
	    {% endfor %}
	</ul>
</nav>
{% endif %}