{% INCLUDE 'overall_header.html' %}

{% INCLUDECSS '@blitze_sitemaker/assets/tree/group.min.css' %}

{% INCLUDEJS '@blitze_sitemaker/assets/runtime.min.js' %}
{% INCLUDEJS '@blitze_sitemaker/assets/tree/group.min.js' %}
{% INCLUDEJS '@blitze_sitemaker/assets/menu/admin.min.js' %}

{% INCLUDECSS 'https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.css' %}
{% INCLUDEJS 'https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js' %}

<a id="maincontent"></a>

<a data-fancybox data-type="iframe" class="pull-right" href="https://blitze.github.io/phpBB-ext-sitemaker/docs/{{ SM_USER_LANG }}/introduction"><i class="fa fa-question-circle fa-lg fa-orange"></i></a>

<h1>{{ lang('ACP_MENU_MANAGE') }}</h1>

<p>{{ lang('ACP_MENU_MANAGE_EXPLAIN') }}</p>

{%- set ADD_GROUP = 'ADD_MENU' -%}
{%- set ADD_GROUP_ITEM = 'ADD_MENU_ITEM' -%}
{%- set ADD_BULK_ITEMS = 'ADD_BULK_MENU' -%}
{%- set ADD_BULK_ITEMS_EXPLAIN = 'ADD_BULK_MENU_EXPLAIN' -%}
{%- set DELETE_GROUP = 'DELETE_MENU' -%}
{%- set DELETE_GROUP_CONFIRM = 'DELETE_MENU_CONFIRM' -%}
{%- set DELETE_GROUP_ITEM = 'DELETE_MENU_ITEM' -%}
{%- set DELETE_GROUP_ITEM_CONFIRM = 'DELETE_MENU_ITEM_CONFIRM' -%}
{%- set GROUP_ITEMS = 'MENU_ITEMS' -%}
{%- set NO_ITEMS = 'NO_MENU_ITEMS' -%}

{% include('@blitze_sitemaker/tree_builder.html') %}

<script id="item-template" type="text/x-jquery-tmpl">
	{% verbatim %}
	<li id="item-{{ item_id }}">
		<div class="ui-state-default ui-corner-all">
			<span class="icon-container left">
				<a href="#" id="icon-{{ item_id }}" class="icon-select ui-dialog-titlebar-close ui-corner-all"><i class="{{ item_icon }}"></i></a>
			</span>
			<span class="editable" data-field="item_title">{{ item_title }}</span>
			<input type="checkbox" class="select-item right" />
			<a href="#" id="item-{{ item_id }}" class="right item-delete item-spacing" title="{{ lang('deleteNode') }}"><i class="fa fa-close"></i></a>
			<a href="#" id="item-{{ item_id }}" class="right item-edit item-spacing" title="{{ lang('editNode') }}"><i class="fa fa-cog"></i></a>
			{% if item_url is not empty %}<a href="{{ full_url }}" target="_blank" class="right item-spacing" title="{{ lang('visitPage') }}"><i class="fa fa-external-link"></i></a>{% endif %}
		</div>
	</li>
	{% endverbatim %}
</script>

<div id="dialog-edit-item" class="dialog" title="{{ lang('EDIT_MENU_ITEM') }}" style="display: none;">
				<form id="edit-menu-item-form" name="edit_menu_item_form" style="width: 350px;">
					<fieldset>
						<p class="small">{{ lang('REQUIRED_FIELDS') }}</p><br />
						<dl>
							<dt><label>{{ lang('ITEM_TITLE') }}*</label><br /><span class="small">{{ lang('ITEM_TITLE_EXPLAIN') }}</span></dt>
							<dd><input id="item_title" class="required" type="text" name="item_title" value="" /></dd>
						</dl>
						<dl>
							<dt><label>{{ lang('ITEM_URL') }}</label><br /><span class="small">{{ lang('ITEM_URL_EXPLAIN') }}</span></dt>
							<dd><input id="item_url" type="text" name="item_url" value="" /></dd>
						</dl>
						<dl>
							<dt><label>{{ lang('ITEM_TARGET') }}*</label></dt>
							<dd>
								<input id="item_target" class="required" type="radio" name="item_target" value="0" checked="checked" /> {{ lang('TARGET_PARENT') }}
								<input class="required" type="radio" name="item_target" value="1" /> {{ lang('TARGET_BLANK') }}
							</dd>
						</dl>
					</fieldset>
				</form>
			</div>

{% INCLUDE 'overall_footer.html' %}