<div class="align-center small clearfix"><strong>{{ RANGE }}</strong></div>
<div class="grid header">
	<div class="grid__col grid__col--1-of-2">{{ USER_TITLE }}</div>
	<div class="grid__col grid__col--1-of-2 align-right">{{ INFO_TITLE }}</div>
</div>
<ul class="sm-list">
{% if S_LIST == 'bots' %}
	{% for member in loops.member %}
	<li>{{ member.USERNAME }} - {{ member.USER_INFO }}</li>
	{% endfor %}
{% else %}
	{% for member in loops.member %}
	<li>
		<span class="info">{{ member.USER_INFO }}</span>
		<span class="tiny-avatar">{{ member.USER_AVATAR }} {{ member.USERNAME }}</span>
	</li>
	{% endfor %}
{% endif %}
</ul>