{% if loops.member|length %}
	<div class="align-center small clearfix"><strong>{{ RANGE }}</strong></div>
	<p class="sm-polar small">
		<strong>{{ USER_TITLE }}</strong>
		<strong>{{ INFO_TITLE }}</strong>
	</p>
	<ul class="sm-list">
	{% if S_LIST == 'bots' %}
		{% for member in loops.member %}
		<li>{{ member.USERNAME }} - {{ member.USER_INFO }}</li>
		{% endfor %}
	{% else %}
		{% for member in loops.member %}
		<li>
			<div class="sm-polar">
				<span class="tiny-avatar">{{ member.USER_AVATAR }} {{ member.USERNAME }}</span>
				<span class="info">{{ member.USER_INFO }}</span>
			</div>
		</li>
		{% endfor %}
	{% endif %}
	</ul>
{% endif %}
