#admin-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	z-index: 1000;
	display: none;
}

#admin-options {
	float: left;
	display: block;
	width: 100%;
	height: 38px;
	background-color: #c33;
}

#admin-control {
	position: absolute;
	top: 0;
	right: 0;
	width: 35px;
	height: 38px;
	line-height: 38px;
	background-color: #c33;
	color: #ccc;
	font-weight: bolder;
	font-size: 18px;
	text-align: center;
	z-index: 5000;
}

#admin-control:hover {
	text-decoration: none;
}

#admin-bar .hmenu {
	margin: 0;
	padding: 1px 10px;
	width: auto;
	list-style: none;
}

#admin-bar .hmenu li {
	float: left;
	position: relative;
}

#admin-bar .hmenu li .menu_item {
	float: left;
	padding: 10px;
	color: #ccc;
	text-transform: uppercase;
	font: bold 12px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}

#admin-bar .hmenu li .button {
	margin: 5px 0 5px 5px;
}

#admin-bar .hmenu li .dropped, .hmenu li:hover > .menu_item {
	color: #333;
	background-color: #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#admin-bar .hmenu li .dropped, .hmenu li:hover > .dropped {
	padding-bottom: 14px;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	z-index: 1;
}

#admin-bar .hmenu li .adminbar_dropdown {
	display: none;
	margin-top: 36px;
	margin-left: -6px;
	background-color: #fff;
	border: 1px solid #c33;
	border-top: 0;
	top: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#admin-bar .hmenu .right {
	float: right;
	position: relative;
}

#admin-bar .hmenu .right .spacer {
	width: 35px;
}

#admin-bar .primetime-block {
	margin: 5px;
}

#inline-form {
	display: inline;
}

#css-class-options {
	overflow: auto;
	margin-top: 0;
}

#css-class-options dl {
	display: block;
	height: auto;
}

#add-block-panel {
	position: relative;
}

#add-block-panel .tab-content {
	width: 550px;
	height: 200px;
	overflow: auto;
}

#add-block-panel.ui-widget-content {
	border: 0;
}

.block-admin-button-active {
	background: none;
	background-color: #ffffff;
	border-bottom: 0;
	z-index: 1000
}

.block-tabs-spacer {
	float: left;
}

.block-bottom-tabs .ui-tabs-nav {
	clear: left;
	padding: 0 .2em .2em .2em;
}

.block-bottom-tabs .ui-tabs-nav li {
	top: auto;
	bottom: 0;
	margin: 0 .2em 1px 0;
	border-bottom: auto;
	border-top: 0;
}

.block-bottom-tabs .ui-tabs-nav li.ui-tabs-active {
	margin-top: -1px;
	padding-top: 1px;
}

#pos-sidebar, #pos-subcontent {
	margin-bottom: -5000px;
	padding-bottom: 5000px;
}

#pos-footer .sortable .panel {
	background-color: transparent;
	border: 0;
}

.block-receiver {
	min-height: 55px;
	display: block;
}

.show-positions {
	border: 1px dashed #ccc;
}

.sorting {
	display: block;
	position: relative;
	width: auto !important;
	min-width: 200px;
}

.dragging {
	width: auto !important;
	white-space: nowrap;
}

.horizontal .sorting {
	float: left;
	width: 33% !important;
	position: relative;
}

.horizontal .size1of1 {
	float: left;
	width: 100%;
}

.empty-position {
	display: none;
}

.block-receiver .block {
	position: relative;
}

.block-receiver .block-title {
	height: 20px;
	width: auto;
	max-width: 90%;
	cursor: pointer;
	overflow: visible;
}

.block-receiver .block-title input {
	height: 16px;
	max-width: 85%;
	display: inline-block;
	cursor: pointer;
	cursor: hand;
}

.block-receiver .block-title:hover {
	border: 1px solid #ccc;
}

.block-receiver .block .block-controls {
	display: none;
	position: absolute;
	top: 5px;
	right: 10px;
	width: auto;
}

.block-receiver .block-controls .item-action {
	float: right;
}

.block-receiver .block:hover .block-controls {
	display: block;
}

.block-receiver .block:hover .block-controls a:hover {
	border: 1px solid #ccc;
}

.block-receiver .block-icon {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-right: 2px;
	text-align: center;
	cursor: pointer;
}

.block-receiver .block-icon:hover {
	width: 13px;
	height: 13px;
	border: 1px solid #ccc;
}

.flash-message {
	display: none;
	position: relative;
	border: 2px solid #ccc;
	background-color: #d5f8a0;
	text-align: center;
	overflow: visible;
	width: 100px;
	font-size: 12px;
	line-height: 14px;
	clear: both;
	margin: 0 auto;
	padding: 5px;
	z-index: 1000;
	_zoom: 1;
}