#admin-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	z-index: 1000;
	display: none;
}

#admin-options {
	float: left;
	display: block;
	width: 100%;
	height: 38px;
	background-color: #c33;
}

#admin-bar .hmenu {
	margin: 0;
	padding: 1px 10px;
	width: auto;
	list-style: none;
}

#admin-bar .hmenu li {
	float: left;
	display: block;
	margin-left: 4px;
	text-align: center;
	position: relative;
}

#admin-bar .hmenu li .dropdown {
	margin-right: -500px;
}

#admin-bar .hmenu li .dropdown p {
	display: block;
	margin-top: 1em;
}

#admin-bar .hmenu li .menu-item {
	float: left;
	padding: 10px;
	color: #ccc;
	text-transform: uppercase;
	font: bold 1.2em Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}

#admin-bar .hmenu li .btn,
#admin-bar .hmenu li .menu-item {
	font: bold 1.2em Arial, Helvetica;
}

#admin-bar .hmenu li .btn {
	margin: 5px 0 5px 5px;
}

#admin-bar .hmenu li .dropped, .hmenu li:hover > .menu-item {
	color: #333;
	background-color: #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#admin-bar .hmenu li .dropped, .hmenu li:hover > .dropped {
	padding-bottom: 14px;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	z-index: 1;
}

#admin-bar .hmenu li .dropdown {
	display: none;
	margin-top: 36px;
	margin-left: -6px;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #c33;
	border-top: 0;
	position: absolute;
	top: 0;
	text-align: left;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#admin-bar .hmenu .right {
	float: right;
	position: relative;
}

#admin-bar .hmenu li .spacing {
	width: 25px;
}

#blocks-list {
	margin: 0;
	padding: 0;
	height: 160px;
	overflow: auto
}

#style-options {
	margin-top: 0.8em;
}

.primetime-block {
	float: left;
	margin: 1%;
	padding: 10px;
	border: 1px solid #ccc;
	text-align: center;
	font-weight: bolder;
	width: 27.1%;
	position: relative;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	cursor: move;
}

.primetime-block:hover {
	background-color: #1D9C73;
	color: #fff;
	opacity: 0.8;
}

.primetime-block i {
	float: left;
	color: #1D9C73;
}

#admin-bar .primetime-block:hover i {
	color: #000;
}

#inline-form {
	display: inline;
	font-size: 0.8em;
}

#inline-form input {
	width: 65%;
	cursor: pointer;
	cursor: hand;
}

#css-class-options {
	overflow: auto;
	margin-top: 0;
}

#css-class-options dl {
	display: block;
	height: auto;
}

.block-admin-button-active {
	background: none;
	background-color: #ffffff;
	border-bottom: 0;
	z-index: 1000
}


#pos-sidebar, #pos-subcontent {
	margin-bottom: -5000px;
	padding-bottom: 5000px;
}

#pos-footer .sortable .panel {
	background-color: transparent;
	border: 0;
}

.block-receiver {
	min-height: 55px;
	display: block;
}

.show-positions {
	border: 1px dashed #ccc;
}

.sorting {
	display: block;
	position: relative;
	width: auto !important;
	min-width: 200px;
}

.dragging {
	width: auto !important;
	white-space: nowrap;
}

.horizontal .sorting {
	float: left;
	width: 33% !important;
	position: relative;
}

.horizontal .size1of1 {
	float: left;
	width: 100%;
}

.empty-position {
	display: none;
}

.block-receiver .block {
	position: relative;
}

.block-receiver .block-title {
	height: 20px;
	width: auto;
	max-width: 90%;
	cursor: pointer;
	overflow: visible;
}

.block-receiver .block-title:hover {
	border: 1px solid #d5f8a0;
}

.block-controls,
.block-receiver .block .block-controls {
	display: none;
	position: absolute;
	top: 15px;
	right: 15px;
	width: auto;
}

.block-receiver .block-controls .item-action {
	float: right;
}

.block-receiver .block:hover .block-controls {
	display: block;
}

.block-receiver .block:hover .block-controls a:hover {
	border: 1px solid #ccc;
}

.block-receiver .block-icon {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-right: 2px;
	text-align: center;
	cursor: pointer;
}

.block-receiver .block-icon:hover {
	width: 13px;
	height: 13px;
	border: 1px solid #ccc;
}

#dialog-edit dt span {
	font-size: smaller;
}

.dialog-check-button {
    float: left;
    display: inline-block;
	margin-right: 5px;
	margin-top: 1em;
}

.editable-block:hover {
	border: 1px solid #d5f8a0;
}

.flash-message {
	display: none;
	position: relative;
	border: 2px solid #ccc;
	background-color: #d5f8a0;
	text-align: center;
	overflow: visible;
	width: 100px;
	font-size: 12px;
	line-height: 14px;
	clear: both;
	margin: 0 auto;
	padding: 5px;
	z-index: 1000;
}

