<dl>
	<dt>
		<br />
		<a class="class-cat" href="#classes-lists"><i class="fa fa-caret-right"></i> {L_LISTS}</a><br />
		<a class="class-cat" href="#classes-background"><i class="fa fa-caret-right"></i> {L_BACKGROUND}</a><br />
		<a class="class-cat" href="#classes-images"><i class="fa fa-caret-right"></i> {L_IMAGES}</a><br />
		<a class="class-cat" href="#classes-display"><i class="fa fa-caret-right"></i> {L_DISPLAY}</a>
	</dt>
	<dd id="classes-scroller" class="small" style="height: 100px; overflow: auto; padding-right: 3px">
        <h3 id="classes-lists">{L_LISTS}</h3>
		<a class="transform" href="#">pt-list-flat</a>,
		<a class="transform" href="#">pt-list-arrow</a>,
		<a class="transform" href="#">pt-list-circle</a>,
		<a class="transform" href="#">pt-list-disc</a>,
		<a class="transform" href="#">pt-list-square</a>,
		<a class="transform" href="#">pt-list-numbered</a><br /><br />

		<a class="transform" href="#">pt-list-inline</a>,
		<a class="transform" href="#">pt-list-inline-sep</a><br /><br />

		<a class="transform" href="#">pt-list-hover</a>,
		<a class="transform" href="#">pt-list-striped</a>,
		<a class="transform" href="#">pt-list-stacked</a><br /><br />

		<a class="transform" href="#">list-block-auto</a><br />
		<a class="transform" href="#">list-block-2cols</a><br />
		<a class="transform" href="#">list-block-3cols</a><br />
		<a class="transform" href="#">list-block-4cols</a><br />
		<a class="transform" href="#">list-block-5cols</a><br /><br />

		<a class="transform" href="#">pt-x-divider-dotted</a>,
		<a class="transform" href="#">pt-x-divider-line</a>,
		<a class="transform" href="#">pt-y-divider-dotted</a>,
		<a class="transform" href="#">pt-y-divider-line</a>,

        <h3 id="classes-background">{L_BACKGROUND}</h3>
		<a class="transform" href="#">bg1</a>,
		<a class="transform" href="#">bg2</a>,
		<a class="transform" href="#">bg3</a>,
		<a class="transform" href="#">rules</a>,

        <h3 id="classes-images">{L_IMAGES}</h3>
		<a class="transform" href="#">small-img</a>,
		<a class="transform" href="#">medium-img</a>,
		<a class="transform" href="#">large-img</a>,
		<a class="transform" href="#">landscape-img</a><br /><br />

		<a class="transform" href="#">img-align-left</a>,
		<a class="transform" href="#">img-align-right</a><br /><br />

		<a class="transform" href="#">img-border</a>
		<a class="transform" href="#">img-border-padding</a><br />

        <h3 id="classes-display">{L_DISPLAY}</h3>
		<a class="transform" href="#">align-left</a>,
		<a class="transform" href="#">align-center</a>,
		<a class="transform" href="#">align-right</a><br /><br />

		<a class="transform" href="#">label</a>,
		<a class="transform" href="#">badge</a><br /><br />

		<a class="transform" href="#">blue</a>,
		<a class="transform" href="#">green</a>,
		<a class="transform" href="#">red</a>,
		<a class="transform" href="#">purple</a><br /><br />

		<a class="transform" href="#">no-padding</a><br />
	</dd>
</dl>