<div id="admin-bar">
	<div id="admin-options" style="display: none">
		<ul class="hmenu">
			<li class="hmenu-item ">
				<a id="add-block" class="menu_item has_dropdown" href="#">{L_BLOCKS}</a>
				<div class="adminbar_dropdown">
					<div id="add-block-panel" class="block-bottom-tabs">
						<ul>
							<li><a href="#available-blocks-content">{L_BLOCKS}</a></li>
							<li><a href="#layout-settings-content">{L_SETTINGS}</a></li>
						</ul>
						<div class="block-tabs-spacer"></div>
						<div id="available-blocks-content" class="tab-content">
							<div class="ui-state-default" style="width: auto; text-align: center"><strong>{L_ADD_BLOCK_EXPLAIN}</strong></div>

							<div style="height: 160px; overflow: auto">
							<!-- BEGIN block -->
								<div data-block="{block.SERVICE}" class="primetime-block">{block.NAME}</div>
							<!-- END block -->
							</div>

							<div class="ui-state-default" style="text-align: center">
								<form id="copy-form">
									<strong>{L_BLOCKS_COPY_FROM}:</strong> 
									<select id="copy-from">
										{S_ROUTE_OPS}
									</select>
									<input type="submit" class="button2" value="{L_GO}" />
								</form>
							</div>
						</div>
						<div id="layout-settings-content" class="tab-content">
							<h3>{L_LAYOUT_SETTINGS}</h3>
							<p>{L_DEFAULT_LAYOUT_EXPLAIN}</p>
							<div class="line">
								<div class="unit size1of2">
									<p<!-- IF S_IS_DEFAULT --> style="display: none;"<!-- ENDIF -->><a href="#" class="default-layout" data-set="true">{L_MAKE_DEFAULT_LAYOUT}</a></p>
									<p<!-- IF not U_DEFAULT_LAYOUT || S_IS_DEFAULT --> style="display: none;"<!-- ENDIF -->><a href="{U_DEFAULT_LAYOUT}">{L_VIEW_DEFAULT_LAYOUT}</a></p>
									<p<!-- IF not S_IS_DEFAULT --> style="display: none;"<!-- ENDIF -->><a href="#" class="default-layout" data-set="false">{L_REMOVE_DEFAULT_LAYOUT}</a></p>
								</div>
								<div class="unit size1of2 lastUnit">
									<form id="route-settings">
										<input type="checkbox" id="hide_blocks" name="hide_blocks"<!-- IF S_HIDE_BLOCKS --> checked="checked"<!-- ENDIF --> /> {L_HIDE_ALL_BLOCKS}<br /><br />
										{L_HIDE_BLOCK_POSITIONS}:<br />
										<select id="ex_positions" name="ex_positions[]" multiple="multiple" size="5">
											{S_POSITION_OPS}
										</select>
										<input type="submit" class="button2" value="{L_SAVE}" />
									</form>
								</div>
							</div>
						</div>
				    </div>
			    </div>
			</li>
			<li class="hmenu-item right"><div class="spacer">&nbsp;</div></li>
	        <li class="hmenu-item right"><a id="toggle-edit" class="button" href="{U_DISP_MODE}">{L_EXIT_EDIT_MODE}</a></li>
	        <li class="hmenu-item right"><a id="save-changes" class="button" href="#">{L_SAVE_CHANGES}</a></li>
			<!-- EVENT admin_bar_append -->
		</ul>
	</div>
	<a id="admin-control" href="{U_EDIT_MODE}"><i class="fa fa-gear"></i></a>

	<div id="loading" class="flash-message"><i class="fa fa-spinner fa-spin"></i> {L_AJAX_PROCESSING}</div>
	<div id="ajax-message" class="flash-message"></div>
</div>