<dl>
	<dt>
		<br />
		<a class="class-cat" href="#classes-lists"><i class="fa fa-caret-right"></i> {{ lang('LISTS') }}</a><br />
		<a class="class-cat" href="#classes-background"><i class="fa fa-caret-right"></i> {{ lang('BACKGROUND') }}</a><br />
		<a class="class-cat" href="#classes-images"><i class="fa fa-caret-right"></i> {{ lang('IMAGES') }}</a><br />
		<a class="class-cat" href="#classes-display"><i class="fa fa-caret-right"></i> {{ lang('DISPLAY') }}</a>
	</dt>
	<dd id="classes-scroller" class="scroll-list small">
        <h3 id="classes-lists">{{ lang('LISTS') }}</h3>
		<a class="transform" href="#" title="{{ lang('LIST_FLAT') }}">sm-list-flat</a>,
		<a class="transform" href="#" title="{{ lang('LIST_ARROW') }}">sm-list-arrow</a>,
		<a class="transform" href="#" title="{{ lang('LIST_CIRCLE') }}">sm-list-circle</a>,
		<a class="transform" href="#" title="{{ lang('LIST_DISC') }}">sm-list-disc</a>,
		<a class="transform" href="#" title="{{ lang('LIST_SQUARE') }}">sm-list-square</a>,
		<a class="transform" href="#" title="{{ lang('LIST_NUMBERED') }}">sm-list-numbered</a><br /><br />

		<a class="transform" href="#" title="{{ lang('LIST_INLINE') }}">sm-list-inline</a>,
		<a class="transform" href="#" title="{{ lang('LIST_INLINE_SEP') }}">sm-list-inline-sep</a><br /><br />

		<a class="transform" href="#" title="{{ lang('LIST_HOVER') }}">sm-list-hover</a>,
		<a class="transform" href="#" title="{{ lang('LIST_STRIPED') }}">sm-list-striped</a>,
		<a class="transform" href="#" title="{{ lang('LIST_STACKED') }}">sm-list-stacked</a><br /><br />

		<a class="transform" href="#" title="{{ lang('LIST_AUTOWIDTH') }}">list-block-auto</a><br />
		<a class="transform" href="#" title="{{ lang('LIST_2COLS') }}">list-block-2cols</a><br />
		<a class="transform" href="#" title="{{ lang('LIST_3COLS') }}">list-block-3cols</a><br />
		<a class="transform" href="#" title="{{ lang('LIST_4COLS') }}">list-block-4cols</a><br />
		<a class="transform" href="#" title="{{ lang('LIST_5COLS') }}">list-block-5cols</a><br /><br />

		<a class="transform" href="#" title="{{ lang('LIST_X_DIVIDER_DOTTED') }}">sm-x-divider-dotted</a>,
		<a class="transform" href="#" title="{{ lang('LIST_X_DIVIDER_LINE') }}">sm-x-divider-line</a>,
		<a class="transform" href="#" title="{{ lang('LIST_Y_DIVIDER_DOTTED') }}">sm-y-divider-dotted</a>,
		<a class="transform" href="#" title="{{ lang('LIST_Y_DIVIDER_LINE') }}">sm-y-divider-line</a>,

        <h3 id="classes-background">{{ lang('BACKGROUND') }}</h3>
		<a class="transform" href="#">bg1</a>,
		<a class="transform" href="#">bg2</a>,
		<a class="transform" href="#">bg3</a>

        <h3 id="classes-images">{{ lang('IMAGES') }}</h3>
		<a class="transform" href="#" title="{{ lang('IMAGE_SMALL') }}">small-img</a>,
		<a class="transform" href="#" title="{{ lang('IMAGE_MEDIUM') }}">medium-img</a>,
		<a class="transform" href="#" title="{{ lang('IMAGE_LARGE') }}">large-img</a>,
		<a class="transform" href="#" title="{{ lang('IMAGE_FULL_WIDTH') }}">fullwidth-img</a><br /><br />

		<a class="transform" href="#" title="{{ lang('IMAGE_ALIGN_LEFT') }}">img-align-left</a>,
		<a class="transform" href="#" title="{{ lang('IMAGE_ALIGN_RIGHT') }}">img-align-right</a><br /><br />

		<a class="transform" href="#" title="{{ lang('IMAGE_CIRCLE') }}">img-circle</a>,
		<a class="transform" href="#" title="{{ lang('IMAGE_BORDER') }}">img-border</a>,
		<a class="transform" href="#" title="{{ lang('IMAGE_BORDER_PADDING') }}">img-border-padding</a><br />

        <h3 id="classes-display">{{ lang('DISPLAY') }}</h3>
		<a class="transform" href="#" title="{{ lang('RESPONSIVE_SHOW') }}">sm-responsive-show</a>,
		<a class="transform" href="#" title="{{ lang('RESPONSIVE_HIDE') }}">sm-responsive-hide</a><br /><br />
		<a class="transform" href="#" title="{{ lang('ALIGN_LEFT') }}">align-left</a>,
		<a class="transform" href="#" title="{{ lang('ALIGN_CENTER') }}">align-center</a>,
		<a class="transform" href="#" title="{{ lang('ALIGN_RIGHT') }}">align-right</a>,
		<a class="transform" href="#" title="{{ lang('NO_PADDING') }}">no-padding</a><br /><br />

		<a class="transform" href="#" title="{{ lang('LABEL') }}">sm-label</a> /
		<a class="transform" href="#" title="{{ lang('BADGE') }}">sm-badge</a> + 

		[<a class="transform" href="#" title="{{ lang('PRIMARY_COLOR') }}">primary-color</a>,
		<a class="transform" href="#" title="{{ lang('SECONDARY_COLOR') }}">secondary-color</a>,
		<a class="transform" href="#" title="{{ lang('GRAYSCALE_COLOR') }}">grayscale-color</a>,
		<a class="transform" href="#" title="{{ lang('INFO_COLOR') }}">info-color</a>,
		<a class="transform" href="#" title="{{ lang('SUCCESS_COLOR') }}">success-color</a>,
		<a class="transform" href="#" title="{{ lang('WARNING_COLOR') }}">warning-color</a>,
		<a class="transform" href="#" title="{{ lang('DANGER_COLOR') }}">danger-color</a>]
	</dd>
</dl>