<dl>
	<dt><label for="view">{{ lang('BLOCK_VIEW') }}</label></dt>
	<dd>
		<input class="block-preview" type="radio" name="view" value=""{% if not S_VIEW %} checked="checked"{% endif %} /> {{ lang('BLOCK_VIEW_DEFAULT') }}
		<input class="block-preview" type="radio" name="view" value="basic"{% if S_VIEW == 'basic' %} checked="checked"{% endif %} /> {{ lang('BLOCK_VIEW_BASIC') }}
		<input class="block-preview" type="radio" name="view" value="boxed"{% if S_VIEW == 'boxed' %} checked="checked"{% endif %} /> {{ lang('BLOCK_VIEW_BOXED') }}<br />
		<input class="block-preview" type="radio" name="view" value="simple"{% if not S_VIEW or S_VIEW == 'simple' %} checked="checked"{% endif %} id="view" /> {{ lang('BLOCK_VIEW_SIMPLE') }}<br />
	</dd>
</dl>