<div class="cms-block-spacing"></div>
<!-- DEFINE $DEFAULT_ICON = '-icon-check-empty' -->
<div id="pos-panel" class="block-position line<!-- IF not .panel --> empty-position<!-- ENDIF -->">
	<!-- BEGIN panel -->
		<div id="block-{panel.BID}" class="sortable unit size1of1">
		<!-- IF not panel.NO_WRAP -->
			<div class="panel post cms-block-container{panel.CLASS} cms-block-spacing">
				<div class="inner">
					<span class="corners-top"><span></span></span>
						<h3 class="block-title">
							<a href="#" class="left item-action icon-select ui-dialog-titlebar-close ui-corner-all"><i class="<!-- IF panel.ICON -->{panel.ICON}<!-- ELSE -->{$DEFAULT_ICON}<!-- ENDIF -->"></i></a>
							<span class="editable_block_title">{panel.TITLE}</span>
							<a href="#" class="right item-action delete-block ui-dialog-titlebar-close ui-corner-all" title="{L_DELETE}"><span class="ui-icon ui-icon-closethick">{L_DELETE}</span></a>
							<a href="#" class="right item-action edit-block ui-dialog-titlebar-close ui-corner-all" title="{L_EDIT}"><span class="ui-icon ui-icon-gear">{L_EDIT}</span></a>
						</h3>
						<div class="cms-block-content">
							{panel.CONTENT}
						</div>
					<span class="corners-bottom"><span></span></span>
				</div>
			</div>
		<!-- ELSE -->
			<div class="post{panel.CLASS} cms-block-spacing">
				<a href="#" class="right item-action delete-block ui-dialog-titlebar-close ui-corner-all" title="{L_DELETE}"><span class="ui-icon ui-icon-closethick">{L_DELETE}</span></a>
				<a href="#" class="right item-action edit-block ui-dialog-titlebar-close ui-corner-all" title="{L_EDIT}"><span class="ui-icon ui-icon-gear">{L_EDIT}</span></a>
				{panel.CONTENT}
			</div>
		<!-- ENDIF -->
		</div>
	</div>
	<!-- END panel -->
</div>

<div class="line">
	<div id="pos-sidebar" class="block-position unit size1of5<!-- IF not .sidebar --> empty-position<!-- ENDIF -->">
		<!-- BEGIN sidebar -->
		<div id="block-{sidebar.BID}" class="sortable unit size1of1">
			<!-- IF not sidebar.NO_WRAP -->
			<div class="panel post cms-block-container{sidebar.CLASS} cms-block-spacing">
				<div class="inner">
					<span class="corners-top"><span></span></span>
						<h3 class="block-title">
							<a href="#" class="left item-action icon-select ui-dialog-titlebar-close ui-corner-all"><i class="<!-- IF sidebar.ICON -->{sidebar.ICON}<!-- ELSE -->{$DEFAULT_ICON}<!-- ENDIF -->"></i></a>
							<span class="editable_block_title">{sidebar.TITLE}</span>
							<a href="#" class="right item-action delete-block ui-dialog-titlebar-close ui-corner-all" title="{L_DELETE}"><span class="ui-icon ui-icon-closethick">{L_DELETE}</span></a>
							<a href="#" class="right item-action edit-block ui-dialog-titlebar-close ui-corner-all" title="{L_EDIT}"><span class="ui-icon ui-icon-gear">{L_EDIT}</span></a>
						</h3>
						<div class="cms-block-content">
							{sidebar.CONTENT}
						</div>
					<span class="corners-bottom"><span></span></span>
				</div>
			</div>
			<!-- ELSE -->
			<div class="post{sidebar.CLASS} cms-block-spacing">
				<a href="#" class="right item-action delete-block ui-dialog-titlebar-close ui-corner-all" title="{L_DELETE}"><span class="ui-icon ui-icon-closethick">{L_DELETE}</span></a>
				<a href="#" class="right item-action edit-block ui-dialog-titlebar-close ui-corner-all" title="{L_EDIT}"><span class="ui-icon ui-icon-gear">{L_EDIT}</span></a>
				{sidebar.CONTENT}
			</div>
			<!-- ENDIF -->
		</div>
		<!-- END sidebar -->
	</div>

	<div class="unit size4of5 lastUnit">
		<!-- DEFINE $DIV = 0 -->
		<!-- DEFINE $SIZE = 3 -->
		<div id="pos-top_hor" class="block-position horizontal line<!-- IF not .top_hor --> empty-position<!-- ENDIF -->">
			<!-- BEGIN top_hor -->
				<!-- IF $DIV eq 0 -->
					<!-- IF (S_TOP_HOR_COUNT - top_hor.S_ROW_COUNT) % 3 eq 0 or (S_TOP_HOR_COUNT - top_hor.S_ROW_COUNT) > 3 -->
						<!-- DEFINE $DIV = 3 -->
					<!-- ELSEIF (S_TOP_HOR_COUNT - top_hor.S_ROW_COUNT) % 2 eq 0 -->
						<!-- DEFINE $DIV = 3 -->
						<!-- DEFINE $SIZE = 2 -->
					<!-- ELSE -->
						<!-- DEFINE $DIV = 1 -->
						<!-- DEFINE $SIZE = 1 -->
					<!-- ENDIF -->
				<!-- ENDIF -->
			<div id="block-{top_hor.BID}" class="sortable unit size1of{$SIZE}">
			<!-- IF not top_hor.NO_WRAP -->
				<div class="panel post cms-block-container{top_hor.CLASS} cms-block-spacing">
					<div class="inner">
						<span class="corners-top"><span></span></span>
							<h3 class="block-title">
								<a href="#" class="left item-action icon-select ui-dialog-titlebar-close ui-corner-all"><i class="<!-- IF top_hor.ICON -->{top_hor.ICON}<!-- ELSE -->{$DEFAULT_ICON}<!-- ENDIF -->"></i></a>
								<span class="editable_block_title">{top_hor.TITLE}</span>
								<a href="#" class="right item-action delete-block ui-dialog-titlebar-close ui-corner-all" title="{L_DELETE}"><span class="ui-icon ui-icon-closethick">{L_DELETE}</span></a>
								<a href="#" class="right item-action edit-block ui-dialog-titlebar-close ui-corner-all" title="{L_EDIT}"><span class="ui-icon ui-icon-gear">{L_EDIT}</span></a>
							</h3>
							<div class="cms-block-content">
								{top_hor.CONTENT}
							</div>
						<span class="corners-bottom"><span></span></span>
					</div>
				</div>
			<!-- ELSE -->
			<div class="post{top_hor.CLASS} cms-block-spacing">
				<a href="#" class="right item-action delete-block ui-dialog-titlebar-close ui-corner-all" title="{L_DELETE}"><span class="ui-icon ui-icon-closethick">{L_DELETE}</span></a>
				<a href="#" class="right item-action edit-block ui-dialog-titlebar-close ui-corner-all" title="{L_EDIT}"><span class="ui-icon ui-icon-gear">{L_EDIT}</span></a>
				{top_hor.CONTENT}
			</div>
			<!-- ENDIF -->
			</div>
				<!-- IF (top_hor.S_ROW_COUNT % $DIV + 1) eq $DIV and not top_hor.S_LAST_ROW -->
					<!-- DEFINE $DIV = 0 -->
				<!-- ENDIF -->
			<!-- END top_hor -->
		</div>
		<!-- UNDEFINE $SIZE -->
		<!-- UNDEFINE $DIV -->

		<div class="line">
			<div id="main-content" class="unit size3of4<!-- IF not .subcontent --> lastUnit<!-- ENDIF -->">
				<div id="pos-top" class="block-position<!-- IF not .top --> empty-position<!-- ENDIF -->">
					<!-- BEGIN top -->
					<div id="block-{top.BID}" class="sortable unit size1of1">
						<!-- IF not top.NO_WRAP -->
						<div class="panel post cms-block-container{top.CLASS} cms-block-spacing">
							<div class="inner">
								<span class="corners-top"><span></span></span>
									<h3 class="block-title">
										<a href="#" class="left item-action icon-select ui-dialog-titlebar-close ui-corner-all"><i class="<!-- IF top.ICON -->{top.ICON}<!-- ELSE -->{$DEFAULT_ICON}<!-- ENDIF -->"></i></a>
										<span class="editable_block_title">{top.TITLE}</span>
										<a href="#" class="right item-action delete-block ui-dialog-titlebar-close ui-corner-all" title="{L_DELETE}"><span class="ui-icon ui-icon-closethick">{L_DELETE}</span></a>
										<a href="#" class="right item-action edit-block ui-dialog-titlebar-close ui-corner-all" title="{L_EDIT}"><span class="ui-icon ui-icon-gear">{L_EDIT}</span></a>
									</h3>
									<div class="cms-block-content">
										{top.CONTENT}
									</div>
								<span class="corners-bottom"><span></span></span>
							</div>
						</div>
						<!-- ELSE -->
						<div class="post{top.CLASS} cms-block-spacing">
							<a href="#" class="right item-action delete-block ui-dialog-titlebar-close ui-corner-all" title="{L_DELETE}"><span class="ui-icon ui-icon-closethick">{L_DELETE}</span></a>
							<a href="#" class="right item-action edit-block ui-dialog-titlebar-close ui-corner-all" title="{L_EDIT}"><span class="ui-icon ui-icon-gear">{L_EDIT}</span></a>
							{top.CONTENT}
						</div>
						<!-- ENDIF -->
					</div>
					<!-- END top -->
				</div>

				<div class="cms-block-spacing">