<div id="icon-picker" class="ui-widget ui-widget-content ui-state-default ui-corner-all" style="display: none">
    <div id="icons-tab" class="icons-bottom-tabs">
        <ul>
            <li><a href="#tab-icons-font">{L_ICON_FONT}</a></li>
            <li><a href="#tab-icons-font-settings">{L_SETTINGS}</a></li>
            <!-- IF .icon --><li><a href="#tab-icons-image">{L_ICON_IMAGE}</a></li><!-- ENDIF -->
        </ul>
        <div id="tab-icons-font" class="tab-content">
            <div id="icons-font-list">
                <h3 id="cat_web_application">{L_ICON_WEB_APPLICATION}</h3>

                <a href="#"><i class="fa fa-adjust"></i></a>
                <a href="#"><i class="fa fa-anchor"></i></a>
                <a href="#"><i class="fa fa-archive"></i></a>
                <a href="#"><i class="fa fa-arrows"></i></a>
                <a href="#"><i class="fa fa-arrows-h"></i></a>
                <a href="#"><i class="fa fa-arrows-v"></i></a>
                <a href="#"><i class="fa fa-asterisk"></i></a>
                <a href="#"><i class="fa fa-ban"></i></a>
                <a href="#"><i class="fa fa-bar-chart-o"></i></a>
                <a href="#"><i class="fa fa-barcode"></i></a>
                <a href="#"><i class="fa fa-bars"></i></a>
                <a href="#"><i class="fa fa-beer"></i></a>
                <a href="#"><i class="fa fa-bell"></i></a>
                <a href="#"><i class="fa fa-bell-o"></i></a>
                <a href="#"><i class="fa fa-bolt"></i></a>
                <a href="#"><i class="fa fa-book"></i></a>
                <a href="#"><i class="fa fa-bookmark"></i></a>
                <a href="#"><i class="fa fa-bookmark-o"></i></a>
                <a href="#"><i class="fa fa-briefcase"></i></a>
                <a href="#"><i class="fa fa-bug"></i></a>
                <a href="#"><i class="fa fa-building-o"></i></a>
                <a href="#"><i class="fa fa-bullhorn"></i></a>
                <a href="#"><i class="fa fa-bullseye"></i></a>
                <a href="#"><i class="fa fa-calendar"></i></a>
                <a href="#"><i class="fa fa-calendar-o"></i></a>
                <a href="#"><i class="fa fa-camera"></i></a>
                <a href="#"><i class="fa fa-camera-retro"></i></a>
                <a href="#"><i class="fa fa-caret-square-o-down"></i></a>
                <a href="#"><i class="fa fa-caret-square-o-left"></i></a>
                <a href="#"><i class="fa fa-caret-square-o-right"></i></a>
                <a href="#"><i class="fa fa-caret-square-o-up"></i></a>
                <a href="#"><i class="fa fa-certificate"></i></a>
                <a href="#"><i class="fa fa-check"></i></a>
                <a href="#"><i class="fa fa-check-circle"></i></a>
                <a href="#"><i class="fa fa-check-circle-o"></i></a>
                <a href="#"><i class="fa fa-check-square"></i></a>
                <a href="#"><i class="fa fa-check-square-o"></i></a>
                <a href="#"><i class="fa fa-circle"></i></a>
                <a href="#"><i class="fa fa-circle-o"></i></a>
                <a href="#"><i class="fa fa-clock-o"></i></a>
                <a href="#"><i class="fa fa-cloud"></i></a>
                <a href="#"><i class="fa fa-cloud-download"></i></a>
                <a href="#"><i class="fa fa-cloud-upload"></i></a>
                <a href="#"><i class="fa fa-code"></i></a>
                <a href="#"><i class="fa fa-code-fork"></i></a>
                <a href="#"><i class="fa fa-coffee"></i></a>
                <a href="#"><i class="fa fa-cog"></i></a>
                <a href="#"><i class="fa fa-cogs"></i></a>
                <a href="#"><i class="fa fa-comment"></i></a>
                <a href="#"><i class="fa fa-comment-o"></i></a>
                <a href="#"><i class="fa fa-comments"></i></a>
                <a href="#"><i class="fa fa-comments-o"></i></a>
                <a href="#"><i class="fa fa-compass"></i></a>
                <a href="#"><i class="fa fa-credit-card"></i></a>
                <a href="#"><i class="fa fa-crop"></i></a>
                <a href="#"><i class="fa fa-crosshairs"></i></a>
                <a href="#"><i class="fa fa-cutlery"></i></a>
                <a href="#"><i class="fa fa-desktop"></i></a>
                <a href="#"><i class="fa fa-dot-circle-o"></i></a>
                <a href="#"><i class="fa fa-download"></i></a>
                <a href="#"><i class="fa fa-ellipsis-h"></i></a>
                <a href="#"><i class="fa fa-ellipsis-v"></i></a>
                <a href="#"><i class="fa fa-envelope"></i></a>
                <a href="#"><i class="fa fa-envelope-o"></i></a>
                <a href="#"><i class="fa fa-eraser"></i></a>
                <a href="#"><i class="fa fa-exchange"></i></a>
                <a href="#"><i class="fa fa-exclamation"></i></a>
                <a href="#"><i class="fa fa-exclamation-circle"></i></a>
                <a href="#"><i class="fa fa-exclamation-triangle"></i></a>
                <a href="#"><i class="fa fa-external-link"></i></a>
                <a href="#"><i class="fa fa-external-link-square"></i></a>
                <a href="#"><i class="fa fa-eye"></i></a>
                <a href="#"><i class="fa fa-eye-slash"></i></a>
                <a href="#"><i class="fa fa-female"></i></a>
                <a href="#"><i class="fa fa-fighter-jet"></i></a>
                <a href="#"><i class="fa fa-film"></i></a>
                <a href="#"><i class="fa fa-filter"></i></a>
                <a href="#"><i class="fa fa-fire"></i></a>
                <a href="#"><i class="fa fa-fire-extinguisher"></i></a>
                <a href="#"><i class="fa fa-flag"></i></a>
                <a href="#"><i class="fa fa-flag-checkered"></i></a>
                <a href="#"><i class="fa fa-flag-o"></i></a>
                <a href="#"><i class="fa fa-flask"></i></a>
                <a href="#"><i class="fa fa-folder"></i></a>
                <a href="#"><i class="fa fa-folder-o"></i></a>
                <a href="#"><i class="fa fa-folder-open"></i></a>
                <a href="#"><i class="fa fa-folder-open-o"></i></a>
                <a href="#"><i class="fa fa-frown-o"></i></a>
                <a href="#"><i class="fa fa-gamepad"></i></a>
                <a href="#"><i class="fa fa-gavel"></i></a>
                <a href="#"><i class="fa fa-gift"></i></a>
                <a href="#"><i class="fa fa-glass"></i></a>
                <a href="#"><i class="fa fa-globe"></i></a>
                <a href="#"><i class="fa fa-hdd-o"></i></a>
                <a href="#"><i class="fa fa-headphones"></i></a>
                <a href="#"><i class="fa fa-heart"></i></a>
                <a href="#"><i class="fa fa-heart-o"></i></a>
                <a href="#"><i class="fa fa-home"></i></a>
                <a href="#"><i class="fa fa-inbox"></i></a>
                <a href="#"><i class="fa fa-info"></i></a>
                <a href="#"><i class="fa fa-info-circle"></i></a>
                <a href="#"><i class="fa fa-key"></i></a>
                <a href="#"><i class="fa fa-keyboard-o"></i></a>
                <a href="#"><i class="fa fa-laptop"></i></a>
                <a href="#"><i class="fa fa-leaf"></i></a>
                <a href="#"><i class="fa fa-lemon-o"></i></a>
                <a href="#"><i class="fa fa-level-down"></i></a>
                <a href="#"><i class="fa fa-level-up"></i></a>
                <a href="#"><i class="fa fa-lightbulb-o"></i></a>
                <a href="#"><i class="fa fa-location-arrow"></i></a>
                <a href="#"><i class="fa fa-lock"></i></a>
                <a href="#"><i class="fa fa-magic"></i></a>
                <a href="#"><i class="fa fa-magnet"></i></a>
                <a href="#"><i class="fa fa-mail-reply-all"></i></a>
                <a href="#"><i class="fa fa-male"></i></a>
                <a href="#"><i class="fa fa-map-marker"></i></a>
                <a href="#"><i class="fa fa-meh-o"></i></a>
                <a href="#"><i class="fa fa-microphone"></i></a>
                <a href="#"><i class="fa fa-microphone-slash"></i></a>
                <a href="#"><i class="fa fa-minus"></i></a>
                <a href="#"><i class="fa fa-minus-circle"></i></a>
                <a href="#"><i class="fa fa-minus-square"></i></a>
                <a href="#"><i class="fa fa-minus-square-o"></i></a>
                <a href="#"><i class="fa fa-mobile"></i></a>
                <a href="#"><i class="fa fa-money"></i></a>
                <a href="#"><i class="fa fa-moon-o"></i></a>
                <a href="#"><i class="fa fa-music"></i></a>
                <a href="#"><i class="fa fa-pencil"></i></a>
                <a href="#"><i class="fa fa-pencil-square"></i></a>
                <a href="#"><i class="fa fa-pencil-square-o"></i></a>
                <a href="#"><i class="fa fa-phone"></i></a>
                <a href="#"><i class="fa fa-phone-square"></i></a>
                <a href="#"><i class="fa fa-picture-o"></i></a>
                <a href="#"><i class="fa fa-plane"></i></a>
                <a href="#"><i class="fa fa-plus"></i></a>
                <a href="#"><i class="fa fa-plus-circle"></i></a>
                <a href="#"><i class="fa fa-plus-square"></i></a>
                <a href="#"><i class="fa fa-plus-square-o"></i></a>
                <a href="#"><i class="fa fa-power-off"></i></a>
                <a href="#"><i class="fa fa-print"></i></a>
                <a href="#"><i class="fa fa-puzzle-piece"></i></a>
                <a href="#"><i class="fa fa-qrcode"></i></a>
                <a href="#"><i class="fa fa-question"></i></a>
                <a href="#"><i class="fa fa-question-circle"></i></a>
                <a href="#"><i class="fa fa-quote-left"></i></a>
                <a href="#"><i class="fa fa-quote-right"></i></a>
                <a href="#"><i class="fa fa-random"></i></a>
                <a href="#"><i class="fa fa-refresh"></i></a>
                <a href="#"><i class="fa fa-reply"></i></a>
                <a href="#"><i class="fa fa-reply-all"></i></a>
                <a href="#"><i class="fa fa-retweet"></i></a>
                <a href="#"><i class="fa fa-road"></i></a>
                <a href="#"><i class="fa fa-rocket"></i></a>
                <a href="#"><i class="fa fa-rss"></i></a>
                <a href="#"><i class="fa fa-rss-square"></i></a>
                <a href="#"><i class="fa fa-search"></i></a>
                <a href="#"><i class="fa fa-search-minus"></i></a>
                <a href="#"><i class="fa fa-search-plus"></i></a>
                <a href="#"><i class="fa fa-share"></i></a>
                <a href="#"><i class="fa fa-share-square"></i></a>
                <a href="#"><i class="fa fa-share-square-o"></i></a>
                <a href="#"><i class="fa fa-shield"></i></a>
                <a href="#"><i class="fa fa-shopping-cart"></i></a>
                <a href="#"><i class="fa fa-sign-in"></i></a>
                <a href="#"><i class="fa fa-sign-out"></i></a>
                <a href="#"><i class="fa fa-signal"></i></a>
                <a href="#"><i class="fa fa-sitemap"></i></a>
                <a href="#"><i class="fa fa-smile-o"></i></a>
                <a href="#"><i class="fa fa-sort"></i></a>
                <a href="#"><i class="fa fa-sort-alpha-asc"></i></a>
                <a href="#"><i class="fa fa-sort-alpha-desc"></i></a>
                <a href="#"><i class="fa fa-sort-amount-asc"></i></a>
                <a href="#"><i class="fa fa-sort-amount-desc"></i></a>
                <a href="#"><i class="fa fa-sort-asc"></i></a>
                <a href="#"><i class="fa fa-sort-desc"></i></a>
                <a href="#"><i class="fa fa-sort-numeric-asc"></i></a>
                <a href="#"><i class="fa fa-sort-numeric-desc"></i></a>
                <a href="#"><i class="fa fa-spinner"></i></a>
                <a href="#"><i class="fa fa-square"></i></a>
                <a href="#"><i class="fa fa-square-o"></i></a>
                <a href="#"><i class="fa fa-star"></i></a>
                <a href="#"><i class="fa fa-star-half"></i></a>
                <a href="#"><i class="fa fa-star-half-o"></i></a>
                <a href="#"><i class="fa fa-star-o"></i></a>
                <a href="#"><i class="fa fa-subscript"></i></a>
                <a href="#"><i class="fa fa-suitcase"></i></a>
                <a href="#"><i class="fa fa-sun-o"></i></a>
                <a href="#"><i class="fa fa-superscript"></i></a>
                <a href="#"><i class="fa fa-tablet"></i></a>
                <a href="#"><i class="fa fa-tachometer"></i></a>
                <a href="#"><i class="fa fa-tag"></i></a>
                <a href="#"><i class="fa fa-tags"></i></a>
                <a href="#"><i class="fa fa-tasks"></i></a>
                <a href="#"><i class="fa fa-terminal"></i></a>
                <a href="#"><i class="fa fa-thumb-tack"></i></a>
                <a href="#"><i class="fa fa-thumbs-down"></i></a>
                <a href="#"><i class="fa fa-thumbs-o-down"></i></a>
                <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
                <a href="#"><i class="fa fa-thumbs-up"></i></a>
                <a href="#"><i class="fa fa-ticket"></i></a>
                <a href="#"><i class="fa fa-times"></i></a>
                <a href="#"><i class="fa fa-times-circle"></i></a>
                <a href="#"><i class="fa fa-times-circle-o"></i></a>
                <a href="#"><i class="fa fa-tint"></i></a>
                <a href="#"><i class="fa fa-trash-o"></i></a>
                <a href="#"><i class="fa fa-trophy"></i></a>
                <a href="#"><i class="fa fa-truck"></i></a>
                <a href="#"><i class="fa fa-umbrella"></i></a>
                <a href="#"><i class="fa fa-unlock"></i></a>
                <a href="#"><i class="fa fa-unlock-alt"></i></a>
                <a href="#"><i class="fa fa-upload"></i></a>
                <a href="#"><i class="fa fa-user"></i></a>
                <a href="#"><i class="fa fa-users"></i></a>
                <a href="#"><i class="fa fa-video-camera"></i></a>
                <a href="#"><i class="fa fa-volume-down"></i></a>
                <a href="#"><i class="fa fa-volume-off"></i></a>
                <a href="#"><i class="fa fa-volume-up"></i></a>
                <a href="#"><i class="fa fa-wheelchair"></i></a>
                <a href="#"><i class="fa fa-wrench"></i></a>

                <h3 id="cat_form_control">{L_ICON_FORM_CONTROL}</h3>

                <a href="#"><i class="fa fa-check-square"></i></a>
                <a href="#"><i class="fa fa-check-square-o"></i></a>
                <a href="#"><i class="fa fa-circle"></i></a>
                <a href="#"><i class="fa fa-circle-o"></i></a>
                <a href="#"><i class="fa fa-dot-circle-o"></i></a>
                <a href="#"><i class="fa fa-minus-square"></i></a>
                <a href="#"><i class="fa fa-minus-square-o"></i></a>
                <a href="#"><i class="fa fa-plus-square"></i></a>
                <a href="#"><i class="fa fa-plus-square-o"></i></a>
                <a href="#"><i class="fa fa-square"></i></a>
                <a href="#"><i class="fa fa-square-o"></i></a>

                <h3 id="cat_currency">{L_ICON_CURRENCY}</h3>

                <a href="#"><i class="fa fa-btc"></i></a>
                <a href="#"><i class="fa fa-eur"></i></a>
                <a href="#"><i class="fa fa-gbp"></i></a>
                <a href="#"><i class="fa fa-inr"></i></a>
                <a href="#"><i class="fa fa-jpy"></i></a>
                <a href="#"><i class="fa fa-krw"></i></a>
                <a href="#"><i class="fa fa-money"></i></a>
                <a href="#"><i class="fa fa-rub"></i></a>
                <a href="#"><i class="fa fa-try"></i></a>
                <a href="#"><i class="fa fa-usd"></i></a>

                <h3 id="cat_text_editor">{L_ICON_TEXT_EDITOR}</h3>

                <a href="#"><i class="fa fa-align-center"></i></a>
                <a href="#"><i class="fa fa-align-justify"></i></a>
                <a href="#"><i class="fa fa-align-left"></i></a>
                <a href="#"><i class="fa fa-align-right"></i></a>
                <a href="#"><i class="fa fa-bold"></i></a>
                <a href="#"><i class="fa fa-chain-broken"></i></a>
                <a href="#"><i class="fa fa-clipboard"></i></a>
                <a href="#"><i class="fa fa-columns"></i></a>
                <a href="#"><i class="fa fa-eraser"></i></a>
                <a href="#"><i class="fa fa-file"></i></a>
                <a href="#"><i class="fa fa-file-o"></i></a>
                <a href="#"><i class="fa fa-file-text"></i></a>
                <a href="#"><i class="fa fa-file-text-o"></i></a>
                <a href="#"><i class="fa fa-files-o"></i></a>
                <a href="#"><i class="fa fa-floppy-o"></i></a>
                <a href="#"><i class="fa fa-font"></i></a>
                <a href="#"><i class="fa fa-indent"></i></a>
                <a href="#"><i class="fa fa-italic"></i></a>
                <a href="#"><i class="fa fa-link"></i></a>
                <a href="#"><i class="fa fa-list"></i></a>
                <a href="#"><i class="fa fa-list-alt"></i></a>
                <a href="#"><i class="fa fa-list-ol"></i></a>
                <a href="#"><i class="fa fa-list-ul"></i></a>
                <a href="#"><i class="fa fa-outdent"></i></a>
                <a href="#"><i class="fa fa-paperclip"></i></a>
                <a href="#"><i class="fa fa-repeat"></i></a>
                <a href="#"><i class="fa fa-scissors"></i></a>
                <a href="#"><i class="fa fa-strikethrough"></i></a>
                <a href="#"><i class="fa fa-table"></i></a>
                <a href="#"><i class="fa fa-text-height"></i></a>
                <a href="#"><i class="fa fa-text-width"></i></a>
                <a href="#"><i class="fa fa-th"></i></a>
                <a href="#"><i class="fa fa-th-large"></i></a>
                <a href="#"><i class="fa fa-th-list"></i></a>
                <a href="#"><i class="fa fa-underline"></i></a>
                <a href="#"><i class="fa fa-undo"></i></a>

                <h3 id="cat_directional">{L_ICON_DIRECTIONAL}</h3>

                <a href="#"><i class="fa fa-angle-double-down"></i></a>
                <a href="#"><i class="fa fa-angle-double-left"></i></a>
                <a href="#"><i class="fa fa-angle-double-right"></i></a>
                <a href="#"><i class="fa fa-angle-double-up"></i></a>
                <a href="#"><i class="fa fa-angle-down"></i></a>
                <a href="#"><i class="fa fa-angle-left"></i></a>
                <a href="#"><i class="fa fa-angle-right"></i></a>
                <a href="#"><i class="fa fa-angle-up"></i></a>
                <a href="#"><i class="fa fa-arrow-circle-down"></i></a>
                <a href="#"><i class="fa fa-arrow-circle-left"></i></a>
                <a href="#"><i class="fa fa-arrow-circle-o-down"></i></a>
                <a href="#"><i class="fa fa-arrow-circle-o-left"></i></a>
                <a href="#"><i class="fa fa-arrow-circle-o-right"></i></a>
                <a href="#"><i class="fa fa-arrow-circle-o-up"></i></a>
                <a href="#"><i class="fa fa-arrow-circle-right"></i></a>
                <a href="#"><i class="fa fa-arrow-circle-up"></i></a>
                <a href="#"><i class="fa fa-arrow-down"></i></a>
                <a href="#"><i class="fa fa-arrow-left"></i></a>
                <a href="#"><i class="fa fa-arrow-right"></i></a>
                <a href="#"><i class="fa fa-arrow-up"></i></a>
                <a href="#"><i class="fa fa-arrows"></i></a>
                <a href="#"><i class="fa fa-arrows-alt"></i></a>
                <a href="#"><i class="fa fa-arrows-h"></i></a>
                <a href="#"><i class="fa fa-arrows-v"></i></a>
                <a href="#"><i class="fa fa-caret-down"></i></a>
                <a href="#"><i class="fa fa-caret-left"></i></a>
                <a href="#"><i class="fa fa-caret-right"></i></a>
                <a href="#"><i class="fa fa-caret-square-o-down"></i></a>
                <a href="#"><i class="fa fa-caret-square-o-left"></i></a>
                <a href="#"><i class="fa fa-caret-square-o-right"></i></a>
                <a href="#"><i class="fa fa-caret-square-o-up"></i></a>
                <a href="#"><i class="fa fa-caret-up"></i></a>
                <a href="#"><i class="fa fa-chevron-circle-down"></i></a>
                <a href="#"><i class="fa fa-chevron-circle-left"></i></a>
                <a href="#"><i class="fa fa-chevron-circle-right"></i></a>
                <a href="#"><i class="fa fa-chevron-circle-up"></i></a>
                <a href="#"><i class="fa fa-chevron-down"></i></a>
                <a href="#"><i class="fa fa-chevron-left"></i></a>
                <a href="#"><i class="fa fa-chevron-right"></i></a>
                <a href="#"><i class="fa fa-chevron-up"></i></a>
                <a href="#"><i class="fa fa-hand-o-down"></i></a>
                <a href="#"><i class="fa fa-hand-o-left"></i></a>
                <a href="#"><i class="fa fa-hand-o-right"></i></a>
                <a href="#"><i class="fa fa-hand-o-up"></i></a>
                <a href="#"><i class="fa fa-long-arrow-down"></i></a>
                <a href="#"><i class="fa fa-long-arrow-left"></i></a>
                <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                <a href="#"><i class="fa fa-long-arrow-up"></i></a>

                <h3 id="cat_video_player">{L_ICON_VIDEO_PLAYER}</h3>

                <a href="#"><i class="fa fa-arrows-alt"></i></a>
                <a href="#"><i class="fa fa-backward"></i></a>
                <a href="#"><i class="fa fa-compress"></i></a>
                <a href="#"><i class="fa fa-eject"></i></a>
                <a href="#"><i class="fa fa-expand"></i></a>
                <a href="#"><i class="fa fa-fast-backward"></i></a>
                <a href="#"><i class="fa fa-fast-forward"></i></a>
                <a href="#"><i class="fa fa-forward"></i></a>
                <a href="#"><i class="fa fa-pause"></i></a>
                <a href="#"><i class="fa fa-play"></i></a>
                <a href="#"><i class="fa fa-play-circle"></i></a>
                <a href="#"><i class="fa fa-play-circle-o"></i></a>
                <a href="#"><i class="fa fa-step-backward"></i></a>
                <a href="#"><i class="fa fa-step-forward"></i></a>
                <a href="#"><i class="fa fa-stop"></i></a>
                <a href="#"><i class="fa fa-youtube-play"></i></a>
        
                <h3 id="cat_brand">{L_ICON_BRAND}</h3>
        
                <a href="#"><i class="fa fa-adn"></i></a>
                <a href="#"><i class="fa fa-android"></i></a>
                <a href="#"><i class="fa fa-apple"></i></a>
                <a href="#"><i class="fa fa-bitbucket"></i></a>
                <a href="#"><i class="fa fa-bitbucket-square"></i></a>
                <a href="#"><i class="fa fa-btc"></i></a>
                <a href="#"><i class="fa fa-css3"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-dropbox"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-facebook-square"></i></a>
                <a href="#"><i class="fa fa-flickr"></i></a>
                <a href="#"><i class="fa fa-foursquare"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
                <a href="#"><i class="fa fa-github-alt"></i></a>
                <a href="#"><i class="fa fa-github-square"></i></a>
                <a href="#"><i class="fa fa-gittip"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-google-plus-square"></i></a>
                <a href="#"><i class="fa fa-html5"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-linkedin-square"></i></a>
                <a href="#"><i class="fa fa-linux"></i></a>
                <a href="#"><i class="fa fa-maxcdn"></i></a>
                <a href="#"><i class="fa fa-pagelines"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
                <a href="#"><i class="fa fa-pinterest-square"></i></a>
                <a href="#"><i class="fa fa-renren"></i></a>
                <a href="#"><i class="fa fa-skype"></i></a>
                <a href="#"><i class="fa fa-stack-exchange"></i></a>
                <a href="#"><i class="fa fa-stack-overflow"></i></a>
                <a href="#"><i class="fa fa-trello"></i></a>
                <a href="#"><i class="fa fa-tumblr"></i></a>
                <a href="#"><i class="fa fa-tumblr-square"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-twitter-square"></i></a>
                <a href="#"><i class="fa fa-vimeo-square"></i></a>
                <a href="#"><i class="fa fa-vk"></i></a>
                <a href="#"><i class="fa fa-weibo"></i></a>
                <a href="#"><i class="fa fa-windows"></i></a>
                <a href="#"><i class="fa fa-xing"></i></a>
                <a href="#"><i class="fa fa-xing-square"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
                <a href="#"><i class="fa fa-youtube-play"></i></a>

                <a href="#"><i class="fa fa-youtube-square"></i></a>
                <h3 id="cat_medical">{L_ICON_MEDICAL}</h3>

                <a href="#"><i class="fa fa-ambulance"></i></a>
                <a href="#"><i class="fa fa-h-square"></i></a>
                <a href="#"><i class="fa fa-hospital-o"></i></a>
                <a href="#"><i class="fa fa-medkit"></i></a>
                <a href="#"><i class="fa fa-plus-square"></i></a>
                <a href="#"><i class="fa fa-stethoscope"></i></a>
                <a href="#"><i class="fa fa-user-md"></i></a>
                <a href="#"><i class="fa fa-wheelchair"></i></a>
            </div>
            <div class="clear"></div>
            <div id="icons-font-cat-list">
                <a href="#cat_web_application">{L_ICON_WEB_APPLICATION}</a>
                <a href="#cat_form_control">{L_ICON_FORM_CONTROL}</a>
                <a href="#cat_currency">{L_ICON_CURRENCY}</a>
                <a href="#cat_text_editor">{L_ICON_TEXT_EDITOR}</a>
                <a href="#cat_directional">{L_ICON_DIRECTIONAL}</a>
                <a href="#cat_video_player">{L_ICON_VIDEO_PLAYER}</a>
                <a href="#cat_brand">{L_ICON_BRAND}</a>
                <a href="#cat_medical">{L_ICON_MEDICAL}</a>
            </div>
        </div>
		<div id="tab-icons-font-settings" class="tab-content">
			<form id="icon-customization">
				<fieldset class="small">
				<dl>
					<dt>{L_ICON_SIZE}:</dt>
					<dd>
						<select id="icons-size" name="size">
							<option value="" selected="selected">{L_DEFAULT}</option>
							<option value="fa-lg">{L_ICON_LARGER}</option>
							<option value="fa-2x">2x</option>
							<option value="fa-3x">3x</option>
							<option value="fa-4x">4x</option>
							<option value="fa-5x">5x</option>
						</select>
					</dd>
                </dl>
                <dl>
					<dt>{L_ICON_COLOR}:</dt>
					<dd>
						<ul>
							<li>
								<span class="icons-color-container" title="{L_DEFAULT}">
									<span class="color" style="background-color: none">&nbsp;</span>
								</span>
								<input type="radio" name="color" class="icons-customize" value="" />
							</li>
							<li>
								<span class="icons-color-container" title="{L_BLUE}">
									<span class="color" style="background-color: blue">&nbsp;</span>
								</span>
								<input type="radio" name="color" class="icons-customize" value="blue" />
							</li>
							<li>
								<span class="icons-color-container" title="{L_RED}">
									<span class="color" style="background-color: red">&nbsp;</span>
								</span>
								<input type="radio" name="color" class="icons-customize" value="red" />
							</li>
							<li>
								<span class="icons-color-container" title="{L_GREEN}">
									<span class="color" style="background-color: green">&nbsp;</span>
								</span>
								<input type="radio" name="color" class="icons-customize" value="green" />
							</li>
							<li>
								<span class="icons-color-container" title="{L_PURPLE}">
									<span class="color" style="background-color: purple">&nbsp;</span>
								</span>
								<input type="radio" name="color" class="icons-customize" value="purple" />
							</li>
						</ul>
                	</dd>
                </dl>
                <dl>
					<dt>{L_ICON_FLOAT}:</dt>
					<dd>
						<input type="radio" name="float" class="icons-customize" value="" checked="checked" /> {L_NONE} 
						<input type="radio" name="float" class="icons-customize" value="pull-left" /> {L_LEFT}
						<input type="radio" name="float" class="icons-customize" value="pull-right" /> {L_RIGHT}
                	</dd>
                </dl>
                <dl>
					<dt>{L_OTHER}:</dt>
					<dd><input type="checkbox" name="fw" class="icons-customize" value="fa-fw" /> {L_ICON_FIXED_WIDTH}</dd>
					<dd><input type="checkbox" name="bordered" class="icons-customize" value="fa-border" /> {L_ICON_BORDERED}</dd>
					<dd><input type="checkbox" name="spinning" class="icons-customize" value="fa-spin" title="{L_ICON_SPINNING_EXPLAIN}" /> {L_ICON_SPINNING}</dd>
	            </dl>
                </fieldset>
            </form>
        </div>
        <!-- IF .icon -->
        <div id="tab-icons-image" class="tab-content">
        <!-- BEGIN icon -->
            <a href="#"><img src="" alt="" /></a>
        <!-- END icon -->
        </div>
        <!-- ENDIF -->
    </div>
</div>