<div id="icon-picker" class="panel" style="display: none">
	<div id="icons-tab" class="icons-bottom-tabs">
		<ul>
			<li><a href="#tab-icons-font">{L_ICON_FONT}</a></li>
			<li><a href="#tab-icons-font-settings">{L_SETTINGS}</a></li>
			<!-- IF .icon --><li><a href="#tab-icons-image">{L_ICON_IMAGE}</a></li><!-- ENDIF -->
		</ul>
		<div id="tab-icons-font" class="tab-content">
			<div id="icons-font-list">
				<h3 id="cat_web_application">{L_ICON_WEB_APPLICATION}</h3>

				<a href="#fa-adjust" title="fa-adjust"><i class="fa fa-adjust"></i></a>
				<a href="#fa-anchor" title="fa-anchor"><i class="fa fa-anchor"></i></a>
				<a href="#fa-archive" title="fa-archive"><i class="fa fa-archive"></i></a>
				<a href="#fa-area-chart" title="fa-area-chart"><i class="fa fa-area-chart"></i></a>
				<a href="#fa-arrows" title="fa-arrows"><i class="fa fa-arrows"></i></a>
				<a href="#fa-arrows-h" title="fa-arrows-h"><i class="fa fa-arrows-h"></i></a>
				<a href="#fa-arrows-v" title="fa-arrows-v"><i class="fa fa-arrows-v"></i></a>
				<a href="#fa-asterisk" title="fa-asterisk"><i class="fa fa-asterisk"></i></a>
				<a href="#fa-at" title="fa-at"><i class="fa fa-at"></i></a>
				<a href="#fa-car" title="fa-automobile"><i class="fa fa-automobile"></i></a>
				<a href="#fa-ban" title="fa-ban"><i class="fa fa-ban"></i></a>
				<a href="#fa-university" title="fa-bank"><i class="fa fa-bank"></i></a>
				<a href="#fa-bar-chart" title="fa-bar-chart"><i class="fa fa-bar-chart"></i></a>
				<a href="#fa-bar-chart" title="fa-bar-chart-o"><i class="fa fa-bar-chart-o"></i></a>
				<a href="#fa-barcode" title="fa-barcode"><i class="fa fa-barcode"></i></a>
				<a href="#fa-bars" title="fa-bars"><i class="fa fa-bars"></i></a>
				<a href="#fa-beer" title="fa-beer"><i class="fa fa-beer"></i></a>
				<a href="#fa-bell" title="fa-bell"><i class="fa fa-bell"></i></a>
				<a href="#fa-bell-o" title="fa-bell-o"><i class="fa fa-bell-o"></i></a>
				<a href="#fa-bell-slash" title="fa-bell-slash"><i class="fa fa-bell-slash"></i></a>
				<a href="#fa-bell-slash-o" title="fa-bell-slash-o"><i class="fa fa-bell-slash-o"></i></a>
				<a href="#fa-bicycle" title="fa-bicycle"><i class="fa fa-bicycle"></i></a>
				<a href="#fa-binoculars" title="fa-binoculars"><i class="fa fa-binoculars"></i></a>
				<a href="#fa-birthday-cake" title="fa-birthday-cake"><i class="fa fa-birthday-cake"></i></a>
				<a href="#fa-bolt" title="fa-bolt"><i class="fa fa-bolt"></i></a>
				<a href="#fa-bomb" title="fa-bomb"><i class="fa fa-bomb"></i></a>
				<a href="#fa-book" title="fa-book"><i class="fa fa-book"></i></a>
				<a href="#fa-bookmark" title="fa-bookmark"><i class="fa fa-bookmark"></i></a>
				<a href="#fa-bookmark-o" title="fa-bookmark-o"><i class="fa fa-bookmark-o"></i></a>
				<a href="#fa-briefcase" title="fa-briefcase"><i class="fa fa-briefcase"></i></a>
				<a href="#fa-bug" title="fa-bug"><i class="fa fa-bug"></i></a>
				<a href="#fa-building" title="fa-building"><i class="fa fa-building"></i></a>
				<a href="#fa-building-o" title="fa-building-o"><i class="fa fa-building-o"></i></a>
				<a href="#fa-bullhorn" title="fa-bullhorn"><i class="fa fa-bullhorn"></i></a>
				<a href="#fa-bullseye" title="fa-bullseye"><i class="fa fa-bullseye"></i></a>
				<a href="#fa-bus" title="fa-bus"><i class="fa fa-bus"></i></a>
				<a href="#fa-taxi" title="fa-cab ({L_ALIAS})"><i class="fa fa-cab"></i></a>
				<a href="#fa-calculator" title="fa-calculator"><i class="fa fa-calculator"></i></a>
				<a href="#fa-calendar" title="fa-calendar"><i class="fa fa-calendar"></i></a>
				<a href="#fa-calendar-o" title="fa-calendar-o"><i class="fa fa-calendar-o"></i></a>
				<a href="#fa-camera" title="fa-camera"><i class="fa fa-camera"></i></a>
				<a href="#fa-camera-retro" title="fa-camera-retro"><i class="fa fa-camera-retro"></i></a>
				<a href="#fa-car" title="fa-car"><i class="fa fa-car"></i></a>
				<a href="#fa-caret-square-o-down" title="fa-caret-square-o-down"><i class="fa fa-caret-square-o-down"></i></a>
				<a href="#fa-caret-square-o-left" title="fa-caret-square-o-left"><i class="fa fa-caret-square-o-left"></i></a>
				<a href="#fa-caret-square-o-right" title="fa-caret-square-o-right"><i class="fa fa-caret-square-o-right"></i></a>
				<a href="#fa-caret-square-o-up" title="fa-caret-square-o-up"><i class="fa fa-caret-square-o-up"></i></a>
				<a href="#fa-cc" title="fa-cc"><i class="fa fa-cc"></i></a>
				<a href="#fa-certificate" title="fa-certificate"><i class="fa fa-certificate"></i></a>
				<a href="#fa-check" title="fa-check"><i class="fa fa-check"></i></a>
				<a href="#fa-check-circle" title="fa-check-circle"><i class="fa fa-check-circle"></i></a>
				<a href="#fa-check-circle-o" title="fa-check-circle-o"><i class="fa fa-check-circle-o"></i></a>
				<a href="#fa-check-square" title="fa-check-square"><i class="fa fa-check-square"></i></a>
				<a href="#fa-check-square-o" title="fa-check-square-o"><i class="fa fa-check-square-o"></i></a>
				<a href="#fa-child" title="fa-child"><i class="fa fa-child"></i></a>
				<a href="#fa-circle" title="fa-circle"><i class="fa fa-circle"></i></a>
				<a href="#fa-circle-o" title="fa-circle-o"><i class="fa fa-circle-o"></i></a>
				<a href="#fa-circle-o-notch" title="fa-circle-o-notch"><i class="fa fa-circle-o-notch"></i></a>
				<a href="#fa-circle-thin" title="fa-circle-thin"><i class="fa fa-circle-thin"></i></a>
				<a href="#fa-clock-o" title="fa-clock-o"><i class="fa fa-clock-o"></i></a>
				<a href="#fa-times" title="fa-close ({L_ALIAS})"><i class="fa fa-close"></i></a>
				<a href="#fa-cloud" title="fa-cloud"><i class="fa fa-cloud"></i></a>
				<a href="#fa-cloud-download" title="fa-cloud-download"><i class="fa fa-cloud-download"></i></a>
				<a href="#fa-cloud-upload" title="fa-cloud-upload"><i class="fa fa-cloud-upload"></i></a>
				<a href="#fa-code" title="fa-code"><i class="fa fa-code"></i></a>
				<a href="#fa-code-fork" title="fa-code-fork"><i class="fa fa-code-fork"></i></a>
				<a href="#fa-coffee" title="fa-coffee"><i class="fa fa-coffee"></i></a>
				<a href="#fa-cog" title="fa-cog"><i class="fa fa-cog"></i></a>
				<a href="#fa-cogs" title="fa-cogs"><i class="fa fa-cogs"></i></a>
				<a href="#fa-comment" title="fa-comment"><i class="fa fa-comment"></i></a>
				<a href="#fa-comment-o" title="fa-comment-o"><i class="fa fa-comment-o"></i></a>
				<a href="#fa-comments" title="fa-comments"><i class="fa fa-comments"></i></a>
				<a href="#fa-comments-o" title="fa-comments-o"><i class="fa fa-comments-o"></i></a>
				<a href="#fa-compass" title="fa-compass"><i class="fa fa-compass"></i></a>
				<a href="#fa-copyright" title="fa-copyright"><i class="fa fa-copyright"></i></a>
				<a href="#fa-credit-card" title="fa-credit-card"><i class="fa fa-credit-card"></i></a>
				<a href="#fa-crop" title="fa-crop"><i class="fa fa-crop"></i></a>
				<a href="#fa-crosshairs" title="fa-crosshairs"><i class="fa fa-crosshairs"></i></a>
				<a href="#fa-cube" title="fa-cube"><i class="fa fa-cube"></i></a>
				<a href="#fa-cubes" title="fa-cubes"><i class="fa fa-cubes"></i></a>
				<a href="#fa-cutlery" title="fa-cutlery"><i class="fa fa-cutlery"></i></a>
				<a href="#fa-tachometer" title="fa-dashboard ({L_ALIAS})"><i class="fa fa-dashboard"></i></a>
				<a href="#fa-database" title="fa-database"><i class="fa fa-database"></i></a>
				<a href="#fa-desktop" title="fa-desktop"><i class="fa fa-desktop"></i></a>
				<a href="#fa-dot-circle-o" title="fa-dot-circle-o"><i class="fa fa-dot-circle-o"></i></a>
				<a href="#fa-download" title="fa-download"><i class="fa fa-download"></i></a>
				<a href="#fa-pencil-square-o" title="fa-edit ({L_ALIAS})"><i class="fa fa-edit"></i></a>
				<a href="#fa-ellipsis-h" title="fa-ellipsis-h"><i class="fa fa-ellipsis-h"></i></a>
				<a href="#fa-ellipsis-v" title="fa-ellipsis-v"><i class="fa fa-ellipsis-v"></i></a>
				<a href="#fa-envelope" title="fa-envelope"><i class="fa fa-envelope"></i></a>
				<a href="#fa-envelope-o" title="fa-envelope-o"><i class="fa fa-envelope-o"></i></a>
				<a href="#fa-envelope-square" title="fa-envelope-square"><i class="fa fa-envelope-square"></i></a>
				<a href="#fa-eraser" title="fa-eraser"><i class="fa fa-eraser"></i></a>
				<a href="#fa-exchange" title="fa-exchange"><i class="fa fa-exchange"></i></a>
				<a href="#fa-exclamation" title="fa-exclamation"><i class="fa fa-exclamation"></i></a>
				<a href="#fa-exclamation-circle" title="fa-exclamation-circle"><i class="fa fa-exclamation-circle"></i></a>
				<a href="#fa-exclamation-triangle" title="fa-exclamation-triangle"><i class="fa fa-exclamation-triangle"></i></a>
				<a href="#fa-external-link" title="fa-external-link"><i class="fa fa-external-link"></i></a>
				<a href="#fa-external-link-square" title="fa-external-link-square"><i class="fa fa-external-link-square"></i></a>
				<a href="#fa-eye" title="fa-eye"><i class="fa fa-eye"></i></a>
				<a href="#fa-eye-slash" title="fa-eye-slash"><i class="fa fa-eye-slash"></i></a>
				<a href="#fa-eyedropper" title="fa-eyedropper"><i class="fa fa-eyedropper"></i></a>
				<a href="#fa-fax" title="fa-fax"><i class="fa fa-fax"></i></a>
				<a href="#fa-female" title="fa-female"><i class="fa fa-female"></i></a>
				<a href="#fa-fighter-jet" title="fa-fighter-jet"><i class="fa fa-fighter-jet"></i></a>
				<a href="#fa-file-archive-o" title="fa-file-archive-o"><i class="fa fa-file-archive-o"></i></a>
				<a href="#fa-file-audio-o" title="fa-file-audio-o"><i class="fa fa-file-audio-o"></i></a>
				<a href="#fa-file-code-o" title="fa-file-code-o"><i class="fa fa-file-code-o"></i></a>
				<a href="#fa-file-excel-o" title="fa-file-excel-o"><i class="fa fa-file-excel-o"></i></a>
				<a href="#fa-file-image-o" title="fa-file-image-o"><i class="fa fa-file-image-o"></i></a>
				<a href="#fa-file-video-o" title="fa-file-movie-o ({L_ALIAS})"><i class="fa fa-file-movie-o"></i></a>
				<a href="#fa-file-pdf-o" title="fa-file-pdf-o"><i class="fa fa-file-pdf-o"></i></a>
				<a href="#fa-file-image-o" title="fa-file-photo-o ({L_ALIAS})"><i class="fa fa-file-photo-o"></i></a>
				<a href="#fa-file-image-o" title="fa-file-picture-o ({L_ALIAS})"><i class="fa fa-file-picture-o"></i></a>
				<a href="#fa-file-powerpoint-o" title="fa-file-powerpoint-o"><i class="fa fa-file-powerpoint-o"></i></a>
				<a href="#fa-file-audio-o" title="fa-file-sound-o ({L_ALIAS})"><i class="fa fa-file-sound-o"></i></a>
				<a href="#fa-file-video-o" title="fa-file-video-o"><i class="fa fa-file-video-o"></i></a>
				<a href="#fa-file-word-o" title="fa-file-word-o"><i class="fa fa-file-word-o"></i></a>
				<a href="#fa-file-archive-o" title="fa-file-zip-o ({L_ALIAS})"><i class="fa fa-file-zip-o"></i></a>
				<a href="#fa-film" title="fa-film"><i class="fa fa-film"></i></a>
				<a href="#fa-filter" title="fa-filter"><i class="fa fa-filter"></i></a>
				<a href="#fa-fire" title="fa-fire"><i class="fa fa-fire"></i></a>
				<a href="#fa-fire-extinguisher" title="fa-fire-extinguisher"><i class="fa fa-fire-extinguisher"></i></a>
				<a href="#fa-flag" title="fa-flag"><i class="fa fa-flag"></i></a>
				<a href="#fa-flag-checkered" title="fa-flag-checkered"><i class="fa fa-flag-checkered"></i></a>
				<a href="#fa-flag-o" title="fa-flag-o"><i class="fa fa-flag-o"></i></a>
				<a href="#fa-bolt" title="fa-flash ({L_ALIAS})"><i class="fa fa-flash"></i></a>
				<a href="#fa-flask" title="fa-flask"><i class="fa fa-flask"></i></a>
				<a href="#fa-folder" title="fa-folder"><i class="fa fa-folder"></i></a>
				<a href="#fa-folder-o" title="fa-folder-o"><i class="fa fa-folder-o"></i></a>
				<a href="#fa-folder-open" title="fa-folder-open"><i class="fa fa-folder-open"></i></a>
				<a href="#fa-folder-open-o" title="fa-folder-open-o"><i class="fa fa-folder-open-o"></i></a>
				<a href="#fa-frown-o" title="fa-frown-o"><i class="fa fa-frown-o"></i></a>
				<a href="#fa-futbol-o" title="fa-futbol-o"><i class="fa fa-futbol-o"></i></a>
				<a href="#fa-gamepad" title="fa-gamepad"><i class="fa fa-gamepad"></i></a>
				<a href="#fa-gavel" title="fa-gavel"><i class="fa fa-gavel"></i></a>
				<a href="#fa-cog" title="fa-gear ({L_ALIAS})"><i class="fa fa-gear"></i></a>
				<a href="#fa-cogs" title="fa-gears ({L_ALIAS})"><i class="fa fa-gears"></i></a>
				<a href="#fa-gift" title="fa-gift"><i class="fa fa-gift"></i></a>
				<a href="#fa-glass" title="fa-glass"><i class="fa fa-glass"></i></a>
				<a href="#fa-globe" title="fa-globe"><i class="fa fa-globe"></i></a>
				<a href="#fa-graduation-cap" title="fa-graduation-cap"><i class="fa fa-graduation-cap"></i></a>
				<a href="#fa-users" title="fa-group ({L_ALIAS})"><i class="fa fa-group"></i></a>
				<a href="#fa-hdd-o" title="fa-hdd-o"><i class="fa fa-hdd-o"></i></a>
				<a href="#fa-headphones" title="fa-headphones"><i class="fa fa-headphones"></i></a>
				<a href="#fa-heart" title="fa-heart"><i class="fa fa-heart"></i></a>
				<a href="#fa-heart-o" title="fa-heart-o"><i class="fa fa-heart-o"></i></a>
				<a href="#fa-history" title="fa-history"><i class="fa fa-history"></i></a>
				<a href="#fa-home" title="fa-home"><i class="fa fa-home"></i></a>
				<a href="#fa-picture-o" title="fa-image ({L_ALIAS})"><i class="fa fa-image"></i></a>
				<a href="#fa-inbox" title="fa-inbox"><i class="fa fa-inbox"></i></a>
				<a href="#fa-info" title="fa-info"><i class="fa fa-info"></i></a>
				<a href="#fa-info-circle" title="fa-info-circle"><i class="fa fa-info-circle"></i></a>
				<a href="#fa-university" title="fa-institution ({L_ALIAS})"><i class="fa fa-institution"></i></a>
				<a href="#fa-key" title="fa-key"><i class="fa fa-key"></i></a>
				<a href="#fa-keyboard-o" title="fa-keyboard-o"><i class="fa fa-keyboard-o"></i></a>
				<a href="#fa-language" title="fa-language"><i class="fa fa-language"></i></a>
				<a href="#fa-laptop" title="fa-laptop"><i class="fa fa-laptop"></i></a>
				<a href="#fa-leaf" title="fa-leaf"><i class="fa fa-leaf"></i></a>
				<a href="#fa-gavel" title="fa-legal ({L_ALIAS})"><i class="fa fa-legal"></i></a>
				<a href="#fa-lemon-o" title="fa-lemon-o"><i class="fa fa-lemon-o"></i></a>
				<a href="#fa-level-down" title="fa-level-down"><i class="fa fa-level-down"></i></a>
				<a href="#fa-level-up" title="fa-level-up"><i class="fa fa-level-up"></i></a>
				<a href="#fa-life-ring" title="fa-life-bouy ({L_ALIAS})"><i class="fa fa-life-bouy"></i></a>
				<a href="#fa-life-ring" title="fa-life-buoy ({L_ALIAS})"><i class="fa fa-life-buoy"></i></a>
				<a href="#fa-life-ring" title="fa-life-ring"><i class="fa fa-life-ring"></i></a>
				<a href="#fa-life-ring" title="fa-life-saver ({L_ALIAS})"><i class="fa fa-life-saver"></i></a>
				<a href="#fa-lightbulb-o" title="fa-lightbulb-o"><i class="fa fa-lightbulb-o"></i></a>
				<a href="#fa-line-chart" title="fa-line-chart"><i class="fa fa-line-chart"></i></a>
				<a href="#fa-location-arrow" title="fa-location-arrow"><i class="fa fa-location-arrow"></i></a>
				<a href="#fa-lock" title="fa-lock"><i class="fa fa-lock"></i></a>
				<a href="#fa-magic" title="fa-magic"><i class="fa fa-magic"></i></a>
				<a href="#fa-magnet" title="fa-magnet"><i class="fa fa-magnet"></i></a>
				<a href="#fa-share" title="fa-mail-forward ({L_ALIAS})"><i class="fa fa-mail-forward"></i></a>
				<a href="#fa-reply" title="fa-mail-reply ({L_ALIAS})"><i class="fa fa-mail-reply"></i></a>
				<a href="#fa-reply-all" title="fa-mail-reply-all ({L_ALIAS})"><i class="fa fa-mail-reply-all"></i></a>
				<a href="#fa-male" title="fa-male"><i class="fa fa-male"></i></a>
				<a href="#fa-map-marker" title="fa-map-marker"><i class="fa fa-map-marker"></i></a>
				<a href="#fa-meh-o" title="fa-meh-o"><i class="fa fa-meh-o"></i></a>
				<a href="#fa-microphone" title="fa-microphone"><i class="fa fa-microphone"></i></a>
				<a href="#fa-microphone-slash" title="fa-microphone-slash"><i class="fa fa-microphone-slash"></i></a>
				<a href="#fa-minus" title="fa-minus"><i class="fa fa-minus"></i></a>
				<a href="#fa-minus-circle" title="fa-minus-circle"><i class="fa fa-minus-circle"></i></a>
				<a href="#fa-minus-square" title="fa-minus-square"><i class="fa fa-minus-square"></i></a>
				<a href="#fa-minus-square-o" title="fa-minus-square-o"><i class="fa fa-minus-square-o"></i></a>
				<a href="#fa-mobile" title="fa-mobile"><i class="fa fa-mobile"></i></a>
				<a href="#fa-mobile" title="fa-mobile-phone ({L_ALIAS})"><i class="fa fa-mobile-phone"></i></a>
				<a href="#fa-money" title="fa-money"><i class="fa fa-money"></i></a>
				<a href="#fa-moon-o" title="fa-moon-o"><i class="fa fa-moon-o"></i></a>
				<a href="#fa-graduation-cap" title="fa-mortar-board ({L_ALIAS})"><i class="fa fa-mortar-board"></i></a>
				<a href="#fa-music" title="fa-music"><i class="fa fa-music"></i></a>
				<a href="#fa-bars" title="fa-navicon ({L_ALIAS})"><i class="fa fa-navicon"></i></a>
				<a href="#fa-newspaper-o" title="fa-newspaper-o"><i class="fa fa-newspaper-o"></i></a>
				<a href="#fa-paint-brush" title="fa-paint-brush"><i class="fa fa-paint-brush"></i></a>
				<a href="#fa-paper-plane" title="fa-paper-plane"><i class="fa fa-paper-plane"></i></a>
				<a href="#fa-paper-plane-o" title="fa-paper-plane-o"><i class="fa fa-paper-plane-o"></i></a>
				<a href="#fa-paw" title="fa-paw"><i class="fa fa-paw"></i></a>
				<a href="#fa-pencil" title="fa-pencil"><i class="fa fa-pencil"></i></a>
				<a href="#fa-pencil-square" title="fa-pencil-square"><i class="fa fa-pencil-square"></i></a>
				<a href="#fa-pencil-square-o" title="fa-pencil-square-o"><i class="fa fa-pencil-square-o"></i></a>
				<a href="#fa-phone" title="fa-phone"><i class="fa fa-phone"></i></a>
				<a href="#fa-phone-square" title="fa-phone-square"><i class="fa fa-phone-square"></i></a>
				<a href="#fa-picture-o" title="fa-photo ({L_ALIAS})"><i class="fa fa-photo"></i></a>
				<a href="#fa-picture-o" title="fa-picture-o"><i class="fa fa-picture-o"></i></a>
				<a href="#fa-pie-chart" title="fa-pie-chart"><i class="fa fa-pie-chart"></i></a>
				<a href="#fa-plane" title="fa-plane"><i class="fa fa-plane"></i></a>
				<a href="#fa-plug" title="fa-plug"><i class="fa fa-plug"></i></a>
				<a href="#fa-plus" title="fa-plus"><i class="fa fa-plus"></i></a>
				<a href="#fa-plus-circle" title="fa-plus-circle"><i class="fa fa-plus-circle"></i></a>
				<a href="#fa-plus-square" title="fa-plus-square"><i class="fa fa-plus-square"></i></a>
				<a href="#fa-plus-square-o" title="fa-plus-square-o"><i class="fa fa-plus-square-o"></i></a>
				<a href="#fa-power-off" title="fa-power-off"><i class="fa fa-power-off"></i></a>
				<a href="#fa-print" title="fa-print"><i class="fa fa-print"></i></a>
				<a href="#fa-puzzle-piece" title="fa-puzzle-piece"><i class="fa fa-puzzle-piece"></i></a>
				<a href="#fa-qrcode" title="fa-qrcode"><i class="fa fa-qrcode"></i></a>
				<a href="#fa-question" title="fa-question"><i class="fa fa-question"></i></a>
				<a href="#fa-question-circle" title="fa-question-circle"><i class="fa fa-question-circle"></i></a>
				<a href="#fa-quote-left" title="fa-quote-left"><i class="fa fa-quote-left"></i></a>
				<a href="#fa-quote-right" title="fa-quote-right"><i class="fa fa-quote-right"></i></a>
				<a href="#fa-random" title="fa-random"><i class="fa fa-random"></i></a>
				<a href="#fa-recycle" title="fa-recycle"><i class="fa fa-recycle"></i></a>
				<a href="#fa-refresh" title="fa-refresh"><i class="fa fa-refresh"></i></a>
				<a href="#fa-times" title="fa-remove ({L_ALIAS})"><i class="fa fa-remove"></i></a>
				<a href="#fa-bars" title="fa-reorder ({L_ALIAS})"><i class="fa fa-reorder"></i></a>
				<a href="#fa-reply" title="fa-reply"><i class="fa fa-reply"></i></a>
				<a href="#fa-reply-all" title="fa-reply-all"><i class="fa fa-reply-all"></i></a>
				<a href="#fa-retweet" title="fa-retweet"><i class="fa fa-retweet"></i></a>
				<a href="#fa-road" title="fa-road"><i class="fa fa-road"></i></a>
				<a href="#fa-rocket" title="fa-rocket"><i class="fa fa-rocket"></i></a>
				<a href="#fa-rss" title="fa-rss"><i class="fa fa-rss"></i></a>
				<a href="#fa-rss-square" title="fa-rss-square"><i class="fa fa-rss-square"></i></a>
				<a href="#fa-search" title="fa-search"><i class="fa fa-search"></i></a>
				<a href="#fa-search-minus" title="fa-search-minus"><i class="fa fa-search-minus"></i></a>
				<a href="#fa-search-plus" title="fa-search-plus"><i class="fa fa-search-plus"></i></a>
				<a href="#fa-paper-plane" title="fa-send ({L_ALIAS})"><i class="fa fa-send"></i></a>
				<a href="#fa-paper-plane-o" title="fa-send-o ({L_ALIAS})"><i class="fa fa-send-o"></i></a>
				<a href="#fa-share" title="fa-share"><i class="fa fa-share"></i></a>
				<a href="#fa-share-alt" title="fa-share-alt"><i class="fa fa-share-alt"></i></a>
				<a href="#fa-share-alt-square" title="fa-share-alt-square"><i class="fa fa-share-alt-square"></i></a>
				<a href="#fa-share-square" title="fa-share-square"><i class="fa fa-share-square"></i></a>
				<a href="#fa-share-square-o" title="fa-share-square-o"><i class="fa fa-share-square-o"></i></a>
				<a href="#fa-shield" title="fa-shield"><i class="fa fa-shield"></i></a>
				<a href="#fa-shopping-cart" title="fa-shopping-cart"><i class="fa fa-shopping-cart"></i></a>
				<a href="#fa-sign-in" title="fa-sign-in"><i class="fa fa-sign-in"></i></a>
				<a href="#fa-sign-out" title="fa-sign-out"><i class="fa fa-sign-out"></i></a>
				<a href="#fa-signal" title="fa-signal"><i class="fa fa-signal"></i></a>
				<a href="#fa-sitemap" title="fa-sitemap"><i class="fa fa-sitemap"></i></a>
				<a href="#fa-sliders" title="fa-sliders"><i class="fa fa-sliders"></i></a>
				<a href="#fa-smile-o" title="fa-smile-o"><i class="fa fa-smile-o"></i></a>
				<a href="#fa-futbol-o" title="fa-soccer-ball-o ({L_ALIAS})"><i class="fa fa-soccer-ball-o"></i></a>
				<a href="#fa-sort" title="fa-sort"><i class="fa fa-sort"></i></a>
				<a href="#fa-sort-alpha-asc" title="fa-sort-alpha-asc"><i class="fa fa-sort-alpha-asc"></i></a>
				<a href="#fa-sort-alpha-desc" title="fa-sort-alpha-desc"><i class="fa fa-sort-alpha-desc"></i></a>
				<a href="#fa-sort-amount-asc" title="fa-sort-amount-asc"><i class="fa fa-sort-amount-asc"></i></a>
				<a href="#fa-sort-amount-desc" title="fa-sort-amount-desc"><i class="fa fa-sort-amount-desc"></i></a>
				<a href="#fa-sort-asc" title="fa-sort-asc"><i class="fa fa-sort-asc"></i></a>
				<a href="#fa-sort-desc" title="fa-sort-desc"><i class="fa fa-sort-desc"></i></a>
				<a href="#fa-sort-desc" title="fa-sort-down ({L_ALIAS})"><i class="fa fa-sort-down"></i></a>
				<a href="#fa-sort-numeric-asc" title="fa-sort-numeric-asc"><i class="fa fa-sort-numeric-asc"></i></a>
				<a href="#fa-sort-numeric-desc" title="fa-sort-numeric-desc"><i class="fa fa-sort-numeric-desc"></i></a>
				<a href="#fa-sort-asc" title="fa-sort-up ({L_ALIAS})"><i class="fa fa-sort-up"></i></a>
				<a href="#fa-space-shuttle" title="fa-space-shuttle"><i class="fa fa-space-shuttle"></i></a>
				<a href="#fa-spinner" title="fa-spinner"><i class="fa fa-spinner"></i></a>
				<a href="#fa-spoon" title="fa-spoon"><i class="fa fa-spoon"></i></a>
				<a href="#fa-square" title="fa-square"><i class="fa fa-square"></i></a>
				<a href="#fa-square-o" title="fa-square-o"><i class="fa fa-square-o"></i></a>
				<a href="#fa-star" title="fa-star"><i class="fa fa-star"></i></a>
				<a href="#fa-star-half" title="fa-star-half"><i class="fa fa-star-half"></i></a>
				<a href="#fa-star-half-o" title="fa-star-half-empty ({L_ALIAS})"><i class="fa fa-star-half-empty"></i></a>
				<a href="#fa-star-half-o" title="fa-star-half-full ({L_ALIAS})"><i class="fa fa-star-half-full"></i></a>
				<a href="#fa-star-half-o" title="fa-star-half-o"><i class="fa fa-star-half-o"></i></a>
				<a href="#fa-star-o" title="fa-star-o"><i class="fa fa-star-o"></i></a>
				<a href="#fa-suitcase" title="fa-suitcase"><i class="fa fa-suitcase"></i></a>
				<a href="#fa-sun-o" title="fa-sun-o"><i class="fa fa-sun-o"></i></a>
				<a href="#fa-life-ring" title="fa-support ({L_ALIAS})"><i class="fa fa-support"></i></a>
				<a href="#fa-tablet" title="fa-tablet"><i class="fa fa-tablet"></i></a>
				<a href="#fa-tachometer" title="fa-tachometer"><i class="fa fa-tachometer"></i></a>
				<a href="#fa-tag" title="fa-tag"><i class="fa fa-tag"></i></a>
				<a href="#fa-tags" title="fa-tags"><i class="fa fa-tags"></i></a>
				<a href="#fa-tasks" title="fa-tasks"><i class="fa fa-tasks"></i></a>
				<a href="#fa-taxi" title="fa-taxi"><i class="fa fa-taxi"></i></a>
				<a href="#fa-terminal" title="fa-terminal"><i class="fa fa-terminal"></i></a>
				<a href="#fa-thumb-tack" title="fa-thumb-tack"><i class="fa fa-thumb-tack"></i></a>
				<a href="#fa-thumbs-down" title="fa-thumbs-down"><i class="fa fa-thumbs-down"></i></a>
				<a href="#fa-thumbs-o-down" title="fa-thumbs-o-down"><i class="fa fa-thumbs-o-down"></i></a>
				<a href="#fa-thumbs-o-up" title="fa-thumbs-o-up"><i class="fa fa-thumbs-o-up"></i></a>
				<a href="#fa-thumbs-up" title="fa-thumbs-up"><i class="fa fa-thumbs-up"></i></a>
				<a href="#fa-ticket" title="fa-ticket"><i class="fa fa-ticket"></i></a>
				<a href="#fa-times" title="fa-times"><i class="fa fa-times"></i></a>
				<a href="#fa-times-circle" title="fa-times-circle"><i class="fa fa-times-circle"></i></a>
				<a href="#fa-times-circle-o" title="fa-times-circle-o"><i class="fa fa-times-circle-o"></i></a>
				<a href="#fa-tint" title="fa-tint"><i class="fa fa-tint"></i></a>
				<a href="#fa-caret-square-o-down" title="fa-toggle-down ({L_ALIAS})"><i class="fa fa-toggle-down"></i></a>
				<a href="#fa-caret-square-o-left" title="fa-toggle-left ({L_ALIAS})"><i class="fa fa-toggle-left"></i></a>
				<a href="#fa-toggle-off" title="fa-toggle-off"><i class="fa fa-toggle-off"></i></a>
				<a href="#fa-toggle-on" title="fa-toggle-on"><i class="fa fa-toggle-on"></i></a>
				<a href="#fa-caret-square-o-right" title="fa-toggle-right ({L_ALIAS})"><i class="fa fa-toggle-right"></i></a>
				<a href="#fa-caret-square-o-up" title="fa-toggle-up ({L_ALIAS})"><i class="fa fa-toggle-up"></i></a>
				<a href="#fa-trash" title="fa-trash"><i class="fa fa-trash"></i></a>
				<a href="#fa-trash-o" title="fa-trash-o"><i class="fa fa-trash-o"></i></a>
				<a href="#fa-tree" title="fa-tree"><i class="fa fa-tree"></i></a>
				<a href="#fa-trophy" title="fa-trophy"><i class="fa fa-trophy"></i></a>
				<a href="#fa-truck" title="fa-truck"><i class="fa fa-truck"></i></a>
				<a href="#fa-tty" title="fa-tty"><i class="fa fa-tty"></i></a>
				<a href="#fa-umbrella" title="fa-umbrella"><i class="fa fa-umbrella"></i></a>
				<a href="#fa-university" title="fa-university"><i class="fa fa-university"></i></a>
				<a href="#fa-unlock" title="fa-unlock"><i class="fa fa-unlock"></i></a>
				<a href="#fa-unlock-alt" title="fa-unlock-alt"><i class="fa fa-unlock-alt"></i></a>
				<a href="#fa-sort" title="fa-unsorted ({L_ALIAS})"><i class="fa fa-unsorted"></i></a>
				<a href="#fa-upload" title="fa-upload"><i class="fa fa-upload"></i></a>
				<a href="#fa-user" title="fa-user"><i class="fa fa-user"></i></a>
				<a href="#fa-users" title="fa-users"><i class="fa fa-users"></i></a>
				<a href="#fa-video-camera" title="fa-video-camera"><i class="fa fa-video-camera"></i></a>
				<a href="#fa-volume-down" title="fa-volume-down"><i class="fa fa-volume-down"></i></a>
				<a href="#fa-volume-off" title="fa-volume-off"><i class="fa fa-volume-off"></i></a>
				<a href="#fa-volume-up" title="fa-volume-up"><i class="fa fa-volume-up"></i></a>
				<a href="#fa-exclamation-triangle" title="fa-warning ({L_ALIAS})"><i class="fa fa-warning"></i></a>
				<a href="#fa-wheelchair" title="fa-wheelchair"><i class="fa fa-wheelchair"></i></a>
				<a href="#fa-wifi" title="fa-wifi"><i class="fa fa-wifi"></i></a>
				<a href="#fa-wrench" title="fa-wrench"><i class="fa fa-wrench"></i></a>

				<h3 id="cat_file_type">{L_ICON_FILE_TYPE}</h3>

				<a href="#fa-file" title="fa-file"><i class="fa fa-file"></i></a>
				<a href="#fa-file-archive-o" title="fa-file-archive-o"><i class="fa fa-file-archive-o"></i></a>
				<a href="#fa-file-audio-o" title="fa-file-audio-o"><i class="fa fa-file-audio-o"></i></a>
				<a href="#fa-file-code-o" title="fa-file-code-o"><i class="fa fa-file-code-o"></i></a>
				<a href="#fa-file-excel-o" title="fa-file-excel-o"><i class="fa fa-file-excel-o"></i></a>
				<a href="#fa-file-image-o" title="fa-file-image-o"><i class="fa fa-file-image-o"></i></a>
				<a href="#fa-file-video-o" title="fa-file-movie-o ({L_ALIAS})"><i class="fa fa-file-movie-o"></i></a>
				<a href="#fa-file-o" title="fa-file-o"><i class="fa fa-file-o"></i></a>
				<a href="#fa-file-pdf-o" title="fa-file-pdf-o"><i class="fa fa-file-pdf-o"></i></a>
				<a href="#fa-file-image-o" title="fa-file-photo-o ({L_ALIAS})"><i class="fa fa-file-photo-o"></i></a>
				<a href="#fa-file-image-o" title="fa-file-picture-o ({L_ALIAS})"><i class="fa fa-file-picture-o"></i></a>
				<a href="#fa-file-powerpoint-o" title="fa-file-powerpoint-o"><i class="fa fa-file-powerpoint-o"></i></a>
				<a href="#fa-file-audio-o" title="fa-file-sound-o ({L_ALIAS})"><i class="fa fa-file-sound-o"></i></a>
				<a href="#fa-file-text" title="fa-file-text"><i class="fa fa-file-text"></i></a>
				<a href="#fa-file-text-o" title="fa-file-text-o"><i class="fa fa-file-text-o"></i></a>
				<a href="#fa-file-video-o" title="fa-file-video-o"><i class="fa fa-file-video-o"></i></a>
				<a href="#fa-file-word-o" title="fa-file-word-o"><i class="fa fa-file-word-o"></i></a>
				<a href="#fa-file-archive-o" title="fa-file-zip-o ({L_ALIAS})"><i class="fa fa-file-zip-o"></i></a>

				<h3 id="cat_spinner">{L_ICON_SPINNER}</h3>

				<a href="#fa-circle-o-notch" title="fa-circle-o-notch"><i class="fa fa-circle-o-notch"></i></a>
				<a href="#fa-cog" title="fa-cog"><i class="fa fa-cog"></i></a>
				<a href="#fa-cog" title="fa-gear ({L_ALIAS})"><i class="fa fa-gear"></i></a>
				<a href="#fa-refresh" title="fa-refresh"><i class="fa fa-refresh"></i></a>
				<a href="#fa-spinner" title="fa-spinner"><i class="fa fa-spinner"></i></a>

				<h3 id="cat_form_control">{L_ICON_FORM_CONTROL}</h3>

				<a href="#fa-check-square" title="fa-check-square"><i class="fa fa-check-square"></i></a>
				<a href="#fa-check-square-o" title="fa-check-square-o"><i class="fa fa-check-square-o"></i></a>
				<a href="#fa-circle" title="fa-circle"><i class="fa fa-circle"></i></a>
				<a href="#fa-circle-o" title="fa-circle-o"><i class="fa fa-circle-o"></i></a>
				<a href="#fa-dot-circle-o" title="fa-dot-circle-o"><i class="fa fa-dot-circle-o"></i></a>
				<a href="#fa-minus-square" title="fa-minus-square"><i class="fa fa-minus-square"></i></a>
				<a href="#fa-minus-square-o" title="fa-minus-square-o"><i class="fa fa-minus-square-o"></i></a>
				<a href="#fa-plus-square" title="fa-plus-square"><i class="fa fa-plus-square"></i></a>
				<a href="#fa-plus-square-o" title="fa-plus-square-o"><i class="fa fa-plus-square-o"></i></a>
				<a href="#fa-square" title="fa-square"><i class="fa fa-square"></i></a>
				<a href="#fa-square-o" title="fa-square-o"><i class="fa fa-square-o"></i></a>

				<h3 id="cat_payment">{L_ICON_PAYMENT}</h3>

				<a href="#fa-cc-amex" title="fa-cc-amex"><i class="fa fa-cc-amex"></i></a>
				<a href="#fa-cc-discover" title="fa-cc-discover"><i class="fa fa-cc-discover"></i></a>
				<a href="#fa-cc-mastercard" title="fa-cc-mastercard"><i class="fa fa-cc-mastercard"></i></a>
				<a href="#fa-cc-paypal" title="fa-cc-paypal"><i class="fa fa-cc-paypal"></i></a>
				<a href="#fa-cc-stripe" title="fa-cc-stripe"><i class="fa fa-cc-stripe"></i></a>
				<a href="#fa-cc-visa" title="fa-cc-visa"><i class="fa fa-cc-visa"></i></a>
				<a href="#fa-credit-card" title="fa-credit-card"><i class="fa fa-credit-card"></i></a>
				<a href="#fa-google-wallet" title="fa-google-wallet"><i class="fa fa-google-wallet"></i></a>
				<a href="#fa-paypal" title="fa-paypal"><i class="fa fa-paypal"></i></a>

				<h3 id="cat_chart">{L_ICON_CHART}</h3>

				<a href="#fa-area-chart" title="fa-area-chart"><i class="fa fa-area-chart"></i></a>
				<a href="#fa-bar-chart" title="fa-bar-chart"><i class="fa fa-bar-chart"></i></a>
				<a href="#fa-bar-chart" title="fa-bar-chart-o ({L_ALIAS})"><i class="fa fa-bar-chart-o"></i></a>
				<a href="#fa-line-chart" title="fa-line-chart"><i class="fa fa-line-chart"></i></a>
				<a href="#fa-pie-chart" title="fa-pie-chart"><i class="fa fa-pie-chart"></i></a>

				<h3 id="cat_currency">{L_ICON_CURRENCY}</h3>

				<a href="#fa-btc" title="fa-bitcoin ({L_ALIAS})"><i class="fa fa-bitcoin"></i></a>
				<a href="#fa-btc" title="fa-btc"><i class="fa fa-btc"></i></a>
				<a href="#fa-jpy" title="fa-cny ({L_ALIAS})"><i class="fa fa-cny"></i></a>
				<a href="#fa-usd" title="fa-dollar ({L_ALIAS})"><i class="fa fa-dollar"></i></a>
				<a href="#fa-eur" title="fa-eur"><i class="fa fa-eur"></i></a>
				<a href="#fa-eur" title="fa-euro ({L_ALIAS})"><i class="fa fa-euro"></i></a>
				<a href="#fa-gbp" title="fa-gbp"><i class="fa fa-gbp"></i></a>
				<a href="#fa-ils" title="fa-ils"><i class="fa fa-ils"></i></a>
				<a href="#fa-inr" title="fa-inr"><i class="fa fa-inr"></i></a>
				<a href="#fa-jpy" title="fa-jpy"><i class="fa fa-jpy"></i></a>
				<a href="#fa-krw" title="fa-krw"><i class="fa fa-krw"></i></a>
				<a href="#fa-money" title="fa-money"><i class="fa fa-money"></i></a>
				<a href="#fa-jpy" title="fa-rmb ({L_ALIAS})"><i class="fa fa-rmb"></i></a>
				<a href="#fa-rub" title="fa-rouble ({L_ALIAS})"><i class="fa fa-rouble"></i></a>
				<a href="#fa-rub" title="fa-rub"><i class="fa fa-rub"></i></a>
				<a href="#fa-rub" title="fa-ruble ({L_ALIAS})"><i class="fa fa-ruble"></i></a>
				<a href="#fa-inr" title="fa-rupee ({L_ALIAS})"><i class="fa fa-rupee"></i></a>
				<a href="#fa-ils" title="fa-shekel ({L_ALIAS})"><i class="fa fa-shekel"></i></a>
				<a href="#fa-ils" title="fa-sheqel ({L_ALIAS})"><i class="fa fa-sheqel"></i></a>
				<a href="#fa-try" title="fa-try"><i class="fa fa-try"></i></a>
				<a href="#fa-try" title="fa-turkish-lira ({L_ALIAS})"><i class="fa fa-turkish-lira"></i></a>
				<a href="#fa-usd" title="fa-usd"><i class="fa fa-usd"></i></a>
				<a href="#fa-krw" title="fa-won ({L_ALIAS})"><i class="fa fa-won"></i></a>
				<a href="#fa-jpy" title="fa-yen ({L_ALIAS})"><i class="fa fa-yen"></i></a>

				<h3 id="cat_text_editor">{L_ICON_TEXT_EDITOR}</h3>

				<a href="#fa-align-center" title="fa-align-center"><i class="fa fa-align-center"></i></a>
				<a href="#fa-align-justify" title="fa-align-justify"><i class="fa fa-align-justify"></i></a>
				<a href="#fa-align-left" title="fa-align-left"><i class="fa fa-align-left"></i></a>
				<a href="#fa-align-right" title="fa-align-right"><i class="fa fa-align-right"></i></a>
				<a href="#fa-bold" title="fa-bold"><i class="fa fa-bold"></i></a>
				<a href="#fa-link" title="fa-chain ({L_ALIAS})"><i class="fa fa-chain"></i></a>
				<a href="#fa-chain-broken" title="fa-chain-broken"><i class="fa fa-chain-broken"></i></a>
				<a href="#fa-clipboard" title="fa-clipboard"><i class="fa fa-clipboard"></i></a>
				<a href="#fa-columns" title="fa-columns"><i class="fa fa-columns"></i></a>
				<a href="#fa-files-o" title="fa-copy ({L_ALIAS})"><i class="fa fa-copy"></i></a>
				<a href="#fa-scissors" title="fa-cut ({L_ALIAS})"><i class="fa fa-cut"></i></a>
				<a href="#fa-outdent" title="fa-dedent ({L_ALIAS})"><i class="fa fa-dedent"></i></a>
				<a href="#fa-eraser" title="fa-eraser"><i class="fa fa-eraser"></i></a>
				<a href="#fa-file" title="fa-file"><i class="fa fa-file"></i></a>
				<a href="#fa-file-o" title="fa-file-o"><i class="fa fa-file-o"></i></a>
				<a href="#fa-file-text" title="fa-file-text"><i class="fa fa-file-text"></i></a>
				<a href="#fa-file-text-o" title="fa-file-text-o"><i class="fa fa-file-text-o"></i></a>
				<a href="#fa-files-o" title="fa-files-o"><i class="fa fa-files-o"></i></a>
				<a href="#fa-floppy-o" title="fa-floppy-o"><i class="fa fa-floppy-o"></i></a>
				<a href="#fa-font" title="fa-font"><i class="fa fa-font"></i></a>
				<a href="#fa-header" title="fa-header"><i class="fa fa-header"></i></a>
				<a href="#fa-indent" title="fa-indent"><i class="fa fa-indent"></i></a>
				<a href="#fa-italic" title="fa-italic"><i class="fa fa-italic"></i></a>
				<a href="#fa-link" title="fa-link"><i class="fa fa-link"></i></a>
				<a href="#fa-list" title="fa-list"><i class="fa fa-list"></i></a>
				<a href="#fa-list-alt" title="fa-list-alt"><i class="fa fa-list-alt"></i></a>
				<a href="#fa-list-ol" title="fa-list-ol"><i class="fa fa-list-ol"></i></a>
				<a href="#fa-list-ul" title="fa-list-ul"><i class="fa fa-list-ul"></i></a>
				<a href="#fa-outdent" title="fa-outdent"><i class="fa fa-outdent"></i></a>
				<a href="#fa-paperclip" title="fa-paperclip"><i class="fa fa-paperclip"></i></a>
				<a href="#fa-paragraph" title="fa-paragraph"><i class="fa fa-paragraph"></i></a>
				<a href="#fa-clipboard" title="fa-paste ({L_ALIAS})"><i class="fa fa-paste"></i></a>
				<a href="#fa-repeat" title="fa-repeat"><i class="fa fa-repeat"></i></a>
				<a href="#fa-undo" title="fa-rotate-left ({L_ALIAS})"><i class="fa fa-rotate-left"></i></a>
				<a href="#fa-repeat" title="fa-rotate-right ({L_ALIAS})"><i class="fa fa-rotate-right"></i></a>
				<a href="#fa-floppy-o" title="fa-save ({L_ALIAS})"><i class="fa fa-save"></i></a>
				<a href="#fa-scissors" title="fa-scissors"><i class="fa fa-scissors"></i></a>
				<a href="#fa-strikethrough" title="fa-strikethrough"><i class="fa fa-strikethrough"></i></a>
				<a href="#fa-subscript" title="fa-subscript"><i class="fa fa-subscript"></i></a>
				<a href="#fa-superscript" title="fa-superscript"><i class="fa fa-superscript"></i></a>
				<a href="#fa-table" title="fa-table"><i class="fa fa-table"></i></a>
				<a href="#fa-text-height" title="fa-text-height"><i class="fa fa-text-height"></i></a>
				<a href="#fa-text-width" title="fa-text-width"><i class="fa fa-text-width"></i></a>
				<a href="#fa-th" title="fa-th"><i class="fa fa-th"></i></a>
				<a href="#fa-th-large" title="fa-th-large"><i class="fa fa-th-large"></i></a>
				<a href="#fa-th-list" title="fa-th-list"><i class="fa fa-th-list"></i></a>
				<a href="#fa-underline" title="fa-underline"><i class="fa fa-underline"></i></a>
				<a href="#fa-undo" title="fa-undo"><i class="fa fa-undo"></i></a>
				<a href="#fa-chain-broken" title="fa-unlink ({L_ALIAS})"><i class="fa fa-unlink"></i></a>

				<h3 id="cat_directional">{L_ICON_DIRECTIONAL}</h3>

				<a href="#fa-angle-double-down" title="fa-angle-double-down"><i class="fa fa-angle-double-down"></i></a>
				<a href="#fa-angle-double-left" title="fa-angle-double-left"><i class="fa fa-angle-double-left"></i></a>
				<a href="#fa-angle-double-right" title="fa-angle-double-right"><i class="fa fa-angle-double-right"></i></a>
				<a href="#fa-angle-double-up" title="fa-angle-double-up"><i class="fa fa-angle-double-up"></i></a>
				<a href="#fa-angle-down" title="fa-angle-down"><i class="fa fa-angle-down"></i></a>
				<a href="#fa-angle-left" title="fa-angle-left"><i class="fa fa-angle-left"></i></a>
				<a href="#fa-angle-right" title="fa-angle-right"><i class="fa fa-angle-right"></i></a>
				<a href="#fa-angle-up" title="fa-angle-up"><i class="fa fa-angle-up"></i></a>
				<a href="#fa-arrow-circle-down" title="fa-arrow-circle-down"><i class="fa fa-arrow-circle-down"></i></a>
				<a href="#fa-arrow-circle-left" title="fa-arrow-circle-left"><i class="fa fa-arrow-circle-left"></i></a>
				<a href="#fa-arrow-circle-o-down" title="fa-arrow-circle-o-down"><i class="fa fa-arrow-circle-o-down"></i></a>
				<a href="#fa-arrow-circle-o-left" title="fa-arrow-circle-o-left"><i class="fa fa-arrow-circle-o-left"></i></a>
				<a href="#fa-arrow-circle-o-right" title="fa-arrow-circle-o-right"><i class="fa fa-arrow-circle-o-right"></i></a>
				<a href="#fa-arrow-circle-o-up" title="fa-arrow-circle-o-up"><i class="fa fa-arrow-circle-o-up"></i></a>
				<a href="#fa-arrow-circle-right" title="fa-arrow-circle-right"><i class="fa fa-arrow-circle-right"></i></a>
				<a href="#fa-arrow-circle-up" title="fa-arrow-circle-up"><i class="fa fa-arrow-circle-up"></i></a>
				<a href="#fa-arrow-down" title="fa-arrow-down"><i class="fa fa-arrow-down"></i></a>
				<a href="#fa-arrow-left" title="fa-arrow-left"><i class="fa fa-arrow-left"></i></a>
				<a href="#fa-arrow-right" title="fa-arrow-right"><i class="fa fa-arrow-right"></i></a>
				<a href="#fa-arrow-up" title="fa-arrow-up"><i class="fa fa-arrow-up"></i></a>
				<a href="#fa-arrows" title="fa-arrows"><i class="fa fa-arrows"></i></a>
				<a href="#fa-arrows-alt" title="fa-arrows-alt"><i class="fa fa-arrows-alt"></i></a>
				<a href="#fa-arrows-h" title="fa-arrows-h"><i class="fa fa-arrows-h"></i></a>
				<a href="#fa-arrows-v" title="fa-arrows-v"><i class="fa fa-arrows-v"></i></a>
				<a href="#fa-caret-down" title="fa-caret-down"><i class="fa fa-caret-down"></i></a>
				<a href="#fa-caret-left" title="fa-caret-left"><i class="fa fa-caret-left"></i></a>
				<a href="#fa-caret-right" title="fa-caret-right"><i class="fa fa-caret-right"></i></a>
				<a href="#fa-caret-square-o-down" title="fa-caret-square-o-down"><i class="fa fa-caret-square-o-down"></i></a>
				<a href="#fa-caret-square-o-left" title="fa-caret-square-o-left"><i class="fa fa-caret-square-o-left"></i></a>
				<a href="#fa-caret-square-o-right" title="fa-caret-square-o-right"><i class="fa fa-caret-square-o-right"></i></a>
				<a href="#fa-caret-square-o-up" title="fa-caret-square-o-up"><i class="fa fa-caret-square-o-up"></i></a>
				<a href="#fa-caret-up" title="fa-caret-up"><i class="fa fa-caret-up"></i></a>
				<a href="#fa-chevron-circle-down" title="fa-chevron-circle-down"><i class="fa fa-chevron-circle-down"></i></a>
				<a href="#fa-chevron-circle-left" title="fa-chevron-circle-left"><i class="fa fa-chevron-circle-left"></i></a>
				<a href="#fa-chevron-circle-right" title="fa-chevron-circle-right"><i class="fa fa-chevron-circle-right"></i></a>
				<a href="#fa-chevron-circle-up" title="fa-chevron-circle-up"><i class="fa fa-chevron-circle-up"></i></a>
				<a href="#fa-chevron-down" title="fa-chevron-down"><i class="fa fa-chevron-down"></i></a>
				<a href="#fa-chevron-left" title="fa-chevron-left"><i class="fa fa-chevron-left"></i></a>
				<a href="#fa-chevron-right" title="fa-chevron-right"><i class="fa fa-chevron-right"></i></a>
				<a href="#fa-chevron-up" title="fa-chevron-up"><i class="fa fa-chevron-up"></i></a>
				<a href="#fa-hand-o-down" title="fa-hand-o-down"><i class="fa fa-hand-o-down"></i></a>
				<a href="#fa-hand-o-left" title="fa-hand-o-left"><i class="fa fa-hand-o-left"></i></a>
				<a href="#fa-hand-o-right" title="fa-hand-o-right"><i class="fa fa-hand-o-right"></i></a>
				<a href="#fa-hand-o-up" title="fa-hand-o-up"><i class="fa fa-hand-o-up"></i></a>
				<a href="#fa-long-arrow-down" title="fa-long-arrow-down"><i class="fa fa-long-arrow-down"></i></a>
				<a href="#fa-long-arrow-left" title="fa-long-arrow-left"><i class="fa fa-long-arrow-left"></i></a>
				<a href="#fa-long-arrow-right" title="fa-long-arrow-right"><i class="fa fa-long-arrow-right"></i></a>
				<a href="#fa-long-arrow-up" title="fa-long-arrow-up"><i class="fa fa-long-arrow-up"></i></a>
				<a href="#fa-caret-square-o-down" title="fa-toggle-down ({L_ALIAS})"><i class="fa fa-toggle-down"></i></a>
				<a href="#fa-caret-square-o-left" title="fa-toggle-left ({L_ALIAS})"><i class="fa fa-toggle-left"></i></a>
				<a href="#fa-caret-square-o-right" title="fa-toggle-right ({L_ALIAS})"><i class="fa fa-toggle-right"></i></a>
				<a href="#fa-caret-square-o-up" title="fa-toggle-up ({L_ALIAS})"><i class="fa fa-toggle-up"></i></a>

				<h3 id="cat_video_player">{L_ICON_VIDEO_PLAYER}</h3>

				<a href="#fa-arrows-alt" title="fa-arrows-alt"><i class="fa fa-arrows-alt"></i></a>
				<a href="#fa-backward" title="fa-backward"><i class="fa fa-backward"></i></a>
				<a href="#fa-compress" title="fa-compress"><i class="fa fa-compress"></i></a>
				<a href="#fa-eject" title="fa-eject"><i class="fa fa-eject"></i></a>
				<a href="#fa-expand" title="fa-expand"><i class="fa fa-expand"></i></a>
				<a href="#fa-fast-backward" title="fa-fast-backward"><i class="fa fa-fast-backward"></i></a>
				<a href="#fa-fast-forward" title="fa-fast-forward"><i class="fa fa-fast-forward"></i></a>
				<a href="#fa-forward" title="fa-forward"><i class="fa fa-forward"></i></a>
				<a href="#fa-pause" title="fa-pause"><i class="fa fa-pause"></i></a>
				<a href="#fa-play" title="fa-play"><i class="fa fa-play"></i></a>
				<a href="#fa-play-circle" title="fa-play-circle"><i class="fa fa-play-circle"></i></a>
				<a href="#fa-play-circle-o" title="fa-play-circle-o"><i class="fa fa-play-circle-o"></i></a>
				<a href="#fa-step-backward" title="fa-step-backward"><i class="fa fa-step-backward"></i></a>
				<a href="#fa-step-forward" title="fa-step-forward"><i class="fa fa-step-forward"></i></a>
				<a href="#fa-stop" title="fa-stop"><i class="fa fa-stop"></i></a>
				<a href="#fa-youtube-play" title="fa-youtube-play"><i class="fa fa-youtube-play"></i></a>

				<h3 id="cat_brand">{L_ICON_BRAND}</h3>

				<a href="#fa-adn" title="fa-adn"><i class="fa fa-adn"></i></a>
				<a href="#fa-android" title="fa-android"><i class="fa fa-android"></i></a>
				<a href="#fa-angellist" title="fa-angellist"><i class="fa fa-angellist"></i></a>
				<a href="#fa-apple" title="fa-apple"><i class="fa fa-apple"></i></a>
				<a href="#fa-behance" title="fa-behance"><i class="fa fa-behance"></i></a>
				<a href="#fa-behance-square" title="fa-behance-square"><i class="fa fa-behance-square"></i></a>
				<a href="#fa-bitbucket" title="fa-bitbucket"><i class="fa fa-bitbucket"></i></a>
				<a href="#fa-bitbucket-square" title="fa-bitbucket-square"><i class="fa fa-bitbucket-square"></i></a>
				<a href="#fa-btc" title="fa-bitcoin ({L_ALIAS})"><i class="fa fa-bitcoin"></i></a>
				<a href="#fa-btc" title="fa-btc"><i class="fa fa-btc"></i></a>
				<a href="#fa-cc-amex" title="fa-cc-amex"><i class="fa fa-cc-amex"></i></a>
				<a href="#fa-cc-discover" title="fa-cc-discover"><i class="fa fa-cc-discover"></i></a>
				<a href="#fa-cc-mastercard" title="fa-cc-mastercard"><i class="fa fa-cc-mastercard"></i></a>
				<a href="#fa-cc-paypal" title="fa-cc-paypal"><i class="fa fa-cc-paypal"></i></a>
				<a href="#fa-cc-stripe" title="fa-cc-stripe"><i class="fa fa-cc-stripe"></i></a>
				<a href="#fa-cc-visa" title="fa-cc-visa"><i class="fa fa-cc-visa"></i></a>
				<a href="#fa-codepen" title="fa-codepen"><i class="fa fa-codepen"></i></a>
				<a href="#fa-css3" title="fa-css3"><i class="fa fa-css3"></i></a>
				<a href="#fa-delicious" title="fa-delicious"><i class="fa fa-delicious"></i></a>
				<a href="#fa-deviantart" title="fa-deviantart"><i class="fa fa-deviantart"></i></a>
				<a href="#fa-digg" title="fa-digg"><i class="fa fa-digg"></i></a>
				<a href="#fa-dribbble" title="fa-dribbble"><i class="fa fa-dribbble"></i></a>
				<a href="#fa-dropbox" title="fa-dropbox"><i class="fa fa-dropbox"></i></a>
				<a href="#fa-drupal" title="fa-drupal"><i class="fa fa-drupal"></i></a>
				<a href="#fa-empire" title="fa-empire"><i class="fa fa-empire"></i></a>
				<a href="#fa-facebook" title="fa-facebook"><i class="fa fa-facebook"></i></a>
				<a href="#fa-facebook-square" title="fa-facebook-square"><i class="fa fa-facebook-square"></i></a>
				<a href="#fa-flickr" title="fa-flickr"><i class="fa fa-flickr"></i></a>
				<a href="#fa-foursquare" title="fa-foursquare"><i class="fa fa-foursquare"></i></a>
				<a href="#fa-empire" title="fa-ge ({L_ALIAS})"><i class="fa fa-ge"></i></a>
				<a href="#fa-git" title="fa-git"><i class="fa fa-git"></i></a>
				<a href="#fa-git-square" title="fa-git-square"><i class="fa fa-git-square"></i></a>
				<a href="#fa-github" title="fa-github"><i class="fa fa-github"></i></a>
				<a href="#fa-github-alt" title="fa-github-alt"><i class="fa fa-github-alt"></i></a>
				<a href="#fa-github-square" title="fa-github-square"><i class="fa fa-github-square"></i></a>
				<a href="#fa-gittip" title="fa-gittip"><i class="fa fa-gittip"></i></a>
				<a href="#fa-google" title="fa-google"><i class="fa fa-google"></i></a>
				<a href="#fa-google-plus" title="fa-google-plus"><i class="fa fa-google-plus"></i></a>
				<a href="#fa-google-plus-square" title="fa-google-plus-square"><i class="fa fa-google-plus-square"></i></a>
				<a href="#fa-google-wallet" title="fa-google-wallet"><i class="fa fa-google-wallet"></i></a>
				<a href="#fa-hacker-news" title="fa-hacker-news"><i class="fa fa-hacker-news"></i></a>
				<a href="#fa-html5" title="fa-html5"><i class="fa fa-html5"></i></a>
				<a href="#fa-instagram" title="fa-instagram"><i class="fa fa-instagram"></i></a>
				<a href="#fa-ioxhost" title="fa-ioxhost"><i class="fa fa-ioxhost"></i></a>
				<a href="#fa-joomla" title="fa-joomla"><i class="fa fa-joomla"></i></a>
				<a href="#fa-jsfiddle" title="fa-jsfiddle"><i class="fa fa-jsfiddle"></i></a>
				<a href="#fa-lastfm" title="fa-lastfm"><i class="fa fa-lastfm"></i></a>
				<a href="#fa-lastfm-square" title="fa-lastfm-square"><i class="fa fa-lastfm-square"></i></a>
				<a href="#fa-linkedin" title="fa-linkedin"><i class="fa fa-linkedin"></i></a>
				<a href="#fa-linkedin-square" title="fa-linkedin-square"><i class="fa fa-linkedin-square"></i></a>
				<a href="#fa-linux" title="fa-linux"><i class="fa fa-linux"></i></a>
				<a href="#fa-maxcdn" title="fa-maxcdn"><i class="fa fa-maxcdn"></i></a>
				<a href="#fa-meanpath" title="fa-meanpath"><i class="fa fa-meanpath"></i></a>
				<a href="#fa-openid" title="fa-openid"><i class="fa fa-openid"></i></a>
				<a href="#fa-pagelines" title="fa-pagelines"><i class="fa fa-pagelines"></i></a>
				<a href="#fa-paypal" title="fa-paypal"><i class="fa fa-paypal"></i></a>
				<a href="#fa-pied-piper" title="fa-pied-piper"><i class="fa fa-pied-piper"></i></a>
				<a href="#fa-pied-piper-alt" title="fa-pied-piper-alt"><i class="fa fa-pied-piper-alt"></i></a>
				<a href="#fa-pinterest" title="fa-pinterest"><i class="fa fa-pinterest"></i></a>
				<a href="#fa-pinterest-square" title="fa-pinterest-square"><i class="fa fa-pinterest-square"></i></a>
				<a href="#fa-qq" title="fa-qq"><i class="fa fa-qq"></i></a>
				<a href="#fa-rebel" title="fa-ra ({L_ALIAS})"><i class="fa fa-ra"></i></a>
				<a href="#fa-rebel" title="fa-rebel"><i class="fa fa-rebel"></i></a>
				<a href="#fa-reddit" title="fa-reddit"><i class="fa fa-reddit"></i></a>
				<a href="#fa-reddit-square" title="fa-reddit-square"><i class="fa fa-reddit-square"></i></a>
				<a href="#fa-renren" title="fa-renren"><i class="fa fa-renren"></i></a>
				<a href="#fa-share-alt" title="fa-share-alt"><i class="fa fa-share-alt"></i></a>
				<a href="#fa-share-alt-square" title="fa-share-alt-square"><i class="fa fa-share-alt-square"></i></a>
				<a href="#fa-skype" title="fa-skype"><i class="fa fa-skype"></i></a>
				<a href="#fa-slack" title="fa-slack"><i class="fa fa-slack"></i></a>
				<a href="#fa-slideshare" title="fa-slideshare"><i class="fa fa-slideshare"></i></a>
				<a href="#fa-soundcloud" title="fa-soundcloud"><i class="fa fa-soundcloud"></i></a>
				<a href="#fa-spotify" title="fa-spotify"><i class="fa fa-spotify"></i></a>
				<a href="#fa-stack-exchange" title="fa-stack-exchange"><i class="fa fa-stack-exchange"></i></a>
				<a href="#fa-stack-overflow" title="fa-stack-overflow"><i class="fa fa-stack-overflow"></i></a>
				<a href="#fa-steam" title="fa-steam"><i class="fa fa-steam"></i></a>
				<a href="#fa-steam-square" title="fa-steam-square"><i class="fa fa-steam-square"></i></a>
				<a href="#fa-stumbleupon" title="fa-stumbleupon"><i class="fa fa-stumbleupon"></i></a>
				<a href="#fa-stumbleupon-circle" title="fa-stumbleupon-circle"><i class="fa fa-stumbleupon-circle"></i></a>
				<a href="#fa-tencent-weibo" title="fa-tencent-weibo"><i class="fa fa-tencent-weibo"></i></a>
				<a href="#fa-trello" title="fa-trello"><i class="fa fa-trello"></i></a>
				<a href="#fa-tumblr" title="fa-tumblr"><i class="fa fa-tumblr"></i></a>
				<a href="#fa-tumblr-square" title="fa-tumblr-square"><i class="fa fa-tumblr-square"></i></a>
				<a href="#fa-twitch" title="fa-twitch"><i class="fa fa-twitch"></i></a>
				<a href="#fa-twitter" title="fa-twitter"><i class="fa fa-twitter"></i></a>
				<a href="#fa-twitter-square" title="fa-twitter-square"><i class="fa fa-twitter-square"></i></a>
				<a href="#fa-vimeo-square" title="fa-vimeo-square"><i class="fa fa-vimeo-square"></i></a>
				<a href="#fa-vine" title="fa-vine"><i class="fa fa-vine"></i></a>
				<a href="#fa-vk" title="fa-vk"><i class="fa fa-vk"></i></a>
				<a href="#fa-weixin" title="fa-wechat ({L_ALIAS})"><i class="fa fa-wechat"></i></a>
				<a href="#fa-weibo" title="fa-weibo"><i class="fa fa-weibo"></i></a>
				<a href="#fa-weixin" title="fa-weixin"><i class="fa fa-weixin"></i></a>
				<a href="#fa-windows" title="fa-windows"><i class="fa fa-windows"></i></a>
				<a href="#fa-wordpress" title="fa-wordpress"><i class="fa fa-wordpress"></i></a>
				<a href="#fa-xing" title="fa-xing"><i class="fa fa-xing"></i></a>
				<a href="#fa-xing-square" title="fa-xing-square"><i class="fa fa-xing-square"></i></a>
				<a href="#fa-yahoo" title="fa-yahoo"><i class="fa fa-yahoo"></i></a>
				<a href="#fa-yelp" title="fa-yelp"><i class="fa fa-yelp"></i></a>
				<a href="#fa-youtube" title="fa-youtube"><i class="fa fa-youtube"></i></a>
				<a href="#fa-youtube-play" title="fa-youtube-play"><i class="fa fa-youtube-play"></i></a>
				<a href="#fa-youtube-square" title="fa-youtube-square"><i class="fa fa-youtube-square"></i></a>

				<h3 id="cat_medical">{L_ICON_MEDICAL}</h3>

				<a href="#fa-ambulance" title="fa-ambulance"><i class="fa fa-ambulance"></i></a>
				<a href="#fa-h-square" title="fa-h-square"><i class="fa fa-h-square"></i></a>
				<a href="#fa-hospital-o" title="fa-hospital-o"><i class="fa fa-hospital-o"></i></a>
				<a href="#fa-medkit" title="fa-medkit"><i class="fa fa-medkit"></i></a>
				<a href="#fa-plus-square" title="fa-plus-square"><i class="fa fa-plus-square"></i></a>
				<a href="#fa-stethoscope" title="fa-stethoscope"><i class="fa fa-stethoscope"></i></a>
				<a href="#fa-user-md" title="fa-user-md"><i class="fa fa-user-md"></i></a>
				<a href="#fa-wheelchair" title="fa-wheelchair"><i class="fa fa-wheelchair"></i></a>
			</div>
			<div class="clear"></div>
			<div id="icons-font-cat-list">
				<a href="#cat_web_application">{L_ICON_WEB_APPLICATION}</a>
				<a href="#cat_file_type">{L_ICON_FILE_TYPE}</a>
				<a href="#cat_spinner">{L_ICON_SPINNER}</a>
				<a href="#cat_form_control">{L_ICON_FORM_CONTROL}</a>
				<a href="#cat_payment">{L_ICON_PAYMENT}</a>
				<a href="#cat_chart">{L_ICON_CHART}</a>
				<a href="#cat_currency">{L_ICON_CURRENCY}</a>
				<a href="#cat_text_editor">{L_ICON_TEXT_EDITOR}</a>
				<a href="#cat_directional">{L_ICON_DIRECTIONAL}</a>
				<a href="#cat_video_player">{L_ICON_VIDEO_PLAYER}</a>
				<a href="#cat_brand">{L_ICON_BRAND}</a>
				<a href="#cat_medical">{L_ICON_MEDICAL}</a>
			</div>
			<div class="clear"></div>
			<div id="icon-picker-preview">
				<i class=""></i>
			</div>
			<div id="icon-picker-actions">
				<p><a href="#" id="icon-picker-insert" class="small">{L_ICON_INSERT_UPDATE}</a></p>
				<p><a href="#" id="icon-picker-none" class="small">{L_NO_ICON}</a></p>
			</div>
			<div class="clear"></div>
		</div>
		<div id="tab-icons-font-settings" class="tab-content">
			<form id="icon-customization">
				<fieldset class="small">
					<dl>
						<dt>{L_ICON_SIZE}:</dt>
						<dd>
							<select id="icons-size" name="size">
								<option value="" selected="selected">{L_ICON_SIZE_DEFAULT}</option>
								<option value="fa-lg">{L_ICON_SIZE_LARGER}</option>
								<option value="fa-2x">2x</option>
								<option value="fa-3x">3x</option>
								<option value="fa-4x">4x</option>
								<option value="fa-5x">5x</option>
							</select>
						</dd>
					</dl>
					<dl>
						<dt>{L_ICON_COLOR}:</dt>
						<dd>
							<ul>
								<li>
									<span class="icons-color-container" title="{L_ICON_COLOR_DEFAULT}">
										<span class="color" style="background-color: none">&nbsp;</span>
									</span>
									<input type="radio" name="color" class="icons-customize" value="" />
								</li>
								<li>
									<span class="icons-color-container" title="{L_BLUE}">
										<span class="color" style="background-color: blue">&nbsp;</span>
									</span>
									<input type="radio" name="color" class="icons-customize" value="blue" />
								</li>
								<li>
									<span class="icons-color-container" title="{L_RED}">
										<span class="color" style="background-color: red">&nbsp;</span>
									</span>
									<input type="radio" name="color" class="icons-customize" value="red" />
								</li>
								<li>
									<span class="icons-color-container" title="{L_GREEN}">
										<span class="color" style="background-color: green">&nbsp;</span>
									</span>
									<input type="radio" name="color" class="icons-customize" value="green" />
								</li>
								<li>
									<span class="icons-color-container" title="{L_PURPLE}">
										<span class="color" style="background-color: purple">&nbsp;</span>
									</span>
									<input type="radio" name="color" class="icons-customize" value="purple" />
								</li>
							</ul>
						</dd>
					</dl>
					<dl>
						<dt>{L_ICON_FLOAT}:</dt>
						<dd>
							<label><input type="radio" name="float" class="icons-customize" value="" checked="checked" /> {L_NONE}</label>
						</dd>
						<dd>
							<label><input type="radio" name="float" class="icons-customize" value="pull-left" /> {L_ICON_FLOAT_LEFT}</label>
						</dd>
						<dd>
							<label><input type="radio" name="float" class="icons-customize" value="pull-right" /> {L_ICON_FLOAT_RIGHT}</label>
						</dd>
					</dl>
					<dl>
						<dt>{L_ICON_MISC}:</dt>
						<dd>
							<label><input type="checkbox" name="fw" class="icons-customize" value="fa-fw" /> {L_ICON_MISC_FIXED_WIDTH}</label>
						</dd>
						<dd>
							<label><input type="checkbox" name="bordered" class="icons-customize" value="fa-border" /> {L_ICON_MISC_BORDERED}</label>
						</dd>
						<dd>
							<label><input type="checkbox" name="spinning" class="icons-customize" value="fa-spin" title="{L_ICON_SPINNING_EXPLAIN}" /> {L_ICON_MISC_SPINNING}</label>
						</dd>
					</dl>
					<dl>
						<dt>{L_ICON_ROTATION}:</dt>
						<dd>
							<label><input type="radio" name="rotation" class="icons-customize" value="" checked="checked" /> {L_NONE}</label>
						</dd>
						<dd>
							<label><input type="radio" name="rotation" class="icons-customize" value="fa-rotate-90" /> 90°</label>
						</dd>
						<dd>
							<label><input type="radio" name="rotation" class="icons-customize" value="fa-rotate-180" /> 180°</label>
						</dd>
						<dd>
							<label><input type="radio" name="rotation" class="icons-customize" value="fa-rotate-270" /> 270°</label>
						</dd>
						<dd>
							<label><input type="radio" name="rotation" class="icons-customize" value="fa-flip-horizontal" /> {L_ICON_FLIP_HORIZONTAL}</label>
						</dd>
						<dd>
							<label><input type="radio" name="rotation" class="icons-customize" value="fa-flip-vertical" /> {L_ICON_FLIP_VERTICAL}</label>
						</dd>
					</dl>
				</fieldset>
			</form>
		</div>
		<!-- IF .icon -->
		<div id="tab-icons-image" class="tab-content">
			<!-- BEGIN icon -->
			<a href="#"><img src="" alt="" /></a>
			<!-- END icon -->
		</div>
		<!-- ENDIF -->
	</div>
</div>