{% if S_EDIT_MODE %}
	{% set editable = ' editable' %}
	{% set block_controls %}
		<div class="block-controls">
			<a href="#" class="item-action delete-block" title="{{ lang('DELETE') }}"><span class="ui-icon ui-icon-closethick">{{ lang('DELETE') }}</span></a>
			<a href="#" class="item-action edit-block" title="{{ lang('EDIT') }}"><span class="ui-icon ui-icon-gear">{{ lang('EDIT') }}</span></a>
		</div>
	{% endset %}
{% endif %}

{% set sidebar_size = block('sidebar_size')|default(3) %}
{% set sidebar_width = block('sidebar_width')|default('') %}
{% set sidebar_placement = block('sidebar_placement')|default('') %}
{% set subcontent_size = block('subcontent_size')|default(3) %}
{% set subcontent_width = block('subcontent_width')|default('') %}
{% set subcontent_placement = block('subcontent_placement')|default('') %}

{% block layout %}{% endblock %}
