				{% if S_EDIT_MODE %}
					{% set S_BLOCK_CONTROLS %}
						<div class="block-controls">
							<a href="#" class="item-action delete-block" title="{L_DELETE}"><span class="ui-icon ui-icon-closethick">{L_DELETE}</span></a>
							<a href="#" class="item-action edit-block" title="{L_EDIT}"><span class="ui-icon ui-icon-gear">{L_EDIT}</span></a>
						</div>
					{% endset %}
				{% endif %}

				</div>
				<!-- IF .boxes or S_EDIT_MODE -->
					<!-- IF (S_BOXES_COUNT % 3) eq 0 -->
						<!-- DEFINE $DIV = 3 -->
					<!-- ELSEIF (S_BOXES_COUNT % 2) eq 0 -->
						<!-- DEFINE $DIV = 2 -->
					<!-- ELSEIF S_BOXES_COUNT > 3 -->
						<!-- DEFINE $DIV = 3 -->
					<!-- ELSE -->
						<!-- DEFINE $DIV = 1 -->
					<!-- ENDIF -->
				<div id="pos-boxes" class="block-position horizontal equal line">
					<!-- BEGIN boxes -->
					<div id="block-{boxes.BID}" class="unit size1of{$DIV}<!-- IF (boxes.S_ROW_COUNT % $DIV + 1) eq $DIV --> lastUnit<!-- ENDIF --> block">
						<!-- IF not boxes.NO_WRAP -->
						<div class="panel post{boxes.CLASS} cms-block-spacing">
							<!-- IF boxes.TITLE and not boxes.HIDE_TITLE -->
							<h2>
								<span class="block-icon"><i class="{boxes.ICON}"></i></span>
								<span class="block-title">{boxes.TITLE}</span>
							</h2>
							<!-- ENDIF -->
							<div class="cms-block-content">
								{boxes.CONTENT}
							</div>
						</div>
						<!-- ELSE -->
						<div class="post{boxes.CLASS} cms-block-spacing">
							<!-- IF boxes.TITLE and not boxes.HIDE_TITLE -->
							<h2>
								<span class="block-icon"><i class="{boxes.ICON}"></i></span>
								<span class="block-title">{boxes.TITLE}</span>
							</h2>
							<!-- ENDIF -->
							{boxes.CONTENT}
						</div>
						<!-- ENDIF -->
						{S_BLOCK_CONTROLS}
					</div>
						<!-- IF (boxes.S_ROW_COUNT % $DIV + 1) eq $DIV -->
					<div class="clear"></div>
						<!-- ENDIF -->
					<!-- END boxes -->
				</div>
				<!-- ENDIF -->

				<!-- IF .bottom or S_EDIT_MODE -->
				<div id="pos-bottom" class="block-position">
					<!-- BEGIN bottom -->
					<div id="block-{bottom.BID}" class="unit size1of1 lastUnit block">
						<!-- IF not bottom.NO_WRAP -->
						<div class="panel post cms-block-container{bottom.CLASS} cms-block-spacing">
							<div class="inner">
								<!-- IF bottom.TITLE and not bottom.HIDE_TITLE -->
								<h2>
									<span class="block-icon"><i class="{bottom.ICON}"></i></span>
									<span class="block-title">{bottom.TITLE}</span>
								</h2>
								<!-- ENDIF -->
								<div class="cms-block-content">
									{bottom.CONTENT}
								</div>
							</div>
						</div>
						<!-- ELSE -->
						<div class="post{bottom.CLASS} cms-block-spacing">
							<!-- IF bottom.TITLE and not bottom.HIDE_TITLE -->
							<h2>
								<span class="block-icon"><i class="{bottom.ICON}"></i></span>
								<span class="block-title">{bottom.TITLE}</span>
							</h2>
							<!-- ENDIF -->
							{bottom.CONTENT}
						</div>
						<!-- ENDIF -->
						{S_BLOCK_CONTROLS}
					</div>
					<!-- END bottom -->
				</div>
				<!-- ENDIF -->
			</div>

			<!-- IF .subcontent or S_EDIT_MODE -->
			<div id="pos-subcontent" class="block-position unit size1of4 lastUnit">
				<!-- BEGIN subcontent -->
				<div id="block-{subcontent.BID}" class="unit size1of1 block">
					<!-- IF not subcontent.NO_WRAP -->
					<div class="panel post cms-block-container{subcontent.CLASS} cms-block-spacing">
						<div class="inner">
							<!-- IF subcontent.TITLE and not subcontent.HIDE_TITLE -->
							<h2>
								<span class="block-icon"><i class="{subcontent.ICON}"></i></span>
								<span class="block-title">{subcontent.TITLE}</span>
							</h2>
							<!-- ENDIF -->
							<div class="cms-block-content">
								{subcontent.CONTENT}
							</div>
						</div>
					</div>
					<!-- ELSE -->
					<div class="post{subcontent.CLASS} cms-block-spacing">
						<!-- IF subcontent.TITLE and not subcontent.HIDE_TITLE -->
						<h2>
							<span class="block-icon"><i class="{subcontent.ICON}"></i></span>
							<span class="block-title">{subcontent.TITLE}</span>
						</h2>
						<!-- ENDIF -->
						{subcontent.CONTENT}
					</div>
					<!-- ENDIF -->
					{S_BLOCK_CONTROLS}
				</div>
				<!-- END subcontent -->
			</div>
			<!-- ENDIF -->
		</div>
	</div>
</div>

<!-- IF .footer or S_EDIT_MODE -->
<div class="clear"></div>
<div id="pos-footer" class="panel bg3 block-position horizontal equal line">
	<!-- IF (S_FOOTER_COUNT % 3) eq 0 -->
		<!-- DEFINE $DIV = 3 -->
	<!-- ELSEIF (S_FOOTER_COUNT % 2) eq 0 -->
		<!-- DEFINE $DIV = 2 -->
	<!-- ELSEIF S_FOOTER_COUNT > 3 -->
		<!-- DEFINE $DIV = 3 -->
	<!-- ELSE -->
		<!-- DEFINE $DIV = 1 -->
	<!-- ENDIF -->
	<!-- BEGIN footer -->
	<div id="block-{footer.BID}" class="unit size1of{$DIV}<!-- IF (footer.S_ROW_COUNT % $DIV + 1) eq $DIV --> lastUnit<!-- ENDIF --> block">
		<!-- IF not footer.NO_WRAP -->
		<div class="panel post{footer.CLASS} cms-block-spacing">
			<div class="inner">
				<!-- IF footer.TITLE and not footer.HIDE_TITLE -->
				<h2>
					<span class="block-icon"><i class="{footer.ICON}"></i></span>
					<span class="block-title">{footer.TITLE}</span>
				</h2>
				<!-- ENDIF -->
				<div class="cms-block-content">
					{footer.CONTENT}
				</div>
			</div>
		</div>
		<!-- ELSE -->
		<div class="post{footer.CLASS} cms-block-spacing">
			<!-- IF footer.TITLE and not footer.HIDE_TITLE -->
			<h2>
				<span class="block-icon"><i class="{footer.ICON}"></i></span>
				<span class="block-title">{footer.TITLE}</span>
			</h2>
			<!-- ENDIF -->
			{footer.CONTENT}
		</div>
		<!-- ENDIF -->
		{S_BLOCK_CONTROLS}
	</div>
		<!-- IF (footer.S_ROW_COUNT % $DIV + 1) eq $DIV and not footer.S_LAST_ROW -->
	<div class="clear"></div>
		<!-- ENDIF -->
	<!-- END footer -->
</div>
<!-- ENDIF -->

<!-- IF S_EDIT_MODE -->
<div id="dialog-edit" class="dialog" title="{L_EDIT_BLOCK}" style="display: none;"></div>

<div id="dialog-confirm" class="dialog" title="{L_DELETE_BLOCK}" style="display: none;">
	<p><i class="fa fa-warning fa-4x pull-left fa-border" style="color: red"></i> {L_DELETE_BLOCK_CONFIRM}</p>
</div>

<div id="dialog-copy" class="dialog" title="{L_COPY_BLOCKS}" style="display: none;">
	<p><i class="fa fa-warning fa-4x pull-left fa-border" style="color: red"></i> {L_COPY_BLOCKS_CONFIRM}</p>
</div>

{ICON_PICKER}

<script id="block-template-container" type="text/x-jquery-tmpl">
	[[no_wrap]]
		<div class="post [[=class]] cms-block-spacing">
			[[!hide_title]]
			<h2>
				<span class="block-icon"><i class="[[=icon]]"></i></span>
				<span class="block-title">[[=title]]</span>
			</h2>
			[[/!hide_title]]
			[[=content]]
		</div>
	[[:no_wrap]]
		<div class="panel post cms-block-container [[=class]] cms-block-spacing">
			<div class="inner">
				[[!hide_title]]
				<h2>
					<span class="block-icon"><i class="[[=icon]]"></i></span>
					<span class="block-title">[[=title]]</span>
				</h2>
				[[/!hide_title]]
				<div class="cms-block-content">
					[[=content]]
				</div>
			</div>
		</div>
	[[/no_wrap]]
	<div class="block-controls">
		<a href="#" class="item-action delete-block" title="{L_DELETE}"><span class="ui-icon ui-icon-closethick">{L_DELETE}</span></a>
		<a href="#" class="item-action edit-block" title="{L_EDIT}"><span class="ui-icon ui-icon-gear">{L_EDIT}</span></a>
	</div>
</script>

<script type="text/javascript">
// <![CDATA[
	var ajaxUrl = '{UA_AJAX_URL}';
	var route = '{UA_ROUTE}';
	var ext = '{UA_EXTENSION}';
	var style = '{UA_STYLE_ID}';
	var editMode = {S_EDIT_MODE};
	var lang = {
		edit:   '{LA_EDIT_BLOCK}',
		copy: '{LA_COPY}',
		remove: '{LA_DELETE}',
		cancel: '{LA_CANCEL}',
		ajaxERROR: '{LA_AJAX_ERROR}',
		ajaxLoading: '{LA_AJAX_LOADING}',
		leaveConfirm: '{LA_LEAVE_CONFIRM}'
	};
// ]]>
</script>
<!-- ENDIF -->