						<div class="clear"></div>
					</div>
					{% if S_EDIT_MODE %}
						{% set EDITABLE_CLASS = ' editable' %}
						{% set S_BLOCK_CONTROLS %}
							<div class="block-controls">
								<a href="#" class="item-action delete-block" title="{L_DELETE}"><span class="ui-icon ui-icon-closethick">{L_DELETE}</span></a>
								<a href="#" class="item-action edit-block" title="{L_EDIT}"><span class="ui-icon ui-icon-gear">{L_EDIT}</span></a>
							</div>
						{% endset %}
					{% endif %}
					<!-- IF .boxes or S_EDIT_MODE -->
						<!-- IF (S_BOXES_COUNT % 3) eq 0 -->
							<!-- DEFINE $DIV = 3 -->
						<!-- ELSEIF (S_BOXES_COUNT % 2) eq 0 -->
							<!-- DEFINE $DIV = 2 -->
						<!-- ELSEIF S_BOXES_COUNT > 3 -->
							<!-- DEFINE $DIV = 3 -->
						<!-- ELSE -->
							<!-- DEFINE $DIV = 1 -->
						<!-- ENDIF -->
					<div id="pos-boxes" class="block-position horizontal equal grid">
						<!-- BEGIN boxes -->
						<div id="block-{boxes.BID}" class="block grid__col <!-- IF $DIV > 1 -->grid__col--1-of-{$DIV}<!-- ELSE -->grid__col--5-of-5<!-- ENDIF -->">
							<!-- IF not boxes.NO_WRAP -->
							<div class="panel post{boxes.CLASS} sm-block-spacing">
								<!-- IF boxes.TITLE and not boxes.HIDE_TITLE -->
								<h2>
									<span class="block-icon"><i class="{boxes.ICON}" aria-hidden="true"></i></span>
									<span class="block-title{EDITABLE_CLASS}">{boxes.TITLE}</span>
								</h2>
								<!-- ENDIF -->
								<div class="sm-block-content">
									{boxes.CONTENT}
								</div>
							</div>
							<!-- ELSE -->
							<div class="post{boxes.CLASS} sm-block-spacing">
								<!-- IF boxes.TITLE and not boxes.HIDE_TITLE -->
								<h2>
									<span class="block-icon"><i class="{boxes.ICON}" aria-hidden="true"></i></span>
									<span class="block-title{EDITABLE_CLASS}">{boxes.TITLE}</span>
								</h2>
								<!-- ENDIF -->
								{boxes.CONTENT}
							</div>
							<!-- ENDIF -->
							{S_BLOCK_CONTROLS}
						</div>
						<!-- END boxes -->
					</div>
					<!-- ENDIF -->

					<!-- IF .bottom or S_EDIT_MODE -->
					<div class="grid">
						<div id="pos-bottom" class="grid__col grid__col--5-of-5 block-position">
							<!-- BEGIN bottom -->
							<div id="block-{bottom.BID}" class="block">
								<!-- IF not bottom.NO_WRAP -->
								<div class="panel post sm-block-container{bottom.CLASS} sm-block-spacing">
									<div class="inner">
										<!-- IF bottom.TITLE and not bottom.HIDE_TITLE -->
										<h2>
											<span class="block-icon"><i class="{bottom.ICON}" aria-hidden="true"></i></span>
											<span class="block-title{EDITABLE_CLASS}">{bottom.TITLE}</span>
										</h2>
										<!-- ENDIF -->
										<div class="sm-block-content">
											{bottom.CONTENT}
										</div>
									</div>
								</div>
								<!-- ELSE -->
								<div class="post{bottom.CLASS} sm-block-spacing">
									<!-- IF bottom.TITLE and not bottom.HIDE_TITLE -->
									<h2>
										<span class="block-icon"><i class="{bottom.ICON}" aria-hidden="true"></i></span>
										<span class="block-title{EDITABLE_CLASS}">{bottom.TITLE}</span>
									</h2>
									<!-- ENDIF -->
									{bottom.CONTENT}
								</div>
								<!-- ENDIF -->
								{S_BLOCK_CONTROLS}
							</div>
							<!-- END bottom -->
						</div>
					</div>
					<!-- ENDIF -->
				</div>

				<!-- IF .subcontent or S_EDIT_MODE -->
				<div id="pos-subcontent" class="block-position sidebar sidebar-right grid__col grid__col--1-of-4">
					<!-- BEGIN subcontent -->
					<div id="block-{subcontent.BID}" class="block">
						<!-- IF not subcontent.NO_WRAP -->
						<div class="panel post sm-block-container{subcontent.CLASS} sm-block-spacing">
							<div class="inner">
								<!-- IF subcontent.TITLE and not subcontent.HIDE_TITLE -->
								<h2>
									<span class="block-icon"><i class="{subcontent.ICON}" aria-hidden="true"></i></span>
									<span class="block-title{EDITABLE_CLASS}">{subcontent.TITLE}</span>
								</h2>
								<!-- ENDIF -->
								<div class="sm-block-content">
									{subcontent.CONTENT}
								</div>
							</div>
						</div>
						<!-- ELSE -->
						<div class="post{subcontent.CLASS} sm-block-spacing">
							<!-- IF subcontent.TITLE and not subcontent.HIDE_TITLE -->
							<h2>
								<span class="block-icon"><i class="{subcontent.ICON}" aria-hidden="true"></i></span>
								<span class="block-title{EDITABLE_CLASS}">{subcontent.TITLE}</span>
							</h2>
							<!-- ENDIF -->
							{subcontent.CONTENT}
						</div>
						<!-- ENDIF -->
						{S_BLOCK_CONTROLS}
					</div>
					<!-- END subcontent -->
				</div>
				<!-- ENDIF -->
			</div>
		</div>
	</div>

	<!-- IF .footer or S_EDIT_MODE -->
	<div class="footer">
		<div id="pos-footer" class="panel bg3 block-position horizontal equal grid">
			<!-- IF (S_FOOTER_COUNT % 3) eq 0 -->
				<!-- DEFINE $DIV = 3 -->
			<!-- ELSEIF (S_FOOTER_COUNT % 2) eq 0 -->
				<!-- DEFINE $DIV = 2 -->
			<!-- ELSEIF S_FOOTER_COUNT > 3 -->
				<!-- DEFINE $DIV = 3 -->
			<!-- ELSE -->
				<!-- DEFINE $DIV = 1 -->
			<!-- ENDIF -->
			<!-- BEGIN footer -->
			<div id="block-{footer.BID}" class="block grid__col <!-- IF $DIV > 1 -->grid__col--1-of-{$DIV}<!-- ELSE -->grid__col--5-of-5<!-- ENDIF -->">
				<!-- IF not footer.NO_WRAP -->
				<div class="panel post{footer.CLASS} sm-block-spacing">
					<div class="inner">
						<!-- IF footer.TITLE and not footer.HIDE_TITLE -->
						<h2>
							<span class="block-icon"><i class="{footer.ICON}" aria-hidden="true"></i></span>
							<span class="block-title{EDITABLE_CLASS}">{footer.TITLE}</span>
						</h2>
						<!-- ENDIF -->
						<div class="sm-block-content">
							{footer.CONTENT}
						</div>
					</div>
				</div>
				<!-- ELSE -->
				<div class="post{footer.CLASS} sm-block-spacing">
					<!-- IF footer.TITLE and not footer.HIDE_TITLE -->
					<h2>
						<span class="block-icon"><i class="{footer.ICON}" aria-hidden="true"></i></span>
						<span class="block-title{EDITABLE_CLASS}">{footer.TITLE}</span>
					</h2>
					<!-- ENDIF -->
					{footer.CONTENT}
				</div>
				<!-- ENDIF -->
				{S_BLOCK_CONTROLS}
			</div>
			<!-- END footer -->
		</div>
	</div>
	<!-- ENDIF -->
</div>

<!-- IF U_EDIT_MODE -->
<div class="admin-bar-container">
	<a class="admin-bar-control" href="{U_EDIT_MODE}"><i class="fa fa-gear"></i></a>
</div>
<!-- ENDIF -->