$toast-col-groups: (2, 3, 4, 5);
$toast-gutter-width: 15px;

.module-wrapper {
	margin: 5px;
}

.module {
	background: #fff;
	margin-top: 15px;
}

.module .inner {
	padding: 15px;
}

.module .banner {
	padding: 10px;
}

.module .header {
	font-size: 1.2em;
	padding: 10px 15px;
	background-color: #dee8d7;
}

/* Opt-in outside padding */
.blue {
	background-color: blue;
	color: #fff;
}

.green {
	background-color: green;
	color: #fff;
}

.purple {
	background-color: purple;
	color: #fff;
}

.red {
	background-color: red;
	color: #fff;
}

.yellow {
	color: yellow;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

@import "bower_components/toast-grid/scss/grid";

.grid {
	.grid__col {
		margin-right: -0.25rem;
	}
}
