.style-layouts {
	float: left;
	width: 80%;
	height: 400px;
	overflow-y: auto;

	dl:hover {
		background-color: #7c3;
		padding-left: 10px;
		border-radius: 4px;
	}
}

.layout-preview {
	float: left;
	width: 20%;
	max-width: 400px;

	img {
		max-width: 100%;
	}

	.larger-view {
		position: absolute;
		visibility: hidden;
		left: -2000px;
		top: -100px;
		border: 5px solid #666666;
		border-radius: 5px;
		z-index: 2000;
		max-width: 80%;
		opacity: 0;
		transition: visibility 0s linear 0.5s,opacity 0.5s linear;
	}

	&:hover .larger-view {
		visibility: visible;
		opacity: 1;
		transition-delay: 0s;
		left: 0;
	}
}

.icon-container {
	display: inline-block;
	border: 1px solid #ccc;

	.icon-select {
		width: 20px;
		height: 16px;
		margin: 3px;
		text-align: center;
	}
}