{% set checkbox %}
	{% for key, column in columns %}
		<ul class="sm-list {{ class ~ field ~ '-checkbox' ~ (sortable ? ' ' ~ sortable : '') }}" id="{{ field ~ '-col-' ~ key }}">
		{% for value, title in column %}
			<li><label><input type="checkbox" name="{{ 'config[' ~ field ~ '][]' }}" value="{{ value }}"{% if value in selected %} checked="checked"{% endif %} class="checkbox" /> {{ lang(title) }}</label></li>
		{% endfor %}
		</ul>
	{% endfor %}
{% endset %}

{% if class %}
<div class="grid-noBottom_xs-1">
	{{ checkbox }}
</div>
{% else %}
	{{ checkbox }}
{% endif %}
