#nestedSortableCRUD ol {
    margin: 0;
    padding: 0;
    padding-left: 25px;
    padding: 0;
    list-style-type: none;
}

#nestedSortableCRUD ol ol {
    margin: 0 0 0 20px;
}

#nestedSortableCRUD ol {
    margin: 4em 0;
}

#nestedSortableCRUD li {
    margin: 2px 0 0 0;
    padding: 0;
}

#nestedSortableCRUD li div {
    font-weight: bold;
    padding: 5px;
    height: 20px;
    margin: 0;
    cursor: move;
}

#nestedSortableCRUD li .editable,
#nestedSortableCRUD li input {
	height: 16px;
	display: inline-block;
    cursor: pointer;
	cursor: hand;
}

#nestedSortableCRUD li .editable {
    height: 20px;
    padding-right: 4px;
}

#nestedSortableCRUD li .editable:hover {
    border: 1px solid #d5f8a0;
}

#nestedSortableCRUD .icon img, #icon-prev img {
    width: 15px;
    max-width: 15px;
    margin-right: 2px;
    vertical-align: center;
    height: auto;
}

#loading, #ajax-message {
    display: none;
    border: 2px solid #ccc;
    background-color: #d5f8a0;
    padding: 5px;
    z-index: 100;
    position: absolute;
    top: 0px;
    right: 0px;
}

#ajax-message {
    color: #e11414;
    font-weight: bold;
}

#inline-form {
    display: inline;
}

#icons {
    display: none;
    width: 155px;
    height: 170px;
    z-index: 1000;
    border: 1px solid #ccc;
}

.inline-icon {
    width: 20px;
    height: 18px;
    display: block;
    margin-right: 4px;
    text-align: center;
    border: 1px solid #ccc;
}

.inline-icon img, .icons img {
    width: 15px;
    height: 15px;
    margin: 4px;
}

.placeholder {
    background-color: #cfcfcf;
}

.ui-nestedSortable-error {
    background: #fbe3e4;
    color: #8a1f11;
}

.error {
    color: red;
    font-weight: bolder;
    font-size: 9px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.item-action {
    cursor: auto;
}

.item-action span:hover {
    border: 1px solid #ccc;
}