$toast-col-groups: (1, 2, 3, 4, 5, 8);

// Gutter width
$toast-gutter-width: 10px;

// Breakpoints
$toast-breakpoint-medium: 940px;
$toast-breakpoint-small: 768px;

// Pushes and pulls
$toast-pushes: false;
$toast-pulls: false;

@import "bower_components/toast-grid/scss/grid";
@import "./_partials/lists";
@import "./_partials/images";
@import "./_partials/blocks";
@import "./_partials/labels";
@import "./_partials/icons";
@import "./_partials/misc";
