/* CMS blocks layout
------------------ */
.cms-block-spacing,
.unit .cms-block-spacing {
	margin-bottom: 10px;
}

.horizontal > .unit > .cms-block-spacing {
	margin-right: 10px;
}

.horizontal > .lastUnit > .cms-block-spacing {
	margin-right: 0;
}

.post .cms-block-spacing {
	margin: 0.6em;
}

.cms-block-content {
	display: block;
	clear: both;
	overflow: hidden;
	word-wrap: break-word;
}

.cms-block-content li {
	list-style-type: inherit;
}

.cms-block-content ul,
.cms-block-content ol {
	margin-bottom: 1em;
	margin-left: 3em;
}

.right-spacer {
	margin-right: 1.5em;
}

.left-spacer {
	margin-left: 1.5em;
}

.sidebar-left {
	padding-right: 10px;
}

.sidebar-right {
	padding-left: 10px;
}

.sidebar {
	display: block;
}

.pt-responsive-show {
	display: none;
}

.pt-responsive-hide {
	display: block;
}

/* Footer */
.footer {
	padding: 15px;
}

.footer .panel {
	background: transparent;
}

.footer .cms-block-spacing {
	border-right: 1px solid #ccc;
}

.footer .lastUnit .cms-block-spacing {
	border: 0;
}

.admin-bar-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	z-index: 1000;
}

.admin-bar-container .admin-bar-control {
	position: absolute;
	top: 0;
	right: 0;
	width: 35px;
	height: 38px;
	line-height: 38px;
	background-color: #c33;
	color: #ccc;
	font-size: 18px;
	text-align: center;
}

.admin-bar-container .admin-bar-control:hover {
	text-decoration: none;
	font-weight: bolder;
	color: #ddd;
}

/* CMS Misc
--------------- */
.field-label {
	font-weight: bold;
	margin-top: 5px;
}

.label-hidden {
	display: none;
}

.label-inline {
	display: inline;
}

.label-newline {
	display: block;
}

.pt-postbody,
.cms-block-container .postbody {
	width: 100%;
}

.cms-block-container .content {
	overflow-x: hidden;
}

.cms-block-container .header {
	font-weight: bold;
}

.cms-block-container .postbody .codebox {
	display: inline-block;
	position: relative;
	width: 99%;
	margin: 10px 0;
}

.topic-title {
	float: none;
	display: inline;
}

/* CMS avatar sizes
---------------------------------------- */
.tiny-avatar img {
	vertical-align: middle;
	max-width: 12px;
	width: auto;
	width: 12px;
	max-height: 12px;
	height: auto;
	height: 12px;
}

.small-avatar img {
	vertical-align: top;
	max-width: 45px;
	width: auto;
	width: 45px;
	max-height: 45px;
	height: auto;
	height: 45px;
}

.medium-avatar img {
	vertical-align: top;
	max-width: 65px;
	width: auto;
	width: 65px;
	max-height: 65px;
	height: auto;
	height: 65px;
}

.cms-block-content .default-avatar-font {
	font-size: 6em;
	color: #ccc;
}

.post img {
	max-width: 100%;
	height: auto;
	-ms-interpolation-mode: bicubic;
}

.feeds img {
	max-width: 99%;
	margin: 0 5px;
}

/* Block Views
----------------------*/
/* images */
.img-ui {
	display: block;
	margin: 0 0 10px 0;
}

.small-img .img-ui {
	width: 55px;
}

.medium-img .img-ui {
	width: 95px;
}

.large-img .img-ui {
	max-width: 45%;
	width: auto;
	width: 45%;
}

.landscape-img .img-ui {
	width: 97%;
	height: 3.5em;
	text-align: center;
	margin: 0 0 5px 0;
}

.landscape-img .img-ui img {
	width: 100%;
	margin: -50% auto;
	vertical-align: middle;
}

.img-align-left .img-ui {
	float: left;
	margin: 0 2.5% 0 0;
}

.img-align-right .img-ui {
	float: right;
	margin: 0 0 0 2.5%;
}

.img-border .img-ui,
.img-border-padding .img-ui {
	border: 1px solid #ccc;
}

.img-border-padding .img-ui {
	padding: 3px;
}

.img-circle .img-ui {
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
}

/* text alignment */
.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.align-left {
	text-align: left;
}

.inner-spacing {
	padding: 1em;
}

.no-padding {
	padding: 0;
}

.cms-block-content .info {
	float: right;
}

/* labels & badges */
.label .info,
.badge .info {
	display: inline-block;
	border: 1px solid #ccc;
	line-height: 11px;
	text-align: center;
	padding: 3px;
	margin: 1px 0;
	font-size: 0.85em;
}

.badge .info {
	padding: 3px 10px;
	-o-border-radius: 10px;
	   border-radius: 10px;
}

/* Badge/Label colors */
.blue .info {
	background-color: #0000ff;
}

.gray .info {
	background-color: #9b9595;
}

.green .info {
	background-color: #90af45;
}

.orange .info {
	background-color: #ffa500;
}

.purple .info {
	background-color: #820182;
}

.red .info {
	background-color: #ff0000;
}

.blue .info,
.gray .info,
.green .info,
.orange .info,
.purple .info,
.red .info,
.blue .info a,
.gray .info a,
.green .info a,
.orange .info a,
.purple .info a,
.red .info a {
	color: #fff;
}

/* Icon Colors */
.fa-blue {
	color: #0000ff;
}

.fa-gray {
	color: #9b9595;
}

.fa-green {
	color: #90af45;
}

.fa-orange {
	color: #ffa500;
}

.fa-purple {
	color: #820182;
}

.fa-red {
	color: #ff0000;
}

/* Lists
----------*/
ul.pt-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.pt-list > li {
	margin: 5px 0;
	font-size: 11px;
	vertical-align: top;
	clear: both;
}

ul.pt-list > li > ul.pt-list {
	margin-left: 15px;
}

.pt-list-square ul.pt-list,
.pt-list-disc ul.pt-list,
.pt-list-circle ul.pt-list {
	list-style-position: inside;
}

.pt-list-circle ul.pt-list > li {
	list-style-type: circle;
}

.pt-list-disc ul.pt-list > li {
	list-style-type: disc;
}

.pt-list-square ul.pt-list > li {
	list-style-type: square;
}

.pt-list-numbered ul.pt-list > li {
	list-style: decimal inside;
}

.pt-list-inline ul.pt-list > li {
	display: inline;
	padding: 5px;
}

.pt-list-inline-sep ul.pt-list > li {
	display: inline;
}

.pt-list-inline-sep ul.pt-list > li:after {
	content: ', ';
}

.pt-list-inline-sep ul.pt-list > li:last-child:after {
	content: '';
}

.pt-list-flat ul.pt-list > li > ul.pt-list {
	margin: 0;
}

.pt-list-arrow ul.pt-list > li:before {
	content: '\00BB \0020';
}

.pt-list-hover ul.pt-list > li:hover,
.pt-list-striped ul.pt-list > li:nth-child(odd) {
	background-color: #ddd;
}

.pt-x-divider-dotted ul.pt-list > li {
	border-top: 1px dotted #ccc;
	padding-top: 5px;
	margin: 5px 0;
}

.pt-x-divider-line ul.pt-list > li {
	border-top: 1px solid #ccc;
	padding-top: 5px;
	margin: 5px 0;
}

.pt-y-divider-dotted ul.pt-list > li {
	border-left: 1px dotted #ccc;
}

.pt-y-divider-line ul.pt-list > li {
	border-left: 1px solid #ccc;
}

.pt-x-divider-line ul.pt-list:first-child > li:first-child,
.pt-x-divider-dotted ul.pt-list:first-child > li:first-child {
	border-top: 0;
}

.pt-y-divider-line ul.pt-list > li:first-child,
.pt-y-divider-dotted ul.pt-list > li:first-child {
	border-left: 0;
}

.pt-list-stacked ul.pt-list > li {
	padding: 5px;
	border: 1px solid #ccc;
}

nav ul.pt-list > li {
	font-size: 12px;
	padding-top: 5px;
	position: relative;
}

nav ul.pt-list li > a {
	display: block;
}

nav ul.pt-list .active > a,
nav ul.pt-list li > a:hover {
	font-weight: bold;
	color: #282525;
	text-decoration: none;
}

nav ul.pt-list > li.nav-header {
	list-style-type: none;
	margin-top: 5px;
}

.pt-list-square nav ul.pt-list li.nav-header,
.pt-list-disc nav ul.pt-list li.nav-header,
.pt-list-circle nav ul.pt-list li.nav-header {
	margin-left: 15px;
}

nav ul.pt-list > li.nav-header > a {
	border-bottom: 1px solid #ccc;
}

nav ul.pt-list > li.nav-header > a:hover {
	background-color: inherit;
}

.pt-x-divider-line nav ul.pt-list > li.nav-header > a,
.pt-x-divider-dotted nav ul.pt-list > li.nav-header > a,
.pt-y-divider-line nav ul.pt-list > li.nav-header > a,
.pt-y-divider-dotted nav ul.pt-list > li.nav-header > a {
	border: 0;
}

/*
 * Transform vertical list to horizontal blocks 
 * Based on technique by Ali Jafarian
 */
.list-block-auto ul.pt-list,
.list-block-2cols ul.pt-list,
.list-block-3cols ul.pt-list,
.list-block-4cols ul.pt-list,
.list-block-5cols ul.pt-list {
	font-size: 0;
}

.list-block-auto ul.pt-list > li,
.list-block-2cols ul.pt-list > li,
.list-block-3cols ul.pt-list > li,
.list-block-4cols ul.pt-list > li,
.list-block-5cols ul.pt-list > li {
	display: inline-block;
	padding: 0 10px;
	vertical-align: top;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.list-block-auto ul.pt-list > li {
	width: auto;
}

.list-block-2cols ul.pt-list > li {
	width: 50%;
}

.list-block-3cols ul.pt-list > li {
	width: 33.33333%;
}

.list-block-4cols ul.pt-list > li {
	width: 25%;
}

.list-block-5cols ul.pt-list > li {
	width: 20%;
}

/* Grids
 * Copyright (c) 2009, Nicole Sullivan. All rights reserved.
 * Code licensed under the BSD License:
----------------------------------------------------------- */
.line,
.lastUnit {
	overflow: hidden;
}

.unit {
	float: left;
}

.unitRight {
	float: right;
}

.size1of1 {
	float: none;
}

.size1of2 {
	width: 50%;
}

.size1of3 {
	width: 33.33333%;
}

.size2of3 {
	width: 66.66666%;
}

.size1of4 {
	width: 25%;
}

.size2of4 {
	width: 50%;
}

.size3of4 {
	width: 75%;
}

.size1of5 {
	width: 20%;
}

.size2of5 {
	width: 40%;
}

.size3of5 {
	width: 60%;
}

.size4of5 {
	width: 80%;
}

.lastUnit {
	float: none;
	width: auto;
}

@media screen and (max-width : 940px) {
	.sidebar {
		display: none;
		width: 50%;
		max-width: 200px;
		background-color: #8f929b;
		z-index: 100;
		top: 0;
	}

	.sidebar-left {
		position: absolute;
		left: 0;
		padding: 10px 10px 0 10px;
	}

	.sidebar-right {
		position: absolute;
		right: 0;
		padding: 10px 10px 0 10px;
	}

	.pt-responsive-show {
		display: block;
	}

	.pt-responsive-hide {
		display: none;
	}

	.pt-responsive-full-width {
		float: none;
		width: auto;
	}
}

@media screen and (max-width: 480px) {
	.line,
	.lastUnit {
		overflow: visible;
	}

	.unit,
	.size1of2,
	.size1of3,
	.size2of3,
	.size1of4,
	.size3of4,
	.size1of5,
	.size2of5,
	.size3of5,
	.size4of5 {
		width: auto;
		float: none;
		margin: 0 0 10px 0;
	}

	.horizontal > .unit > .cms-block-spacing,
	.horizontal > .lastUnit > .cms-block-spacing,
	.unit .cms-block-spacing,
	.post .cms-block-spacing,
	.cms-block-spacing {
		margin: 0 0 10px 0;
	}

	.list-block-auto ul.pt-list > li,
	.list-block-2cols ul.pt-list > li,
	.list-block-3cols ul.pt-list > li,
	.list-block-4cols ul.pt-list > li,
	.list-block-5cols ul.pt-list > li {
		width: auto;
		margin: 0 0 10px 0;
	}
	.sidebar {
		width: 50%;
	}
}