/**
 * Block options
 */
.blocks-gallery {
	margin: 0;
	padding: 0;
	height: 160px;
	overflow-y: auto;
	overflow-x: hidden;

	.sitemaker-block {
		text-align: center;
		font-weight: bolder;
		cursor: move;

		.inner {
			margin: 5px 0;
			padding: 10px;
			border: 1px solid #ccc;
			border-radius: 5px;
			background-color: #f0faf4;

			&:hover {
				background-color: #1d9c73;
				color: #fff;
				opacity: 0.8;
			}
		}

		i {
			float: left;
			color: #1d9c73;
		}

		&:hover i {
			color: #000;
		}
	}
}
