.modifiers {
	overflow: auto;
	margin-top: 0;
	display: none;

	dl {
		display: block;
		height: auto;
	}

	.scroll-list {
		position: relative;
		height: 100px;
		overflow: auto;
		padding-right: 3px;
	}
}

.dialog-check-button {
	float: left;
	display: block;
	margin-right: 5px;
	margin-top: 1em;
}

.block-settings {
	padding-left: 0;
	padding-right: 0;
}

.block-class-editor {
	.CodeMirror {
		width: 215px;
		height: 50px;
		outline: 1px solid #333;
	}
}
