<!-- IF S_CONTEXT -->
	<ul class="pt-list">
	<!-- BEGIN topicrow -->
		<li>
			<!-- IF topicrow.S_UNREAD_TOPIC -->{NEWEST_POST_IMG}<!-- ELSE -->{LAST_POST_IMG}<!-- ENDIF -->&nbsp;<a href="{topicrow.U_VIEWTOPIC}" class="topictitle">{topicrow.TOPIC_TITLE}</a><br />
			{L_POST_BY_AUTHOR} {topicrow.TOPIC_AUTHOR} {L_POSTED_ON_DATE} {topicrow.TOPIC_POST_TIME}<br /><br />{topicrow.TOPIC_CONTEXT}
		</li>
	<!-- END topicrow -->
	</ul>
<!-- ELSEIF S_MINI -->
	<ul class="pt-list">
	<!-- BEGIN topicrow -->
		<li title="{topicrow.TOPIC_PREVIEW}">
			<!-- IF topicrow.S_UNREAD_TOPIC -->{NEWEST_POST_IMG}<!-- ELSE -->{LAST_POST_IMG}<!-- ENDIF --><a href="{topicrow.U_VIEWTOPIC}">{topicrow.TOPIC_TITLE}</a><br />
			<!-- IF topicrow.ATTACH_ICON_IMG -->{topicrow.ATTACH_ICON_IMG} <!-- ENDIF -->{L_POST_BY_AUTHOR} {topicrow.TOPIC_AUTHOR} {L_POSTED_ON_DATE} {topicrow.TOPIC_POST_TIME}<br />
			<span class="gensmall">{L_REPLIES}: {topicrow.REPLIES}, {L_VIEWS}: {topicrow.VIEWS}</span>
		</li>
	<!-- END topicrow -->
	</ul>
<!-- ELSEIF S_LASTREAD -->
	<ul class="pt-list">
	<!-- BEGIN topicrow -->
		<li>
			<!-- IF topicrow.S_UNREAD_TOPIC -->{NEWEST_POST_IMG}<!-- ELSE -->{LAST_POST_IMG}<!-- ENDIF -->&nbsp;<a href="{topicrow.U_VIEWTOPIC}" title="{topicrow.TOPIC_PREVIEW}">{topicrow.TOPIC_TITLE}</a><br />
			<span class="small">{topicrow.TOPIC_READ}</span>
		</li>
	<!-- END topicrow -->
	</ul>
<!-- ELSE -->
	<ul class="pt-list">
	<!-- BEGIN topicrow -->
		<li><!-- IF topicrow.S_UNREAD_TOPIC -->{NEWEST_POST_IMG}<!-- ELSE -->{LAST_POST_IMG}<!-- ENDIF -->&nbsp;<a href="{topicrow.U_VIEWTOPIC}" title="{topicrow.TOPIC_PREVIEW}">{topicrow.TOPIC_TITLE}</a></li>
	<!-- END topicrow -->
	</ul>
<!-- ENDIF -->