<!-- IF .topicrow -->
<ul class="sm-list">
<!-- IF S_CONTEXT -->
	<!-- BEGIN topicrow -->
		<li>
			<div class="sm-inner">
			<!-- IF S_IS_BOT -->
				<span><i class="icon fa-file fa-fw <!-- IF topicrow.S_UNREAD_TOPIC -->icon-red<!-- ELSE -->icon-lightgray<!-- ENDIF --> icon-md" aria-hidden="true"></i><span class="sr-only">{topicrow.MINI_POST}</span></span>
			<!-- ELSE -->
				<a class="unread" href="{topicrow.U_MINI_POST}" title="{topicrow.MINI_POST}">
					<i class="icon fa-file fa-fw <!-- IF topicrow.S_UNREAD_TOPIC -->icon-red<!-- ELSE -->icon-lightgray<!-- ENDIF --> icon-md" aria-hidden="true"></i><span class="sr-only">{topicrow.MINI_POST}</span>
				</a>
			<!-- ENDIF -->
				{L_POST_BY_AUTHOR} {topicrow.TOPIC_AUTHOR} {L_POSTED_ON_DATE} {topicrow.TOPIC_POST_TIME}<br /><br />{topicrow.TOPIC_PREVIEW}
			</div>
		</li>
	<!-- END topicrow -->
<!-- ELSEIF S_MINI -->
	<!-- BEGIN topicrow -->
		<li title="{topicrow.TOPIC_PREVIEW}">
			<div class="sm-inner">
			<!-- IF S_IS_BOT -->
				<span><i class="icon fa-file fa-fw <!-- IF topicrow.S_UNREAD_TOPIC -->icon-red<!-- ELSE -->icon-lightgray<!-- ENDIF --> icon-md" aria-hidden="true"></i><span class="sr-only">{topicrow.MINI_POST}</span></span>
			<!-- ELSE -->
				<a class="unread" href="{topicrow.U_MINI_POST}" title="{topicrow.MINI_POST}">
					<i class="icon fa-file fa-fw <!-- IF topicrow.S_UNREAD_TOPIC -->icon-red<!-- ELSE -->icon-lightgray<!-- ENDIF --> icon-md" aria-hidden="true"></i><span class="sr-only">{topicrow.MINI_POST}</span>
				</a>
			<!-- ENDIF -->
				<!-- IF topicrow.ATTACH_ICON_IMG -->{topicrow.ATTACH_ICON_IMG} <!-- ENDIF -->{L_POST_BY_AUTHOR} {topicrow.TOPIC_AUTHOR} {L_POSTED_ON_DATE} {topicrow.TOPIC_POST_TIME}<br />
				<span class="gensmall">{L_REPLIES}: {topicrow.REPLIES}, {L_VIEWS}: {topicrow.VIEWS}</span>
			</div>
		</li>
	<!-- END topicrow -->
<!-- ELSE -->
	<!-- BEGIN topicrow -->
		<li>
		<!-- IF S_IS_BOT -->
			<span><i class="icon fa-file fa-fw <!-- IF topicrow.S_UNREAD_TOPIC -->icon-red<!-- ELSE -->icon-lightgray<!-- ENDIF --> icon-md" aria-hidden="true"></i><span class="sr-only">{topicrow.MINI_POST}</span></span>
		<!-- ELSE -->
			<a class="unread" href="{topicrow.U_MINI_POST}" title="{topicrow.MINI_POST}">
				<i class="icon fa-file fa-fw <!-- IF topicrow.S_UNREAD_TOPIC -->icon-red<!-- ELSE -->icon-lightgray<!-- ENDIF --> icon-md" aria-hidden="true"></i><span class="sr-only">{topicrow.MINI_POST}</span>
			</a>
		<!-- ENDIF -->
			<a href="{topicrow.U_VIEWTOPIC}" title="{topicrow.TOPIC_PREVIEW}">{topicrow.TOPIC_TITLE}</a>
		</li>
	<!-- END topicrow -->
<!-- ENDIF -->
</ul>
<!-- ENDIF -->