<form action="{{ S_LOGIN_ACTION }}" method="post">

    <div class="align-center">
	    <p>
	    	<span class="genmed">{{ lang('USERNAME') }}:</span><br /><input type="text" name="username" class="inputbox" tabindex="1" /><br />
			<span class="genmed">{{ lang('PASSWORD') }}:</span><br /><input type="password" name="password" class="inputbox" tabindex="2" />
		</p>
		<p><a href="{{ U_SEND_PASSWORD }}">{{ lang('FORGOT_PASS') }}</a></p>
		<p>
		{% if S_AUTOLOGIN_ENABLED %}
		    <input type="checkbox" class="radio" name="autologin" tabindex="3" /> <span class="gensmall">{{ lang('LOG_ME_IN') }}</span><br />
		{% endif %}
		{% if S_SHOW_HIDE_ME %}
			<input type="checkbox" class="radio" name="viewonline" tabindex="4" /> <span class="gensmall">{{ lang('SESSION_HIDE_ME') }}</span><br />
		{% endif %}
		</p>

	    <fieldset class="submit-buttons">
	        <input type="hidden" name="redirect" value="{{ U_REDIRECT }}" />
	        <input type="submit" name="login" value="{{ lang('LOGIN') }}" class="button1" tabindex="5" />
	    </fieldset>
    </div>
</form>

<a class="right-box" href="{{ U_REGISTER }}">{{ lang('REGISTER') }}</a>