<div class="align-center small clearfix"><strong>{RANGE}</strong></div>
<div class="header clearfix">
	<span class="right-box">{L_INFO}</span>
	<span>{L_USER}</span>
</div>
<ul class="pt-list">
<!-- IF S_LIST == 'bots' -->
	<!-- BEGIN member -->
	<li>{member.USERNAME} - {member.USER_INFO}</li>
	<!-- END member -->
<!-- ELSE -->
	<!-- BEGIN member -->
	<li>
		<span class="right-box gensmall">{member.USER_INFO}</span>
		<span class="tiny-avatar genmed">{member.USER_AVATAR} {member.USERNAME}</span>
	</li>
	<!-- END member -->
<!-- ENDIF -->
</ul>