<div class="align-center small clearfix"><strong>{RANGE}</strong></div>
<div class="row header">
	<div class="unit size1of2">{L_USER}</div>
	<div class="unit size1of2 lastUnit align-right">{L_INFO}</div>
</div>
<ul class="pt-list">
<!-- IF S_LIST == 'bots' -->
	<!-- BEGIN member -->
	<li>{member.USERNAME} - {member.USER_INFO}</li>
	<!-- END member -->
<!-- ELSE -->
	<!-- BEGIN member -->
	<li>
		<span class="info">{member.USER_INFO}</span>
		<span class="tiny-avatar genmed">{member.USER_AVATAR} {member.USERNAME}</span>
	</li>
	<!-- END member -->
<!-- ENDIF -->
</ul>