<nav>
	<ul class="pt-list fa-ul">
	<!-- BEGIN tree -->
		<!-- IF tree.S_THIS_DEPTH > tree.S_PREV_DEPTH -->
		<ul class="pt-list fa-ul">
		<!-- ELSE -->
		<!-- BEGIN close --></ul></li><!-- END close -->
		<!-- ENDIF -->
		<!-- IF tree.ITEM_URL -->
			<li<!-- IF tree.S_ACTIVE --> class="active"<!-- ENDIF -->>
				<a href="{tree.ITEM_URL}"><i class="{tree.ITEM_ICON} fa-fw"></i> {tree.ITEM_TITLE}</a>
		<!-- ELSE -->
			<li class="nav-header">
				<!-- IF tree.ITEM_TITLE !== '-' --><i class="{tree.ITEM_ICON} fa-fw"></i> {tree.ITEM_TITLE}<!-- ELSE --><hr /><!-- ENDIF -->
		<!-- ENDIF -->
		<!-- IF tree.S_NUM_KIDS == 0 -->
			</li>
		<!-- ENDIF -->
	<!-- END tree -->
	    <!-- BEGIN close_tree -->
	    </ul>
	    </li>
	    <!-- END close_tree -->
	</ul>
</nav>