<nav>
	<ul class="pt-list">
	<!-- BEGIN tree -->
		<!-- IF tree.S_THIS_DEPTH > tree.S_PREV_DEPTH -->
		<ul class="pt-list">
		<!-- ELSE -->
		<!-- BEGIN close --></ul></li><!-- END close -->
		<!-- ENDIF -->
		<!-- IF tree.ITEM_URL -->
			<li>
				<a href="{tree.ITEM_URL}"><i class="{tree.ITEM_ICON}"></i>{tree.ITEM_TITLE}</a>
		<!-- ELSE -->
			<li class="nav-header">
				<a><i class="{tree.ITEM_ICON}"></i>{tree.ITEM_TITLE}</a>
		<!-- ENDIF -->
		<!-- IF tree.S_NUM_KIDS == 0 -->
			</li>
		<!-- ENDIF -->
	<!-- END tree -->
	    <!-- BEGIN close_tree -->
	    </ul>
	    </li>
	    <!-- END close_tree -->
	</ul>
</nav>