<!-- IF .tree -->
<nav>
	<ul class="sm-list fa-ul">
	<!-- BEGIN tree -->
		<!-- IF tree.THIS_DEPTH > tree.PREV_DEPTH -->
		<ul class="sm-list fa-ul">
		<!-- ELSE -->
		<!-- BEGIN close --></ul></li><!-- END close -->
		<!-- ENDIF -->
		<!-- IF tree.ITEM_URL -->
			<li<!-- IF tree.IS_CURRENT --> class="active"<!-- ENDIF -->>
				<a href="{tree.FULL_URL}"><i class="{tree.ITEM_ICON}fa-fw"></i> {tree.ITEM_TITLE}</a>
		<!-- ELSE -->
			<li class="nav-header">
				<!-- IF tree.ITEM_TITLE !== '-' --><i class="{tree.ITEM_ICON}fa-fw"></i> {tree.ITEM_TITLE}<!-- ELSE --><hr /><!-- ENDIF -->
		<!-- ENDIF -->
		<!-- IF tree.NUM_KIDS == 0 -->
			</li>
		<!-- ENDIF -->
	<!-- END tree -->
	    <!-- BEGIN close_tree -->
	    </ul>
	    </li>
	    <!-- END close_tree -->
	</ul>
</nav>
<!-- ENDIF -->