<!-- INCLUDECSS https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.css -->
<!-- INCLUDEJS https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js -->

<div id="admin-bar" class="admin-bar-container">
	<div id="admin-options" class="admin-bar-inner" style="display: none;">
		<ul class="hmenu">
			<li class="hmenu-item">
				<a class="menu-item has-dropdown" href="#"><i class="fa fa-cubes"></i><span class="responsive-hide">{{ lang('BLOCKS') }}</span></a>
				<div id="add-block-panel" class="sm-dropdown">
					<div class="ui-state-default align-center"><strong>{{ lang('ADD_BLOCK_EXPLAIN') }}</strong></div>

					<div id="blocks-list" class="blocks-gallery">
						<div class="grid-3_sm-2-noBottom">
							{% for block in loops.block %}
							<div data-block="{{ block.SERVICE }}" class="col sitemaker-block">
								<div class="inner"><i class="fa fa-arrows-alt"></i>{{ block.NAME }}</div>
							</div>
							{% endfor %}
						</div>
					</div>

					<div class="ui-state-default align-center">&nbsp;</div>
			    </div>
			</li>
			<li class="hmenu-item">
				<a class="menu-item has-dropdown" href="#"><i class="fa fa-cog"></i><span class="responsive-hide">{{ lang('SETTINGS') }}</span></a>
				<div class="sm-dropdown">
					<div class="grid-2_sm-1-noBottom">
						<div class="col grid-1-noBottom">
							<div class="col">
								<p><a href="#" class="sm-startpage" id="startpage-toggler" data-is-start-page="{{ S_IS_STARTPAGE }}" data-start-page-exists="{{ S_STARTPAGE }}" data-controller="{{ CONTROLLER_NAME }}" data-method="{{ CONTROLLER_METHOD }}" data-params="{{ CONTROLLER_PARAMS }}">{{ lang(S_STARTPAGE ? 'REMOVE_STARTPAGE' : 'SET_STARTPAGE') }}</a></p>
								<p><a href="#" class="default-layout" id="default-layout-toggler" data-is-default-layout="{{ S_IS_DEFAULT }}" title="{{ lang('DEFAULT_LAYOUT_EXPLAIN') }}">{{ lang(S_IS_DEFAULT ? 'REMOVE_DEFAULT_LAYOUT' : 'MAKE_DEFAULT_LAYOUT') }}</a></p>
								<p{% if not U_VIEW_DEFAULT || S_IS_DEFAULT %} style="display: none;"{% endif %}><a href="{{ U_VIEW_DEFAULT }}">{{ lang('VIEW_DEFAULT_LAYOUT') }}</a></p>
							</div>
							<div class="col-bottom">
								<form id="copy-form">
									<p>
										<select name="from_route">{{ S_ROUTE_OPS }}</select>
										<select name="from_style">{{ S_STYLE_OPTIONS }}</select>
									</p>
									<p>
										<a href="#" class="layout-copy" data-action="view"><i class="fa fa-eye"></i> {{ lang('VISIT_PAGE') }}</a>
										<a href="#" class="layout-copy" data-action="copy"><i class="fa fa-copy"></i> {{ lang('BLOCKS_COPY_FROM') }}</a>
									</p>
								</form>
							</div>
						</div>
						<div class="col">
							<p><a href="#" id="delete-blocks">{{ lang('DELETE_ALL_BLOCKS') }}</a></p>
							<form id="ex-positions">
								<input type="checkbox" name="hide_blocks"{% if S_HIDE_BLOCKS %} checked="checked"{% endif %} /> {{ lang('HIDE_ALL_BLOCKS') }}<br /><br />
								<div class="grid-2_sm-1-equalHeight-noBottom">
									<div class="col">{{ lang('HIDE_BLOCK_POSITIONS') }}</div>
									<div class="col">
										<div class="ex-positions-box" data-positions="{{ S_EX_POSITIONS }}"></div>
									</div>
								</div>
								<p class="align-center">
									<input type="submit" class="button2" value="{{ lang('SAVE_SETTINGS') }}" />
								</p>
							</form>
						</div>
					</div>
				</div>
			</li>
			{% EVENT blitze_sitemaker_admin_bar_append %}
			<li class="hmenu-item right"><div class="spacing">&nbsp;</div></li>
			<li class="hmenu-item right"><a id="toggle-edit" class="btn" href="{{ U_EDIT_MODE }}"><i class="fa fa-check fa-lg"></i><span class="responsive-hide"> {{ lang('EXIT_EDIT_MODE') }}</span></a></li>
			<li class="hmenu-item right"><a id="save-changes" class="btn" href="#"><i class="fa fa-save fa-lg"></i><span class="responsive-hide">{{ lang('SAVE_CHANGES') }}</span></a></li>
			<li class="hmenu-item right"><a data-fancybox data-type="iframe" href="https://blitze.github.io/phpBB-ext-sitemaker/docs/{{ S_USER_LANG === 'en-gb' ? 'en' : S_USER_LANG|lower|replace({'-': '_'}) }}/introduction"><i class="fa fa-question-circle fa-lg fa-orange"></i></a></li>
			<li class="hmenu-item right"><div class="spacing">&nbsp;</div></li>
			<li class="hmenu-item right responsive-hide">
				<select id="style-options" style="display: none" onchange="if(this.options[this.selectedIndex].value != -1){ location.href='{{ PAGE_URL }}&amp;style='+this.options[this.selectedIndex].value;}">
					{{ S_STYLE_OPTIONS }}
				</select>
			</li>
		</ul>
	</div>
	<a id="admin-control" class="admin-bar-control" href="#"><i class="fa fa-exchange"></i></a>

	<div class="message-container">
		<div id="ajax-message" class="flash-message"></div>
	</div>
</div>

<div id="dialog-edit" class="dialog" title="{{ lang('EDIT_BLOCK') }}" style="display: none;"></div>

<div id="dialog-confirm" class="dialog" title="{{ lang('DELETE_BLOCK') }}" style="display: none;">
	<p><i class="fa fa-warning fa-4x pull-left fa-border" style="color: red"></i> {{ lang('DELETE_BLOCK_CONFIRM') }}</p>
</div>

<div id="dialog-copy" class="dialog" title="{{ lang('COPY_BLOCKS') }}" style="display: none;">
	<p><i class="fa fa-warning fa-4x pull-left fa-border" style="color: red"></i> {{ lang('COPY_BLOCKS_CONFIRM') }}</p>
</div>

<div id="dialog-delete-all" class="dialog" title="{{ lang('DELETE_ALL_BLOCKS') }}" style="display: none;">
	<p><i class="fa fa-warning fa-4x pull-left fa-border" style="color: red"></i> {{ lang('DELETE_ALL_BLOCKS_CONFIRM') }}</p>
</div>

{{ ICON_PICKER }}

<script id="block-template-container" type="text/x-jquery-tmpl">
	{% verbatim %}{% if block.view == 'basic' %}{% endverbatim %}
		{{ source('@blitze_sitemaker/views/basic_view.twig') }}
	{% verbatim %}{% elseif block.view == 'boxed' %}{% endverbatim %}
		{{ source('@blitze_sitemaker/views/boxed_view.twig') }}
	{% verbatim %}{% else %}{% endverbatim %}
		{{ source('@blitze_sitemaker/views/simple_view.twig') }}
	{% verbatim %}{% endif %}{% endverbatim %}
	<div class="block-controls">
		<a href="#" class="item-action delete-block" title="{{ lang('DELETE') }}"><span class="ui-icon ui-icon-closethick">{{ lang('DELETE') }}</span></a>
		<a href="#" class="item-action edit-block" title="{{ lang('EDIT') }}"><span class="ui-icon ui-icon-gear">{{ lang('EDIT') }}</span></a>
	</div>
</script>

{% EVENT blitze_sitemaker_admin_bar_templates %}

<script type="text/javascript">
// <![CDATA[
	var editMode = {{ S_EDIT_MODE|e('js') }};
	var config = {
		boardUrl: '{{ UA_BOARD_URL }}',
		modReWrite: {{ UA_MODREWRITE }},
		scriptPath: '{{ UA_SCRIPT_PATH }}',
		ext: '{{ UA_EXTENSION }}',
		route: '{{ UA_ROUTE }}',
		style: '{{ UA_STYLE_ID }}',
{% if FILEMANAGER %}
		filemanager: true,
		RFAccessKey: '{{ FILEMANAGER_AKEY|e('js') }}',
{% endif %}
		uploadUrl: '{{ UA_UPLOAD_URL }}',
		webRootPath: '{{ UA_WEB_ROOT_PATH }}',
	};
	var actions = {{ BLOCK_ACTIONS|e('js')|json_encode(constant('JSON_PRETTY_PRINT')) }};
	var lang = {
		edit:   '{{ lang('EDIT')|escape('js') }}',
		copy: '{{ lang('COPY')|escape('js') }}',
		remove: '{{ lang('DELETE')|escape('js') }}',
		cancel: '{{ lang('CANCEL')|escape('js') }}',
		clear: '{{ lang('CLEAR')|escape('js') }}',
		deleteAll: '{{ lang('DELETE_ALL')|escape('js') }}',
		hidingBlocks: '{{ lang('ROUTE_HIDDEN_BLOCKS')|escape('js') }}',
		hidingPos: '{{ lang('ROUTE_HIDDEN_POSITIONS')|escape('js') }}',
		ajaxError: '{{ lang('AJAX_ERROR')|escape('js') }}',
		ajaxLoading: '{{ lang('AJAX_LOADING')|escape('js') }}',
		processing: '{{ lang('PROCESSING')|e('js') }}',
		leaveConfirm: '{{ lang('LEAVE_CONFIRM')|escape('js') }}',
		updateSimilar: '{{ lang('UPDATE_SIMILAR')|escape('js') }}',
		fileManager: '{{ lang('FILE_MANAGER')|escape('js') }}',
		placeholder: '{{ lang('EDIT_ME')|escape('js') }}',
		setStartPage: '{{ lang('SET_STARTPAGE')|escape('js') }}',
		removeStartPage: '{{ lang('REMOVE_STARTPAGE')|escape('js') }}',
		makeDefaultLayout: '{{ lang('MAKE_DEFAULT_LAYOUT')|escape('js') }}',
		removeDefaultLayout: '{{ lang('REMOVE_DEFAULT_LAYOUT')|escape('js') }}',
	};
// ]]>
</script>