<div class="errorbox" style="display: none">
	<h3>{L_WARNING}</h3>
	<p>{ERROR_MSG}</p>
</div>

<form id="edit_form" method="post" style="width: 400px; height: 100%">
<div id="block-settings" style="border: 0; padding: 0">
	<!-- IF .options -->
	<ul>
		<li><a href="#tab-design">{L_BLOCK_DESIGN}</a></li>
	<!-- BEGIN options -->
		<!-- IF options.S_LEGEND --><li><a href="#tab-{options.S_LEGEND}">{options.LEGEND}</a></li><!-- ENDIF -->
	<!-- END options -->
	</ul>
	<!-- ENDIF -->

	<div id="tab-design">
		<fieldset>
			<dl>
				<dt><label for="block_status">{L_BLOCK_STATUS}</label></dt>
				<dd>
					<input type="radio" name="status" value="1"<!-- IF S_ACTIVE --> checked="checked"<!-- ENDIF --> id="block_status" /> {L_BLOCK_ACTIVE}&nbsp;
					<input type="radio" name="status" value="0"<!-- IF not S_ACTIVE --> checked="checked"<!-- ENDIF --> /> {L_BLOCK_INACTIVE}
				</dd>
			</dl>
			<dl>
				<dt><label for="block_type">{L_BLOCK_DISPLAY_TYPE}</label></dt>
				<dd>
					<input type="radio" name="type" value="0"<!-- IF not S_TYPE --> checked="checked"<!-- ENDIF --> id="block_type" /> {L_BLOCK_SHOW_ALWAYS}<br />
					<input type="radio" name="type" value="1"<!-- IF S_TYPE == 1 --> checked="checked"<!-- ENDIF --> /> {L_BLOCK_SHOW_LANDING_ONLY}<br />
					<input type="radio" name="type" value="2"<!-- IF S_TYPE == 2 --> checked="checked"<!-- ENDIF --> /> {L_BLOCK_SHOW_SUBPAGE_ONLY}
				</dd>
			</dl>
		<dl>
			<dt><label for="permission">{L_BLOCK_PERMISSION}</label></dt>
			<dd>
				<select id="permission" name="permission[]" multiple="multiple" size="3">
					{S_GROUP_OPS}
				</select>
			</dd>
		</dl>
		<dl>
			<dt><label for="block_class">{L_BLOCK_CLASS}</label></dt>
			<dd>
				<textarea id="block_class" class="block-preview" name="class" style="width: 97%">{S_BLOCK_CLASS}</textarea>
				<div class="right-box small">
					<a data-action="clear" class="block-class-actions" href="#"><i class="fa fa-reply"></i>{L_CLEAR}</a>&nbsp;&nbsp;
					<a data-action="toggle" class="block-class-actions" href="#"><i class="fa fa-sort"></i>{L_TOGGLE}</a>
				</div>
			</dd>
		</dl>
		<div id="css-class-options" class="modifiers rules small">
			<!-- INCLUDE block_css_presets.html -->
		</div>
		<dl>
			<dt><label for="no-wrap">{L_BLOCK_HIDE_CONTAINER}</label></dt>
			<dd>
				<input class="block-preview" type="radio" name="no_wrap" value="1"<!-- IF S_NO_WRAP --> checked="checked"<!-- ENDIF --> id="no-wrap" /> {L_YES}&nbsp;
				<input class="block-preview" type="radio" name="no_wrap" value="0"<!-- IF not S_NO_WRAP --> checked="checked"<!-- ENDIF --> /> {L_NO}
			</dd>
		</dl>
		<dl>
			<dt><label for="hide_title">{L_BLOCK_HIDE_TITLE}</label></dt>
			<dd>
				<input class="block-preview" type="radio" name="hide_title" value="1"<!-- IF S_HIDE_TITLE --> checked="checked"<!-- ENDIF --> id="hide_title" /> {L_YES}&nbsp;
				<input class="block-preview" type="radio" name="hide_title" value="0"<!-- IF not S_HIDE_TITLE --> checked="checked"<!-- ENDIF --> /> {L_NO}
			</dd>
		</dl>
	<!-- BEGIN options -->
		<!-- IF options.S_LEGEND -->
		</fieldset>
	</div>
	<div id="tab-{options.S_LEGEND}">
		<fieldset>
		<!-- ELSEIF options.TITLE -->
			<dl>
				<dt><label for="{options.KEY}">{options.TITLE}</label><!-- IF options.S_EXPLAIN --><br /><span>{options.TITLE_EXPLAIN}</span><!-- ENDIF --></dt>
				<dd>{options.CONTENT}</dd>
			</dl>
		<!-- ELSE -->
			{options.CONTENT}
		<!-- ENDIF -->
	<!-- END options -->
		</fieldset>
	</div>
</div>
</form>