<div id="icon-picker" class="icon-picker-container panel" style="display: none">
	<div id="icons-tab" class="icons-bottom-tabs">
		<ul>
			<li><a href="#tab-icons-font">{{ lang('ICON_FONT') }}</a></li>
			<li><a href="#tab-icons-font-settings">{{ lang('SETTINGS') }}</a></li>
			{% if loops.icon|length %}<li><a href="#tab-icons-image">{{ lang('ICON_IMAGE') }}</a></li>{% endif %}
		</ul>
		<div id="tab-icons-font" class="tab-content">
			<div class="icon-search">
				<input name="icons_search" id="icons-search" type="text" class="inputbox search" value="" placeholder="{{ lang('SEARCH') }}">
			</div>
			<div class="icons-container">
				<div id="icons-font-list" class="icons">
					{% for name, category in categories %}
					<p id="{{ 'cat-' ~ name }}" class="filter-icon">{{ lang('ICON_' ~ name|upper|replace({'-': "_"})) }}</p>
					<div class="icon-list">
					{%- for icon in category.icons -%}
						{%- for prefix in icon.prefixes -%}
						<div class="filter-icon" data-filter="{{ icon.terms }}">
							<a href="#{{ prefix ~ ' fa-' ~ icon.name }}"><i class="{{ prefix ~ ' fa-' ~ icon.name }}" aria-hidden="true"></i></a>
						</div>
						{%- endfor -%}
					{%- endfor -%}
					</div>
					{% endfor %}
				</div>
			</div>

			<select id="icons-font-cat-list" class="icon-categories">
				{% for category in categories|keys %}
				<option value="{{ '#cat-' ~ category }}">{{ lang('ICON_' ~ category|upper|replace({'-': "_"})) }}</option>
				{% endfor %}
			</select>

			<div class="preview-container">
				<div id="icon-picker-preview" class="preview">
					<i class="" aria-hidden="true"></i>
				</div>
			</div>
			<div id="icon-picker-actions" class="actions-container">
				<a href="#" id="icon-picker-insert" class="action-btn small">{{ lang('ICON_INSERT_UPDATE') }}</a>
				<a href="#" id="icon-picker-none" class="small">{{ lang('NO_ICON') }}</a>
			</div>
			<div class="clear"></div>
		</div>
		<div id="tab-icons-font-settings" class="tab-content">
			<form id="icon-customization">
				<fieldset class="small">
					<dl>
						<dt>{{ lang('ICON_SIZE') }}{{ lang('COLON') }}</dt>
						<dd>
							<select id="icons-size" class="icons-customize" name="size">
								<option value="" selected="selected">{{ lang('ICON_DEFAULT') }}</option>
								<option value="fa-xs">{{ lang('ICON_SIZE_XSMALL') }}</option>
								<option value="fa-sm">{{ lang('ICON_SIZE_SMALL') }}</option>
								<option value="fa-lg">{{ lang('ICON_SIZE_LARGER') }}</option>
								<option value="fa-2x">2x</option>
								<option value="fa-3x">3x</option>
								<option value="fa-4x">4x</option>
								<option value="fa-5x">5x</option>
								<option value="fa-6x">6x</option>
								<option value="fa-7x">7x</option>
								<option value="fa-8x">8x</option>
								<option value="fa-9x">9x</option>
								<option value="fa-10x">10x</option>
							</select>
						</dd>
					</dl>
					<dl>
						<dt>{{ lang('ICON_COLOR') }}{{ lang('COLON') }}</dt>
						<dd>
							<ul>
								<li>
									<span class="icons-color-container" title="{{ lang('ICON_COLOR_DEFAULT') }}">
										<span class="color">&nbsp;</span>
									</span>
									<input type="radio" name="color" class="icons-customize" value="" />
								</li>
								<li>
									<span class="icons-color-container">
										<span class="color bg-blue">&nbsp;</span>
									</span>
									<input type="radio" name="color" class="icons-customize" value="fa-blue" />
								</li>
								<li>
									<span class="icons-color-container">
										<span class="color bg-red">&nbsp;</span>
									</span>
									<input type="radio" name="color" class="icons-customize" value="fa-red" />
								</li>
								<li>
									<span class="icons-color-container">
										<span class="color bg-green">&nbsp;</span>
									</span>
									<input type="radio" name="color" class="icons-customize" value="fa-green" />
								</li>
								<li>
									<span class="icons-color-container">
										<span class="color bg-gray">&nbsp;</span>
									</span>
									<input type="radio" name="color" class="icons-customize" value="fa-gray" />
								</li>
								<li>
									<span class="icons-color-container">
										<span class="color bg-orange">&nbsp;</span>
									</span>
									<input type="radio" name="color" class="icons-customize" value="fa-orange" />
								</li>
								<li>
									<span class="icons-color-container">
										<span class="color bg-purple">&nbsp;</span>
									</span>
									<input type="radio" name="color" class="icons-customize" value="fa-purple" />
								</li>
							</ul>
						</dd>
					</dl>
					<dl>
						<dt>{{ lang('ICON_FLOAT') }}{{ lang('COLON') }}</dt>
						<dd>
							<label><input type="radio" name="float" class="icons-customize" value="" checked="checked" /> {{ lang('ICON_DEFAULT') }}</label>
						</dd>
						<dd>
							<label><input type="radio" name="float" class="icons-customize" value="fa-pull-left" /> {{ lang('ICON_FLOAT_LEFT') }}</label>
						</dd>
						<dd>
							<label><input type="radio" name="float" class="icons-customize" value="fa-pull-right" /> {{ lang('ICON_FLOAT_RIGHT') }}</label>
						</dd>
					</dl>
					<dl>
						<dt>{{ lang('ICON_MISC') }}{{ lang('COLON') }}</dt>
						<dd>
							<label><input type="checkbox" name="fw" class="icons-customize" value="fa-fw" /> {{ lang('ICON_MISC_FIXED_WIDTH') }}</label>
						</dd>
						<dd>
							<label><input type="checkbox" name="bordered" class="icons-customize" value="fa-border" /> {{ lang('ICON_MISC_BORDERED') }}</label>
						</dd>
						<dd>
							<label><input type="checkbox" name="spinning" class="icons-customize" value="fa-spin" /> {{ lang('ICON_MISC_SPINNING') }}</label>
						</dd>
						<dd>
							<label><input type="checkbox" name="pulse" class="icons-customize" value="fa-pulse" /> {{ lang('ICON_MISC_PULSE') }}</label>
						</dd>
					</dl>
					<dl>
						<dt>{{ lang('ICON_ROTATION') }}{{ lang('COLON') }}</dt>
						<dd>
							<label><input type="radio" name="rotation" class="icons-customize" value="" checked="checked" /> {{ lang('ICON_DEFAULT') }}</label>
						</dd>
						<dd>
							<label><input type="radio" name="rotation" class="icons-customize" value="fa-rotate-90" /> {{ lang('ICON_ROTATION_90_DEG') }}</label>
						</dd>
						<dd>
							<label><input type="radio" name="rotation" class="icons-customize" value="fa-rotate-180" /> {{ lang('ICON_ROTATION_180_DEG') }}</label>
						</dd>
						<dd>
							<label><input type="radio" name="rotation" class="icons-customize" value="fa-rotate-270" /> {{ lang('ICON_ROTATION_270_DEG') }}</label>
						</dd>
						<dd>
							<label><input type="radio" name="rotation" class="icons-customize" value="fa-flip-horizontal" /> {{ lang('ICON_FLIP_HORIZONTAL') }}</label>
						</dd>
						<dd>
							<label><input type="radio" name="rotation" class="icons-customize" value="fa-flip-vertical" /> {{ lang('ICON_FLIP_VERTICAL') }}</label>
						</dd>
						<dd>
							<label><input type="radio" name="rotation" class="icons-customize" value="fa-flip-both" /> {{ lang('ICON_FLIP_BOTH') }}</label>
						</dd>
					</dl>
				</fieldset>
			</form>
		</div>
		{% if loops.icon|length %}
		<div id="tab-icons-image" class="tab-content">
			{% for icon in loops.icon %}
			<a href="#"><img src="" alt="" /></a>
			{% endfor %}
		</div>
		{% endif %}
	</div>
</div>