{% if S_EDIT_MODE %}
	{% set EDITABLE_CLASS = ' editable' %}
	{% set S_BLOCK_CONTROLS %}
		<div class="block-controls">
			<a href="#" class="item-action delete-block" title="{L_DELETE}"><span class="ui-icon ui-icon-closethick">{L_DELETE}</span></a>
			<a href="#" class="item-action edit-block" title="{L_EDIT}"><span class="ui-icon ui-icon-gear">{L_EDIT}</span></a>
		</div>
	{% endset %}
{% endif %}
<div class="sm-block-spacing"></div>

<div class="sm-responsive-show">
	<!-- IF .sidebar or S_EDIT_MODE --><a class="sidebar-control left-box" href="#" data-toggle="sidebar"><i class="fa fa-exchange fa-lg"></i></a><!-- ENDIF -->
	<!-- IF .subcontent or S_EDIT_MODE --><a class="sidebar-control right-box" href="#" data-toggle="subcontent"><i class="fa fa-exchange fa-lg"></i></a><!-- ENDIF -->
</div>

<div class="sitemaker">
	<!-- IF .panel or S_EDIT_MODE -->
	<div class="grid">
		<div id="pos-panel" class="grid__col grid__col--5-of-5 block-position">
			<!-- BEGIN panel -->
			<div id="block-{panel.BID}" class="block">
				<div class="panel post sm-block-container{panel.CLASS}<!-- IF panel.NO_WRAP --> no-wrap<!-- ENDIF --> sm-block-spacing">
					<div class="inner">
						<!-- IF panel.TITLE and not panel.HIDE_TITLE -->
						<h2 class="sm-block-header">
							<span class="block-icon"><i class="{panel.ICON}" aria-hidden="true"></i></span>
							<span class="block-title{EDITABLE_CLASS}">{panel.TITLE}</span>
						</h2>
						<!-- ENDIF -->
						<div class="sm-block-content">
							{panel.CONTENT}
						</div>
					</div>
				</div>
				{S_BLOCK_CONTROLS}
			</div>
			<!-- END panel -->
		</div>
	</div>
	<!-- ENDIF -->

	<div class="grid">
		<div class="grid__col <!-- IF .sidebar or S_EDIT_MODE -->grid__col--4-of-5<!-- IF not .sidebar --> lastUnit<!-- ENDIF --><!-- ELSE --> grid__col--5-of-5<!-- ENDIF --> sm-responsive-full-width">
			<!-- IF .top_hor or S_EDIT_MODE -->
				{% set DIV = 0 %}
				{% set SIZE = 3 %}
			<div class="grid">
				<div id="pos-top_hor" class="block-position horizontal">
				<!-- BEGIN top_hor -->
					<!-- IF DIV eq 0 -->
						<!-- IF (S_TOP_HOR_COUNT - top_hor.S_ROW_COUNT) % 3 eq 0 or (S_TOP_HOR_COUNT - top_hor.S_ROW_COUNT) > 3 -->
							{% set DIV = 3 %}
						<!-- ELSEIF (S_TOP_HOR_COUNT - top_hor.S_ROW_COUNT) % 2 eq 0 -->
							{% set DIV = 3 %}
							{% set SIZE = 2 %}
						<!-- ELSE -->
							{% set DIV = 1 %}
							{% set SIZE = 1 %}
						<!-- ENDIF -->
					<!-- ENDIF -->
				<div id="block-{top_hor.BID}" class="block grid__col <!-- IF SIZE > 1 -->grid__col--1-of-{SIZE}<!-- ELSE -->grid__col--3-of-3<!-- ENDIF -->">
					<div class="panel post sm-block-container{top_hor.CLASS}<!-- IF top_hor.NO_WRAP --> no-wrap<!-- ENDIF --> sm-block-spacing">
						<div class="inner">
							<!-- IF top_hor.TITLE and not sidebar.HIDE_TITLE -->
							<h2 class="sm-block-header">
								<span class="block-icon"><i class="{top_hor.ICON}" aria-hidden="true"></i></span>
								<span class="block-title{EDITABLE_CLASS}">{top_hor.TITLE}</span>
							</h2>
							<!-- ENDIF -->
							<div class="sm-block-content">
								{top_hor.CONTENT}
							</div>
						</div>
					</div>
					{S_BLOCK_CONTROLS}
				</div>
					<!-- IF (top_hor.S_ROW_COUNT % DIV + 1) eq DIV and not top_hor.S_LAST_ROW -->
						{% set DIV = 0 %}
					<!-- ENDIF -->
				<!-- END top_hor -->
			</div>
			</div>
			<!-- ENDIF -->
			<div class="grid">
				<div id="main-content" class="grid__col <!-- IF S_EDIT_MODE or .subcontent -->grid__col--3-of-4<!-- IF not .subcontent --> lastUnit<!-- ENDIF --><!-- ELSE -->grid__col--4-of-4<!-- ENDIF --> sm-responsive-full-width">
					<!-- IF .top or S_EDIT_MODE -->
					<div class="grid">
						<div id="pos-top" class="grid__col grid__col--5-of-5 block-position">
							<!-- BEGIN top -->
							<div id="block-{top.BID}" class="block">
								<div class="panel post sm-block-container{top.CLASS}<!-- IF top.NO_WRAP --> no-wrap<!-- ENDIF --> sm-block-spacing">
									<div class="inner">
										<!-- IF top.TITLE and not top.HIDE_TITLE -->
										<h2 class="sm-block-header">
											<span class="block-icon"><i class="{top.ICON}" aria-hidden="true"></i></span>
											<span class="block-title{EDITABLE_CLASS}">{top.TITLE}</span>
										</h2>
										<!-- ENDIF -->
										<div class="sm-block-content">
											{top.CONTENT}
										</div>
									</div>
								</div>
								{S_BLOCK_CONTROLS}
							</div>
							<!-- END top -->
						</div>
					</div>
					<!-- ENDIF -->

					<div<!-- IF S_EDIT_MODE or not .module --> class="sm-block-spacing"<!-- ENDIF -->>
