.admin-bar-inner {
	display: block;
	width: 100%;
	height: 38px;
	background-color: #c33;
	position: relative;
}

.admin-bar-container .hmenu {
	margin: 0;
	padding: 1px 10px;
	width: auto;
	list-style: none;
}

.admin-bar-container .hmenu li {
	float: left;
	display: block;
	margin-left: 4px;
	text-align: center;
	position: relative;
	line-height: 36px;
}

.admin-bar-container .hmenu li .dropdown {
	margin-right: -500px;
	line-height: normal;
}

.admin-bar-container .hmenu li .dropdown p {
	display: block;
	margin-top: 1em;
}

.admin-bar-container .hmenu li .menu-item {
	padding: 10px;
	color: #ccc;
	text-transform: uppercase;
	font: bold 1.2em Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}

.admin-bar-container .hmenu li .btn,
.admin-bar-container .hmenu li .menu-item {
	font: bold 1.2em Arial, Helvetica;
}

.admin-bar-container .hmenu li .btn {
	margin: 5px 0 5px 5px;
}

.admin-bar-container .hmenu li .dropped,
.hmenu li:hover > .menu-item {
	color: #333;
	background-color: #fff;
	border-radius: 5px;
}

.admin-bar-container .hmenu li .dropped,
.hmenu li:hover > .dropped {
	padding-bottom: 14px;
	border-radius: 5px 5px 0 0;
	z-index: 1;
}

.admin-bar-container .hmenu li .dropdown {
	display: none;
	margin-top: 36px;
	margin-left: -6px;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #c33;
	border-top: 0;
	position: absolute;
	top: 0;
	text-align: left;
	border-radius: 5px;
}

.admin-bar-container .hmenu .right {
	float: right;
	position: relative;
}

.admin-bar-container .hmenu li .spacing {
	width: 25px;
}

.blocks-gallery {
	margin: 0;
	padding: 0;
	height: 160px;
	overflow: auto;
}

.primetime-block {
	float: left;
	text-align: center;
	font-weight: bolder;
	width: 33.33%;
	position: relative;
	cursor: move;
}

.primetime-block .inner {
	margin: 5px 10px 5px 0;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #f0faf4;
}

.primetime-block .inner:hover {
	background-color: #1d9c73;
	color: #fff;
	opacity: 0.8;
}

.primetime-block i {
	float: left;
	color: #1d9c73;
}

.admin-bar-container .primetime-block:hover i {
	color: #000;
}

.inline-form {
	display: inline;
	font-size: 0.8em;
}

.inline-form input {
	width: 65%;
	cursor: pointer;
	cursor: hand;
}

.modifiers {
	overflow: auto;
	margin-top: 0;
	display: none;
}

.modifiers dl {
	display: block;
	height: auto;
}

.block-admin-button-active {
	background: none;
	background-color: #ffffff;
	border-bottom: 0;
	z-index: 1000;
}

.sidebar {
	margin-bottom: -5000px;
	padding-bottom: 5000px;
}

.block-receiver {
	min-height: 55px;
	display: block;
}

.show-positions {
	border: 1px dashed #ccc;
}

.sorting {
	display: block;
	position: relative;
	min-width: 200px;
}

.dragging {
	white-space: nowrap;
	width: 150px;
}

.horizontal .sorting {
	float: left;
	width: 33%;
	position: relative;
}

.horizontal .size1of1 {
	float: left;
	width: 100%;
}

.empty-position {
	display: none;
}

.block-receiver .block {
	position: relative;
}

.block-receiver .block-title {
	height: 20px;
	width: auto;
	max-width: 90%;
	cursor: pointer;
	overflow: visible;
}

.block-receiver .block-title:hover {
	border: 1px solid #d5f8a0;
}

.block-controls,
.block-receiver .block .block-controls {
	display: none;
	position: absolute;
	top: 15px;
	right: 15px;
	width: auto;
}

.block-receiver .block-controls .item-action {
	float: right;
}

.block-receiver .block:hover .block-controls {
	display: block;
}

.block-receiver .block:hover .block-controls a:hover {
	border: 1px solid #ccc;
}

.block-receiver .block-icon {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-right: 2px;
	text-align: center;
	cursor: pointer;
}

.block-receiver .block-icon:hover {
	border: 1px solid #ccc;
}

.dialog-check-button {
	float: left;
	display: block;
	margin-right: 5px;
	margin-top: 1em;
}

.editable-block {
	margin: 1px;
}

.editable-block:hover {
	outline: 1px solid #d5f8a0;
}

.message-container {
	position: relative;
	left: 50%;
	float: left;
	clear: both;
	font-size: 1.2em;
	text-align: left;
}

.message-container .flash-message {
	display: none;
	background-color: #d5f8a0;
	padding: 5px 10px;
	position: relative;
	left: -50%;
	text-align: left;
}