@import 'globals';

.flex {
	> dl {
		position: relative;

		> dt {
			float: left;
			clear: left;
			width: 40%;
			margin: 0 0 0.7em 0;

			.sidebar & {
				width: 100%;
				padding-left: 0;
			}
		}

		> dd {
			float: left;
			width: 58%;
			margin: 0;
			position: relative;

			.sidebar & {
				width: 100%;
				padding-left: 0;
			}
		}
	}

	.sidebar & {
		.resultbar {
			width: 80%;
			padding: 0;
		}

		.poll_option_percent {
			position: absolute;
			width: auto;
			bottom: 0;
			right: 0;
			padding: 0;
		}
	}
}

/* blocks layout */
.sm-block-spacing {
	margin-bottom: $gutter-width;

	.post & {
		margin: 0.6em auto;
	}
}

.sm-block-content {
	display: block;
	clear: both;
	overflow: hidden;
	word-wrap: break-word;

	.info {
		float: right;
	}

	li {
		list-style-type: inherit;
	}
}

.sm-block-container {
	.postbody {
		@extend .sm-postbody;

		.codebox {
			display: inline-block;
			position: relative;
			width: 99%;
			margin: $gutter-width 0;
		}
	}

	.content {
		overflow-x: hidden;
		min-height: 1px;
	}

	.header {
		font-weight: bold;
	}
}

.inner-spacing {
	padding: 1em;
}

.no-padding {
	padding: 0;
}

/* Footer */
.footer {
	&.panel {
		padding: 1rem;
	}

	.block {
		.panel {
			background: transparent;
		}
	}

	@media (max-width: $toast-breakpoint-small) {
		margin-left: 0;
	}
}

.grid {
	@media (max-width: $toast-breakpoint-small) {
		.sitemaker {
			margin-left: -5px;
			margin-right: -5px;

			.forabg {
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
}
