$admin-bar-height: 38px !default;
$admin-bar-bgcolor: #c33 !default;

$gutter-width: 10px !default;
$border-color: #ccc !default;
$panel_border_radius: 7px !default;

// List settings
$list-bgcolor: #ddd !default;
$nav-list-active-color: #282525 !default;

// Avatar sizes
$tiny-avatar-size: 12px !default;
$small-avatar-size: 45px !default;
$medium-avatar-size: 65px !default;

// Image sizes
$small-image-size: 25% !default;
$medium-image-size: 35% !default;
$large-image-size: 45% !default;
$image-border-color: #ccc !default;

// badges/label colors
$primary-color: #7b7bb5 !default;
$info-color: #c0daed !default;
$success-color: #a3b579 !default;
$warning-color: #c18920 !default;
$danger-color: #ff0000 !default;

// font icon colors
$icon-color-blue: #0000ff !default;
$icon-color-grey: #9b9595 !default;
$icon-color-green: #90af45 !default;
$icon-color-orange: #ffa500 !default;
$icon-color-purple: #820182 !default;
$icon-color-red: #ff0000 !default;

// navbar settings
$navbar_background_color: #0076b1 !default;
$navbar_hover_background_color: #0e9adf !default;
$navbar_text_color: #fff !default;
$navbar_border_color: #368ad2 !default;
$navbar_sub_menu_background_color: #444 !default;
$navbar_toggle_menu_color: #333 !default;

// Grid settings
$toast-col-groups: (1, 2, 3, 4, 5, 8);
$toast-gutter-width: 10px;
$toast-breakpoint-medium: 940px;
$toast-breakpoint-small: 768px;
$toast-pushes: false;
$toast-pulls: false;

// functions and mixins
@function set-text-color($color) {
	@if (lightness($color) > 60) {
		@return #000;
	}
	@else {
		@return #fff;
	}
}

@mixin rgba-background($hexcolor, $opacity) {
	background-color: $hexcolor;
	background-color: rgba($hexcolor, $opacity); 
}
