@import "globals";

/* Icon Colors */
.fa-blue {
	color: $icon-color-blue;
}

.fa-gray {
	color: $icon-color-grey;
}

.fa-green {
	color: $icon-color-green;
}

.fa-orange {
	color: $icon-color-orange;
}

.fa-purple {
	color: $icon-color-purple;
}

.fa-red {
	color: $icon-color-red;
}
