// credit: http://w3bits.com/css-responsive-nav-menu/

@import "globals";

//@extend-elements
//original selectors
//.sm-menu li, .sm-toggle-menu, .sm-menu a
%extend_1 {
	position: relative;
	display: block;
	color: $navbar_text_color;
	text-decoration: none;
}

//original selectors
//.sm-toggle-menu .drop-icon, .sm-menu li label.drop-icon
%extend_2 {
	position: absolute;
	right: 0;
	top: 0;
}

//original selectors
//.sm-menu label.drop-icon, .sm-toggle-menu span.drop-icon
%extend_3 {
	padding: 1em;
	text-align: center;
	background-color: $navbar_toggle_menu_color;
	text-shadow: 0 0 0 transparent;
	color: $navbar_text_color;
}

.sm-clearfix {
	zoom: 1;
	&:before {
		content: '';
		display: table;
	}
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}
.sm-menu {
	padding: 0;
	margin: 4px -5px -5px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	ul {
		margin: 0;
		padding: 0;
		z-index: 3000;
		span.drop-icon {
			display: none;
		}
	}
	.main-menu {
		display: none;
		margin: 0;
	}
	input[type="checkbox"] {
		display: none;
		&:checked + .sub-menu {
			display: block;
		}
	}
	li {
		border-style: solid;
		border-color: $navbar_border_color;
		border-width: 0 0 1px;
		@extend %extend_1;
		label.drop-icon {
			@extend %extend_2;
		}

		&.active {
			margin: -2px 0;
			padding: 2px 0 0;
			border-radius: 0;
			clear: none;
		}
	}
	.sub-menu {
		border-style: solid;
		border-color: $navbar_border_color;
		background-color: $navbar_sub_menu_background_color;
		border-width: 1px 1px 0;
		margin: 0 1em;
		display: none;
		li:last-child {
			border-width: 0;
		}
		a:hover {
			color: $navbar_sub_menu_background_color;
		}
	}
	a {
		@extend %extend_1;
		padding: 1em 1.5em;
		transition: all .125s ease-in-out;
		&:hover {
			background-color: $navbar_text_color;
			color: $navbar_hover_background_color;
		}
	}
	label.drop-icon {
		@extend %extend_3;
	}
}
.sm-toggle-menu {
	border-style: solid;
	border-color: $navbar_toggle_menu_color;
	border-width: 0 0 1px;
	@extend %extend_1;
	background: $navbar_toggle_menu_color;
	padding: 1em 1.5em;
	.drop-icon {
		@extend %extend_2;
	}
	span.drop-icon {
		@extend %extend_3;
	}
}
@media only screen and(min-width: $toast-breakpoint-small) {
	.sm-menu {
		padding-top: 2px;
		.main-menu {
			display: block;
			margin: 0 7px;
		}
		li {
			float: left;
			border-width: 0 1px 0 0;
			&:hover > input[type="checkbox"] + .sub-menu {
				display: block;
			}
		}
		.sub-menu {
			border-width: 0;
			margin: 0;
			position: absolute;
			top: 100%;
			left: 0;
			width: 12em;
			display: none;
			li {
				float: none;
				border-width: 0 0 1px;
			}
			.sub-menu {
				top: 0;
				left: 100%;
			}
			.drop-icon {
				position: absolute;
				top: 0;
				right: 0;
				padding: 1em;
			}
		}
		label.drop-icon {
			display: none;
		}
		ul span.drop-icon {
			display: inline-block;
			margin-left: 5px;
		}
		input[type="checkbox"]:checked + .sub-menu {
			display: none;
		}
	}
	.sm-toggle-menu {
		display: none;
	}
}
.sm-tm:checked + .main-menu {
	display: block;
}