.tree-builder ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.tree-builder ol ol {
	margin: 0 0 0 20px;
}

.tree-builder li {
	margin: 2px 0 0 0;
	padding: 0;
}

.tree-builder li div {
	font-weight: bold;
	padding: 5px;
	margin: 0;
	cursor: move;
}

.tree-builder .icon img {
	width: 15px;
	max-width: 15px;
	margin-right: 2px;
	vertical-align: central;
	height: auto;
}

.tree-builder .loader,
.tree-builder .message {
	display: none;
	border: 2px solid #ccc;
	background-color: #d5f8a0;
	padding: 5px;
	z-index: 100;
	position: absolute;
	top: 0;
	right: 0;
}

.tree-builder .message {
	color: #e11414;
	font-weight: bold;
}

.tree-builder li form {
	display: inline-block;
}

.tree-builder .icon-container {
	border: 1px solid #ccc;
	width: auto;
}

.tree-builder .icon-select {
	display: block;
	text-align: center;
	width: 16px;
	height: 16px;
}

.tree-builder li .editable,
.tree-builder li input {
	display: inline-block;
	margin: auto 4px;
	height: 16px;
	line-height: 16px;
	cursor: pointer;
	cursor: hand;
}

.tree-builder li .editable:hover {
	border: 1px solid #d5f8a0;
}

.tree-builder .placeholder {
	background-color: #cfcfcf;
}

.tree-builder .items-container {
	margin: 1px 0;
	height: 550px;
	overflow: auto;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.tree-builder .center {
	position: relative;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
}

.tree-builder .items-list {
	padding: 4px;
}

.tree-builder .ui-nestedSortable-error {
	background: #fbe3e4;
	color: #8a1f11;
}

.tree-builder .bulk-container {
	margin-bottom: 5px;
	position: relative;
}

.tree-builder .bulk-dropdown {
	width: 350px;
	height: auto;
	display: none;
	position: absolute;
	z-index: 1000;
}

.tree-builder .bulk-container .bulk-editor {
	width: 100%;
	height: 300px;
	position: relative;
}

.tree-builder .error {
	color: #f70909;
	font-weight: bolder;
	font-size: 9px;
}

.tree-builder .item-action {
	cursor: auto;
}

.tree-builder .item-action span:hover {
	border: 1px solid #ccc;
}

.tree-builder select,
.tree-builder option {
	width: 100%;
	overflow: auto;
}

.align-right {
	text-align: right;
}

.left {
	float: left;
}

.right {
	float: right;
}