.tree-builder {
	display: none;

	ol {
		margin: 0;
		padding: 0;
		list-style-type: none;

		ol {
			margin: 0 0 0 20px;
		}

		li {
			margin: 2px 0 0 0;
			padding: 0;

			> div {
				font-weight: bold;
				padding: 5px;
				margin: 0;
				cursor: move;
			}

			input {
				margin-left: 4px;
			}

			.icon-container {
				border: 1px solid #ccc;
				margin-right: 4px;
				width: auto;
			}

			.icon-select {
				display: block;
				text-align: center;
				width: 16px;
				height: 16px;
			}
		}

		.icon img {
			width: 15px;
			max-width: 15px;
			margin-right: 2px;
			vertical-align: central;
			height: auto;
		}
	}

	.message {
		border: 1px solid #ccc;
		border-radius: 4px;
		background-color: #d5f8a0;
		padding: 5px 8px;
		color: #e11414;
		font-weight: bold;
	    max-width: 60%;
	    margin: auto;
	}

	.placeholder {
		background-color: #cfcfcf;
	}

	.items-container {
		margin: 1px 0;
		height: 550px;
		overflow: auto;
		transform-style: preserve-3d;
	}

	.center {
		position: relative;
		text-align: center;
		top: 50%;
		transform: translateY(-50%);
	}

	.items-list {
		padding: 4px;
	}

	.ui-nestedSortable-error {
		background: #fbe3e4;
		color: #8a1f11;
	}

	.bulk-container {
		margin-bottom: 5px;
		position: relative;

		.bulk-editor {
			width: 100%;
			height: 300px;
			position: relative;
		}
	}

	.bulk-dropdown {
		width: 350px;
		height: auto;
		display: none;
		position: absolute;
		z-index: 1000;

		fieldset {
			margin: 0;
		}
	}
	
	.bulk-type-items {
		width: auto;
		max-height: 150px;
		overflow: hidden;
		overflow-y: auto;
		white-space: nowrap;
		z-index: 5000;
	
		a {
			display: block;
			width: 100%;
			padding: 4px 8px;
			margin: 1px;
			background: #eee;
			
			&:hover {
				text-decoration: none;
				opacity: 0.8;
			}
		}
	}

	.error {
		color: #f70909;
		font-weight: bolder;
		font-size: 9px;
	}

	.item-action {
		cursor: auto;
	}

	.item-spacing {
		margin: 0 5px;
	}

	select,
	option {
		width: 100%;
		overflow: auto;
	}
}

.cm-tab {
	border-left: 1px dashed #444;
}

.align-right {
	text-align: right;
}

.left {
	float: left;
}

.right {
	float: right;
}

@import '../../_partials/_icons.scss';
